In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
TBCD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Teams by Conf and Division')
PYR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Passing Yards Ranking')
APY=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='All Purpose Yards')
CKR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Combined Kick Returns')
CPG=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Completions Per Game')
FGP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Field Goal Percentage')
CP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Completion Percentage')
TDCP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='3rd Down Conversion PCT')
TDCPD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='3rd Down Conversion PCT DEFENSE')
FDCP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='4th Down Conversion PCT')
FDCPD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='4th Down Conversion PCT Defense')
R=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Ranking')
SBY=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Schedule By Year')
ODDS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Standings')
SECR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-Roster')
SECS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC Starters')
SECTS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SECTeamStats')
ESPNO=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='ESPN-Odds')
SECODDS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Odds')
SECO=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Offense')
SECD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Defense')

In [3]:
TBCDSEC = TBCD[TBCD['Conference '] == 'SEC']
TBCDSECT=[]

for team in TBCDSEC['Team']:
    TBCDSECT.append(team)
    
TBCDSECT

['Alabama',
 'Arkansas',
 'Auburn',
 'Florida',
 'Georgia',
 'Kentucky',
 'LSU',
 'Mississippi State',
 'Missouri',
 'Ole Miss',
 'South Carolina',
 'Tennessee',
 'Texas A&M',
 'Vanderbilt']

In [4]:
TBCDSECT.append('Mississippi')
TBCDSECT.append('Louisiana State')

In [5]:
PYR.head()

,Passing Yards Ranking,Name,TEAM,CL,POSITION,G,PASS ATT,PASS COM,INT,PASS TD,PASS YDS
0,1,Brennan Armstrong,Virginia,Jr.,QB,6,284,185,6,17,2460
1,2,Bailey Zappe,Western Ky.,Sr.,QB,5,243,171,3,21,2235
2,3,Jake Haener,Fresno St.,Sr.,QB,6,236,164,6,18,2230
3,4,Grant Wells,Marshall,Fr.,QB,6,241,156,9,8,1992
4,5,Seth Henigan,Memphis,Fr.,QB,6,215,130,3,14,1938

In [6]:
PYRSEC= PYR[PYR['TEAM'].isin(TBCDSECT)]
PYRSEC

,Passing Yards Ranking,Name,TEAM,CL,POSITION,G,PASS ATT,PASS COM,INT,PASS TD,PASS YDS
10,11,Bryce Young,Alabama,So.,QB,6,197,137,3,20,1734
12,13,Max Johnson,LSU,So.,QB,6,219,135,4,17,1729
16,17,Connor Bazelak,Missouri,So.,QB,6,231,155,5,12,1690
24,25,Matt Corral,Ole Miss,Jr.,QB,5,146,101,0,12,1497
53,-,K.J. Jefferson,Arkansas,So.,QB,6,126,79,3,9,1235
56,57,Bo Nix,Auburn,Jr.,QB,6,185,107,1,6,1195
62,63,Emory Jones,Florida,Jr.,QB,6,157,107,7,9,1144
64,65,Will Levis,Kentucky,Jr.,QB,6,135,87,6,11,1134
69,70,Ken Seals,Vanderbilt,So.,QB,6,206,114,7,5,1086
70,71,Hendon Hooker,Tennessee,Sr.,QB,6,112,78,1,13,1063
75,76,Zach Calzada,Texas A&M,So.,QB,6,159,90,5,8,1029
107,108,Stetson Bennett,Georgia,Sr.,QB,5,62,43,2,8,746
111,112,Luke Doty,South Carolina,So.,QB,4,116,69,1,3,733
120,121,JT Daniels,Georgia,Jr.,QB,3,71,54,2,5,567

In [7]:
APYSEC=APY[APY['Team'].isin(TBCDSECT)]
APYSEC

,Rank,Name,Team,CL,POSITION,G,RUSH YDS,REC YDS,PUNT RET YDS,KO RET YDS,INT RET YDS,MISCYDS,PLAYS,YDS,YPG
8,9,Tyler Badie,Missouri,Sr.,RB,6,667,212,0,5,0,0,130,884,147.33
21,22,Christopher Rodriguez Jr.,Kentucky,Jr.,RB,6,768,23,0,0,0,0,126,791,131.83
30,31,Brian Robinson Jr.,Alabama,Sr.,RB,5,526,77,0,0,0,0,106,603,120.6
35,36,Jameson Williams,Alabama,Jr.,WR,6,4,510,0,199,0,0,32,713,118.83
52,51,Devon Achane,Texas A&M,So.,RB,6,330,163,0,180,0,0,71,673,112.17
54,-,Tiyon Evans,Tennessee,Jr.,RB,5,486,74,0,0,0,0,77,560,112
57,56,Isaiah Spiller,Texas A&M,Jr.,RB,6,508,149,0,0,0,0,103,657,109.5
73,-,Wan'Dale Robinson,Kentucky,Jr.,WR,6,78,527,17,0,0,0,46,622,103.67
75,74,Velus Jones Jr.,Tennessee,Sr.,WR,6,15,342,81,178,0,0,38,616,102.67
93,92,Dontario Drummond,Ole Miss,Sr.,WR,5,16,460,0,0,0,0,28,476,95.2
111,-,Henry Parrish Jr.,Ole Miss,So.,RB,5,334,90,0,23,0,0,65,447,89.4
112,110,Treylon Burks,Arkansas,Jr.,WR,6,15,519,0,0,0,0,33,534,89
118,116,Kayshon Boutte,LSU,So.,WR,6,0,509,0,20,0,0,39,529,88.17
125,-,Jarquez Hunter,Auburn,Fr.,RB,6,465,42,0,15,0,0,56,522,87
126,124,Jerrion Ealy,Ole Miss,Jr.,RB,4,204,79,0,63,0,0,51,346,86.5
134,132,Tank Bigsby,Auburn,So.,RB,6,458,53,0,0,0,0,91,511,85.17
169,167,Emory Jones,Florida,Jr.,QB,6,478,0,0,0,0,0,75,478,79.67
177,175,Ainias Smith,Texas A&M,Jr.,WR,6,24,285,162,0,0,0,48,471,78.5

In [8]:
CKRSEC = CKR[CKR['TEAM'].isin(TBCDSECT)]
CPGSEC= CPG[CPG['TEAM'].isin(TBCDSECT)]
FGPSEC=FGP[FGP['Team'].isin(TBCDSECT)]
CPSEC= CP[CP['Team'].isin(TBCDSECT)]
TDCPSEC=TDCP[TDCP['Team'].isin(TBCDSECT)]
TDCPDSEC=TDCPD[TDCPD['Team'].isin(TBCDSECT)]
FDCPSEC=FDCP[FDCP['Team'].isin(TBCDSECT)]
FDCPDSEC=FDCPD[FDCPD['Team'].isin(TBCDSECT)]
RSEC=R[R['School'].isin(TBCDSECT)]
SBYSEC=SBY[SBY['TEAM'].isin(TBCDSECT)]
SECOR=SECO[SECO['Team'].isin(TBCDSECT)]
SECDR=SECD[SECD['Team'].isin(TBCDSECT)]

In [9]:
CKRSEC

,RANK,NAME,TEAM,CL,POSITION,G,KO RET,KO RET YDS,PUNT RET,PUNT RET YDS,YDS
15,16,Kris Abrams-Draine,Missouri,So.,DB,6,11,292,1,2,294
30,31,Velus Jones Jr.,Tennessee,Sr.,WR,6,8,178,7,81,259
51,52,Jameson Williams,Alabama,Jr.,WR,6,4,199,0,0,199
54,55,Juju McDowell,South Carolina,Fr.,RB,6,6,191,0,0,191
55,56,Nehemiah Pritchett,Auburn,Jr.,DB,6,6,184,0,0,184
56,57,Devon Achane,Texas A&M,So.,RB,6,4,180,0,0,180
66,-,Ainias Smith,Texas A&M,Jr.,WR,6,0,0,16,162,162
76,77,LaDarrius Bishop,Arkansas,Jr.,DB,6,6,144,0,0,144
95,96,James Ziglor III,Vanderbilt,Fr.,DB,5,8,121,0,0,121
116,-,Zach Johnson,Kentucky,Sr.,S,6,5,104,0,0,104
117,-,Trey Palmer,LSU,Jr.,WR,5,3,56,6,48,104
129,130,Kearis Jackson,Georgia,Jr.,WR,6,1,32,8,61,93
131,132,Xzavier Henderson,Florida,So.,WR,6,0,0,10,92,92
133,-,Slade Bolden,Alabama,Jr.,WR,6,2,42,6,49,91
137,-,Cam Johnson,Vanderbilt,Sr.,WR,6,5,73,4,16,89
139,-,Kenny McIntosh,Georgia,Jr.,RB,6,4,88,0,0,88
156,-,AJ Green,Arkansas,Fr.,RB,5,5,75,0,0,75
175,176,Jerrion Ealy,Ole Miss,Jr.,RB,4,3,63,0,0,63
178,-,JoJo Earle,Alabama,Fr.,WR,6,0,0,8,62,62
180,181,Donovan Kaufman,Auburn,Fr.,DB,6,3,61,0,0,61
193,-,Malik Davis,Florida,Sr.,RB,5,3,56,0,0,56
198,199,Demetris Robertson,Auburn,Sr.,WR,5,0,0,4,54,54

In [10]:
CPGSEC

   Rank            NAME        TEAM   CL POSITION  G  PASS COM    AVG
7     8  Connor Bazelak    Missouri  So.       QB  6       155  25.83
15   16     Bryce Young     Alabama  So.       QB  6       137  22.83
16   17     Max Johnson         LSU  So.       QB  6       135  22.50
28    -     Matt Corral    Ole Miss  Jr.       QB  5       101  20.20
43    -       Ken Seals  Vanderbilt  So.       QB  6       114  19.00
53   54     Emory Jones     Florida  Jr.       QB  6       107  17.83
54    -          Bo Nix      Auburn  Jr.       QB  6       107  17.83
73   74    Zach Calzada   Texas A&M  So.       QB  6        90  15.00
76   77      Will Levis    Kentucky  Jr.       QB  6        87  14.50
90   91  K.J. Jefferson    Arkansas  So.       QB  6        79  13.17
92   93   Hendon Hooker   Tennessee  Sr.       QB  6        78  13.00

In [11]:
FGPSEC

    Rank            Name            Team   CL Position  G  FG  FGA    PCT
4      -    Parker White  South Carolina  Sr.        K  6   9    9  1.000
6      -  Harrison Mevis        Missouri  So.        K  6   8    8  1.000
7      -       Cade York             LSU  Jr.        K  6   8    8  1.000
18     -      Seth Small       Texas A&M  Sr.        K  6  11   12  0.917
21     -   Will Reichard         Alabama  Jr.        K  6   9   10  0.900
33     -   Chase McGrath       Tennessee  Sr.        K  6   6    7  0.857
38     -     Caden Costa        Ole Miss  Fr.        K  5   5    6  0.833
43    44      Cam Little        Arkansas  Fr.        K  6   9   11  0.818
52     -  Anders Carlson          Auburn  Sr.        K  6  11   14  0.786
58     -   Jack Podlesny         Georgia  Jr.        K  6   9   12  0.750
100  101  Joseph Bulovas      Vanderbilt  Sr.        K  6   6   11  0.545

In [12]:
CPSEC

,Rank,Name,Team,CL,Position,G,Pass Com,Pass Att,PCT
12,13,Hendon Hooker,Tennessee,Sr.,QB,6,78,112,0.696
13,14,Bryce Young,Alabama,So.,QB,6,137,197,0.695
18,19,Matt Corral,Ole Miss,Jr.,QB,5,101,146,0.692
19,20,Emory Jones,Florida,Jr.,QB,6,107,157,0.682
24,25,Connor Bazelak,Missouri,So.,QB,6,155,231,0.671
42,43,Will Levis,Kentucky,Jr.,QB,6,87,135,0.644
54,55,K.J. Jefferson,Arkansas,So.,QB,6,79,126,0.627
58,59,Max Johnson,LSU,So.,QB,6,135,219,0.616
85,86,Bo Nix,Auburn,Jr.,QB,6,107,185,0.578
90,91,Zach Calzada,Texas A&M,So.,QB,6,90,159,0.566
95,96,Ken Seals,Vanderbilt,So.,QB,6,114,206,0.553

In [13]:
TDCPSEC

    Rank            Team  G  3rd ATT  3rd Conv    PCT
4      5        Missouri  6       85        45  0.529
10    11         Alabama  6       84        43  0.512
13    14       Tennessee  6       81        40  0.494
16    17         Georgia  6       77        37  0.481
23    24          Auburn  6       88        41  0.466
31    32        Kentucky  6       62        28  0.452
44    45         Florida  6       76        33  0.434
57    58       Texas A&M  6       83        34  0.410
69    70             LSU  6       87        34  0.391
77    78        Ole Miss  5       69        26  0.377
81    82  South Carolina  6       84        31  0.369
83    84        Arkansas  6       76        28  0.368
114  115      Vanderbilt  6      101        32  0.317

In [14]:
TDCPDSEC

    Rank            Team  G  Opp 3rd Conv  Opp 3rd ATT    PCT
6      7         Georgia  6            24           87  0.276
15    16        Arkansas  6            26           87  0.299
18    19      Vanderbilt  6            24           77  0.312
41    42         Alabama  6            27           77  0.351
42    43       Texas A&M  6            32           91  0.352
44    45          Auburn  6            30           85  0.353
58     -         Florida  6            31           85  0.365
69    70        Ole Miss  5            27           71  0.380
71    72       Tennessee  6            37           97  0.381
84    85        Kentucky  6            36           89  0.404
109  110             LSU  6            40           90  0.444
117  118  South Carolina  6            37           80  0.463
126  127        Missouri  6            41           80  0.512

In [15]:
FDCPSEC

    Rank            Team  G  4th Conv  4th Att    PCT
11    12         Alabama  6         7        9  0.778
13    14        Ole Miss  5        18       24  0.750
30     -      Vanderbilt  6         9       13  0.692
36     -        Arkansas  6         4        6  0.667
40    41          Auburn  6         7       11  0.636
44     -        Missouri  6         5        8  0.625
53    54             LSU  6         7       12  0.583
67    68         Florida  6         7       13  0.538
69     -       Tennessee  6         7       13  0.538
72     -  South Carolina  6         7       14  0.500
89     -       Texas A&M  6         2        4  0.500
102    -         Georgia  6         2        5  0.400
121    -        Kentucky  6         1        4  0.250

In [16]:
FDCPDSEC

    Rank            Team  G  Opp 4th Conv  Opp 4th ATT    PCT
0      1       Texas A&M  6             0            3  0.000
10    11         Florida  6             3           11  0.273
11     -        Kentucky  6             3           11  0.273
14    15          Auburn  6             3           10  0.300
39     -         Georgia  6             4           10  0.400
48     -       Tennessee  6             6           13  0.462
51    52         Alabama  6             6           12  0.500
69    70        Ole Miss  5             9           17  0.529
80     -             LSU  6             4            7  0.571
94    95        Arkansas  6             9           14  0.643
101    -      Vanderbilt  6             8           12  0.667
111    -        Missouri  6             6            8  0.750
129    -  South Carolina  6             2            2  1.000

In [17]:
RSEC

    Rank     School  Points Previous     Record
4      5    Alabama    1286        1 2021-05-01
10    11   Kentucky     918       16 2000-06-01
12    13   Ole Miss     779       17 2021-04-01
16    17   Arkansas     470       13 2021-04-02
19    20    Florida     397       20 2021-04-02
20    21  Texas A&M     348       NR 2021-04-02

In [18]:
SBYSEC

,Day-Text,Month-Abbr,Month - Text,Month-Number,Day -Number,YEAR,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,Sat,Sep,September,9,4,2021,2021-09-04,vs,14 Miami *,W44-13,1-0 (0-0),Young 344,Robinson Jr. 60,Williams 126,Alabama
1,Sat,Sep,September,9,11,2021,2021-09-11,vs,Mercer,W48-14,2-0 (0-0),Young 227,Robinson Jr. 70,Earle 85,Alabama
2,Sat,Sep,September,9,18,2021,2021-09-18,@,11 Florida,W31-29,3-0 (1-0),Young 240,Robinson Jr. 78,Williams 61,Alabama
3,Sat,Sep,September,9,25,2021,2021-09-25,vs,Southern Miss,W63-14,4-0 (1-0),Young 313,Williams 110,Billingsley 105,Alabama
4,Sat,Oct,October,10,2,2021,2021-10-02,vs,12 Ole Miss,W42-21,5-0 (2-0),Young 241,Robinson Jr. 171,Williams 65,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,Sat,Oct,October,10,23,2004,2004-10-23,vs,Eastern Kentucky,W19-7,2-5 (1-3),Cutler 156,Doster 117,White 71,Vanderbilt
3170,Sat,Oct,October,10,30,2004,2004-10-30,@,19 LSU,L24-7,2-6 (1-4),Cutler 111,McKenzie 56,White 72,Vanderbilt
3171,Sat,Nov,November,11,6,2004,2004-11-06,vs,Florida,L34-17,2-7 (1-5),Bright 118,Bright 77,Davis 78,Vanderbilt
3172,Sat,Nov,November,11,13,2004,2004-11-13,@,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,Sat,Nov,November,11,20,2004,2004-11-20,vs,15 Tennessee,L38-33,2-9 (1-7),Cutler 314,McKenzie 46,Smith 160,Vanderbilt

In [19]:
SECOR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,32:10,7.71,72.14,115,13.70,4.53,6.88,0.71
4,Mississippi,43.67,28.33,48.33,262.83,32.17,290.17,553.00,27:44,10.17,88.33,129,13.93,5.44,6.87,0.67
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,26:08,5.86,56.71,69,13.18,5.13,6.24,1.00
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,30:58,5.57,44.14,27,14.33,4.82,6.74,1.00
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,28:27,5.86,47.14,41,12.16,5.74,6.48,0.71
26,Florida,34.43,24.14,40.14,256.29,30.71,245.43,501.71,31:13,7.00,63.29,97,12.18,6.38,7.08,1.86
27,Missouri,34.43,22.86,30.86,160.57,40.57,286.57,447.14,29:13,6.86,62.43,93,10.56,5.20,6.26,1.00
37,Louisiana State,32.43,20.29,31.00,117.57,36.71,272.71,390.29,28:27,4.29,33.14,4,12.48,3.79,5.76,0.71
46,Arkansas,31.00,23.43,47.00,243.00,24.29,216.71,459.71,29:59,8.14,68.86,112,14.45,5.17,6.45,0.71
67,Kentucky,28.43,20.71,37.00,189.29,26.29,196.86,386.14,31:44,4.57,37.00,8,11.20,5.12,6.10,1.71
76,Texas A&M,27.57,21.14,32.71,173.43,31.29,211.00,384.43,29:38,7.00,58.29,79,11.82,5.30,6.01,1.57
95,Mississippi State,24.67,24.00,18.67,46.67,56.50,360.33,407.00,33:52,8.00,57.33,72,8.65,2.50,5.41,1.67
109,South Carolina,21.86,17.57,35.14,127.57,29.86,222.86,350.43,30:43,7.86,62.43,94,12.48,3.63,5.39,2.00
127,Vanderbilt,14.29,18.57,34.86,112.29,35.71,198.14,310.43,30:25,5.57,48.14,47,10.20,3.22,4.40,1.86

In [20]:
SECDR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
0,Georgia,6.57,12.29,29.43,64.29,28.86,144.86,209.14,28:46,7.43,55.14,62,9.05,2.18,3.59,1.43
13,Texas A&M,16.43,19.14,35.57,137.71,35.29,212.14,349.86,30:08,6.57,51.86,83,9.97,3.87,4.94,1.14
23,Kentucky,19.29,18.29,31.71,119.14,31.71,201.71,320.86,28:12,6.29,50.00,90,9.87,3.76,5.06,0.57
31,Auburn,19.71,19.29,39.00,124.29,30.71,217.71,342.00,31:32,4.71,36.57,123,10.66,3.19,4.91,0.86
34,Alabama,20.14,19.14,31.86,92.29,30.71,208.14,300.43,27:48,6.57,52.43,78,10.56,2.90,4.80,1.71
41,Florida,21.14,19.43,35.86,138.86,30.86,196.57,335.43,28:46,5.86,46.86,101,11.66,3.87,5.03,0.86
44,South Carolina,21.71,18.57,36.43,152.00,26.43,174.00,326.00,29:11,3.71,28.43,130,10.78,4.17,5.19,2.29
52,Tennessee,22.86,20.29,38.43,136.00,36.57,232.00,368.00,33:51,8.57,74.29,6,10.28,3.54,4.91,1.43
75,Arkansas,26.43,17.71,39.71,174.86,25.71,175.43,350.29,29:55,7.57,52.71,75,11.70,4.40,5.35,1.00
84,Louisiana State,28.43,21.29,36.43,151.86,34.57,247.86,399.71,31:32,3.71,31.86,128,11.41,4.17,5.63,1.43
89,Mississippi State,29.00,15.67,29.17,106.67,31.83,248.83,355.50,25:50,6.33,50.17,88,12.87,3.66,5.83,1.33
94,Mississippi,30.17,26.17,45.50,198.33,31.67,239.67,438.00,32:15,6.33,53.83,69,11.98,4.36,5.68,1.50
112,Vanderbilt,34.00,20.14,35.43,188.71,31.86,261.14,449.86,28:51,8.57,73.14,10,13.34,5.33,6.69,1.43
123,Missouri,37.14,25.71,46.57,287.43,25.57,201.71,489.14,30:46,4.57,42.29,111,13.58,6.17,6.78,1.43

In [21]:
SBYSEC=SBYSEC.iloc[:,[6,7,8,9,10,11,12,13,14]]
SBYSEC

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,2021-09-04,vs,14 Miami *,W44-13,1-0 (0-0),Young 344,Robinson Jr. 60,Williams 126,Alabama
1,2021-09-11,vs,Mercer,W48-14,2-0 (0-0),Young 227,Robinson Jr. 70,Earle 85,Alabama
2,2021-09-18,@,11 Florida,W31-29,3-0 (1-0),Young 240,Robinson Jr. 78,Williams 61,Alabama
3,2021-09-25,vs,Southern Miss,W63-14,4-0 (1-0),Young 313,Williams 110,Billingsley 105,Alabama
4,2021-10-02,vs,12 Ole Miss,W42-21,5-0 (2-0),Young 241,Robinson Jr. 171,Williams 65,Alabama
...,...,...,...,...,...,...,...,...,...
3169,2004-10-23,vs,Eastern Kentucky,W19-7,2-5 (1-3),Cutler 156,Doster 117,White 71,Vanderbilt
3170,2004-10-30,@,19 LSU,L24-7,2-6 (1-4),Cutler 111,McKenzie 56,White 72,Vanderbilt
3171,2004-11-06,vs,Florida,L34-17,2-7 (1-5),Bright 118,Bright 77,Davis 78,Vanderbilt
3172,2004-11-13,@,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,2004-11-20,vs,15 Tennessee,L38-33,2-9 (1-7),Cutler 314,McKenzie 46,Smith 160,Vanderbilt

In [22]:
SBYSEC = SBYSEC.replace({'Home-Away': {'vs': 'Home', 
                                '@': 'Away'}})

In [23]:
RankingList=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']

In [24]:
SBYSEC[['HI Pass Player', 'HI Pass Yards']] = SBYSEC['HI PASS'].str.split(n=1, expand=True)
SBYSEC['HI Pass Yards'] = SBYSEC['HI Pass Yards'].str.split().str[-1]

SBYSEC[['HI Rush Player', 'HI Rush Yards']] = SBYSEC['HI RUSH'].str.split(n=1, expand=True)
SBYSEC['HI Rush Yards'] = SBYSEC['HI Rush Yards'].str.split().str[-1]

SBYSEC[['HI REC Player', 'HI REC Yards']] = SBYSEC['HI REC'].str.split(n=1, expand=True)
SBYSEC['HI REC Yards'] = SBYSEC['HI REC Yards'].str.split().str[-1]

In [25]:
SBYSEC.head(20)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards
0,2021-09-04,Home,14 Miami *,W44-13,1-0 (0-0),Young 344,Robinson Jr. 60,Williams 126,Alabama,Young,344,Robinson,60,Williams,126
1,2021-09-11,Home,Mercer,W48-14,2-0 (0-0),Young 227,Robinson Jr. 70,Earle 85,Alabama,Young,227,Robinson,70,Earle,85
2,2021-09-18,Away,11 Florida,W31-29,3-0 (1-0),Young 240,Robinson Jr. 78,Williams 61,Alabama,Young,240,Robinson,78,Williams,61
3,2021-09-25,Home,Southern Miss,W63-14,4-0 (1-0),Young 313,Williams 110,Billingsley 105,Alabama,Young,313,Williams,110,Billingsley,105
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0 (2-0),Young 241,Robinson Jr. 171,Williams 65,Alabama,Young,241,Robinson,171,Williams,65
5,2021-10-09,Away,Texas A&M,L41-38,5-1 (2-1),Young 369,Robinson Jr. 147,Williams 146,Alabama,Young,369,Robinson,147,Williams,146
6,2021-10-16,Away,Mississippi State,0.791667,NaN,Tickets as low as $33,NaN,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN
7,2021-10-23,Home,Tennessee,TBD,NaN,Tickets as low as $80,NaN,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN
8,2021-11-06,Home,LSU,TBD,NaN,Tickets as low as $145,NaN,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN
9,2021-11-13,Home,New Mexico State,TBD,NaN,Tickets as low as $16,NaN,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Tickets as low as $54,NaN,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN
11,2021-11-27,Away,18 Auburn,TBD,NaN,Tickets as low as $255,NaN,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN
12,2021-09-04,Home,Rice,W38-17,1-0 (0-0),Jefferson 128,Smith 102,Morris 42,Arkansas,Jefferson,128,Smith,102,Morris,42
13,2021-09-11,Home,15 Texas,W40-21,2-0 (0-0),Jefferson 138,Smith 75,Morris 45,Arkansas,Jefferson,138,Smith,75,Morris,45
14,2021-09-18,Home,Georgia Southern,W45-10,3-0 (0-0),Jefferson 366,Johnson 72,Burks 127,Arkansas,Jefferson,366,Johnson,72,Burks,127
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0 (1-0),Jefferson 212,Smith 82,Burks 167,Arkansas,Jefferson,212,Smith,82,Burks,167
16,2021-10-02,Away,2 Georgia,L37-0,4-1 (1-1),Jefferson 65,Green 28,Sanders 22,Arkansas,Jefferson,65,Green,28,Sanders,22
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2 (1-2),Jefferson 326,Sanders 139,Burks 136,Arkansas,Jefferson,326,Sanders,139,Burks,136
18,2021-10-16,Home,18 Auburn,0.5,NaN,Tickets as low as $27,NaN,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Tickets as low as $60,NaN,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN

In [26]:
SBYSEC['Opponent Ranking'] = SBYSEC.apply(lambda x : x['Opponent'][:2] if x['Opponent'][:2] in RankingList else (x['Opponent'][:1] if x['Opponent'][:1] in RankingList else x['Opponent'][0:0]), axis=1)

In [27]:
SBYSEC['CONF'] = SBYSEC["W-L (CONF)"].str[5:8]
SBYSEC['W-L (CONF)'] = SBYSEC["W-L (CONF)"].str[0:3]
SBYSEC.head()

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,Opponent Ranking,CONF
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Young 344,Robinson Jr. 60,Williams 126,Alabama,Young,344,Robinson,60,Williams,126,14,0-0
1,2021-09-11,Home,Mercer,W48-14,2-0,Young 227,Robinson Jr. 70,Earle 85,Alabama,Young,227,Robinson,70,Earle,85,,0-0
2,2021-09-18,Away,11 Florida,W31-29,3-0,Young 240,Robinson Jr. 78,Williams 61,Alabama,Young,240,Robinson,78,Williams,61,11,1-0
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Young 313,Williams 110,Billingsley 105,Alabama,Young,313,Williams,110,Billingsley,105,,1-0
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Young 241,Robinson Jr. 171,Williams 65,Alabama,Young,241,Robinson,171,Williams,65,12,2-0

In [28]:
SBYSEC= SBYSEC[['Date', 'Home-Away','Opponent','RESULT','W-L (CONF)','TEAM','HI Pass Player','HI Pass Yards','HI Rush Player','HI Rush Yards','HI REC Player','HI REC Yards','CONF','Opponent Ranking']]

In [29]:
SBYSEC['Length'] = SBYSEC['Opponent Ranking'].str.len()

In [30]:
SBYSEC.head(30)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2
5,2021-10-09,Away,Texas A&M,L41-38,5-1,Alabama,Young,369,Robinson,147,Williams,146,2-1,,0
6,2021-10-16,Away,Mississippi State,0.791667,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,NaN,,0
7,2021-10-23,Home,Tennessee,TBD,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,NaN,,0
8,2021-11-06,Home,LSU,TBD,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,NaN,,0
9,2021-11-13,Home,New Mexico State,TBD,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,NaN,,0
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,NaN,13,2
11,2021-11-27,Away,18 Auburn,TBD,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,NaN,18,2
12,2021-09-04,Home,Rice,W38-17,1-0,Arkansas,Jefferson,128,Smith,102,Morris,42,0-0,,0
13,2021-09-11,Home,15 Texas,W40-21,2-0,Arkansas,Jefferson,138,Smith,75,Morris,45,0-0,15,2
14,2021-09-18,Home,Georgia Southern,W45-10,3-0,Arkansas,Jefferson,366,Johnson,72,Burks,127,0-0,,0
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0,Arkansas,Jefferson,212,Smith,82,Burks,167,1-0,7,1
16,2021-10-02,Away,2 Georgia,L37-0,4-1,Arkansas,Jefferson,65,Green,28,Sanders,22,1-1,2,1
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2,Arkansas,Jefferson,326,Sanders,139,Burks,136,1-2,17,2
18,2021-10-16,Home,18 Auburn,0.5,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,NaN,18,2
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,NaN,,0
20,2021-11-06,Home,Mississippi State,TBD,NaN,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,NaN,,0
21,2021-11-13,Away,LSU,TBD,NaN,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,NaN,,0
22,2021-11-20,Away,1 Alabama,TBD,NaN,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,NaN,1,1
23,2021-11-26,Home,Missouri,0.645833,CBS,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,,0
24,2021-09-04,Home,Akron,W60-10,1-0,Auburn,Nix,275,Bigsby,119,Jackson,79,0-0,,0
25,2021-09-11,Home,Alabama State,W62-0,2-0,Auburn,Nix,108,Hunter,147,Robertson,61,0-0,,0
26,2021-09-18,Away,10 Penn State,L28-20,2-1,Auburn,Nix,185,Bigsby,102,Hudson,66,0-0,10,2
27,2021-09-25,Home,Georgia State,W34-24,3-1,Auburn,Nix,156,Hunter,62,Hudson,76,0-0,,0
28,2021-10-02,Away,LSU,W24-19,4-1,Auburn,Nix,255,Nix,74,Shenker,102,1-0,,0
29,2021-10-09,Home,2 Georgia,L34-10,4-2,Auburn,Nix,217,Bigsby,28,Robertson,59,1-1,2,1

In [31]:
SBYSEC.dtypes

Date                datetime64[ns]
Home-Away                   object
Opponent                    object
RESULT                      object
W-L (CONF)                  object
TEAM                        object
HI Pass Player              object
HI Pass Yards               object
HI Rush Player              object
HI Rush Yards               object
HI REC Player               object
HI REC Yards                object
CONF                        object
Opponent Ranking            object
Length                       int64
dtype: object

In [32]:
SBYSEC['Opposing Team'] = SBYSEC.apply(lambda x: x['Opponent'][2:] if x['Length'] == 2 else (x['Opponent'][1:] if x['Length'] == '1.0' else x['Opponent']), axis=1)

In [33]:
SBYSEC.head()

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami *
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss

In [34]:
SBYSEC['Opposing Team']=SBYSEC['Opposing Team'].replace('\*','',regex=True)

In [35]:
SBYSEC.head(100)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2021-11-25,Home,17 Ole Miss,0.8125,NaN,Mississippi State,Tickets,$32,NaN,NaN,NaN,NaN,NaN,17,2,Ole Miss
96,2021-09-04,Home,Central Michigan,W34-24,1-0,Missouri,Bazelak,257,Badie,203,Smith,69,0-0,,0,Central Michigan
97,2021-09-11,Away,Kentucky,L35-28,1-1,Missouri,Bazelak,294,Badie,61,Badie,88,0-1,,0,Kentucky
98,2021-09-18,Home,Southeast Missouri State,W59-28,2-1,Missouri,Bazelak,346,Badie,81,Lovett,81,0-1,,0,Southeast Missouri State
99,2021-09-25,Away,Boston College,L41-34 OT,2-2,Missouri,Bazelak,303,Badie,72,Dove,89,0-1,,0,Boston College

In [36]:
SBYSEC['RESULT'] = SBYSEC['RESULT'].apply(str)

In [37]:
SBYSEC['W-L'] = SBYSEC.apply(lambda x: x['RESULT'][0:1] if x['RESULT'][0:1] == "W" else (x['RESULT'][0:1] if x['RESULT'][0:1] == 'L' else ""), axis=1)
SBYSEC['Score'] = SBYSEC.apply(lambda x: x['RESULT'][1:6] if x['RESULT'][0:1] == "W" else (x['RESULT'][1:6] if x['RESULT'][0:1] == 'L' else ""), axis=1)

In [38]:
SBYSEC.head(50)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team,W-L,Score
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami,W,44-13
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer,W,48-14
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida,W,31-29
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss,W,63-14
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss,W,42-21
5,2021-10-09,Away,Texas A&M,L41-38,5-1,Alabama,Young,369,Robinson,147,Williams,146,2-1,,0,Texas A&M,L,41-38
6,2021-10-16,Away,Mississippi State,0.7916666666666666,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,
7,2021-10-23,Home,Tennessee,TBD,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,NaN,,0,Tennessee,,
8,2021-11-06,Home,LSU,TBD,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,NaN,,0,LSU,,
9,2021-11-13,Home,New Mexico State,TBD,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,NaN,,0,New Mexico State,,
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,
11,2021-11-27,Away,18 Auburn,TBD,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,
12,2021-09-04,Home,Rice,W38-17,1-0,Arkansas,Jefferson,128,Smith,102,Morris,42,0-0,,0,Rice,W,38-17
13,2021-09-11,Home,15 Texas,W40-21,2-0,Arkansas,Jefferson,138,Smith,75,Morris,45,0-0,15,2,Texas,W,40-21
14,2021-09-18,Home,Georgia Southern,W45-10,3-0,Arkansas,Jefferson,366,Johnson,72,Burks,127,0-0,,0,Georgia Southern,W,45-10
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0,Arkansas,Jefferson,212,Smith,82,Burks,167,1-0,7,1,7 Texas A&M,W,20-10
16,2021-10-02,Away,2 Georgia,L37-0,4-1,Arkansas,Jefferson,65,Green,28,Sanders,22,1-1,2,1,2 Georgia,L,37-0
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2,Arkansas,Jefferson,326,Sanders,139,Burks,136,1-2,17,2,Ole Miss,L,52-51
18,2021-10-16,Home,18 Auburn,0.5,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,NaN,,0,Arkansas-Pine Bluff,,
20,2021-11-06,Home,Mississippi State,TBD,NaN,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,
21,2021-11-13,Away,LSU,TBD,NaN,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,NaN,,0,LSU,,
22,2021-11-20,Away,1 Alabama,TBD,NaN,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,
23,2021-11-26,Home,Missouri,0.6458333333333334,CBS,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,,0,Missouri,,
24,2021-09-04,Home,Akron,W60-10,1-0,Auburn,Nix,275,Bigsby,119,Jackson,79,0-0,,0,Akron,W,60-10
25,2021-09-11,Home,Alabama State,W62-0,2-0,Auburn,Nix,108,Hunter,147,Robertson,61,0-0,,0,Alabama State,W,62-0
26,2021-09-18,Away,10 Penn State,L28-20,2-1,Auburn,Nix,185,Bigsby,102,Hudson,66,0-0,10,2,Penn State,L,28-20
27,2021-09-25,Home,Georgia State,W34-24,3-1,Auburn,Nix,156,Hunter,62,Hudson,76,0-0,,0,Georgia State,W,34-24
28,2021-10-02,Away,LSU,W24-19,4-1,Auburn,Nix,255,Nix,74,Shenker,102,1-0,,0,LSU,W,24-19
29,2021-10-09,Home,2 Georgia,L34-10,4-2,Auburn,Nix,217,Bigsby,28,Robertson,59,1-1,2,1,2 Georgia,L,34-10
30,2021-10-16,Away,13 Arkansas,0.5,NaN,Auburn,Tickets,$27,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,
31,2021-10-30,Home,17 Ole Miss,TBD,NaN,Auburn,Tickets,$51,NaN,NaN,NaN,NaN,NaN,17,2,Ole Miss,,
32,2021-11-06,Away,Texas A&M,TBD,NaN,Auburn,Tickets,$57,NaN,NaN,NaN,NaN,NaN,,0,Texas A&M,,
33,2021-11-13,Home,Mississippi State,TBD,NaN,Auburn,Tickets,$41,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,
34,2021-11-20,Away,South Carolina,TBD,NaN,Auburn,Tickets,$50,NaN,NaN,NaN,NaN,NaN,,0,South Carolina,,
35,2021-11-27,Home,1 Alabama,TBD,NaN,Auburn,Tickets,$255,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,
36,2021-09-04,Home,Florida Atlantic,W35-14,1-0,Florida,Jones,113,Richardson,160,Weston,44,0-0,,0,Florida Atlantic,W,35-14
37,2021-09-11,Away,South Florida,W42-20,2-0,Florida,Richardson,152,Richardson,115,Copeland,175,0-0,,0,South Florida,W,42-20
38,2021-09-18,Home,1 Alabama,L31-29,2-1,Florida,Jones,195,Davis,86,Zipperer,51,0-1,1,1,1 Alabama,L,31-29
39,2021-09-25,Home,Tennessee,W38-14,3-1,Florida,Jones,209,Jones,144,Shorter,54,1-1,,0,Tennessee,W,38-14
40,2021-10-02,Away,Kentucky,L20-13,3-2,Florida,Jones,203,Jones,63,Copeland,59,1-2,,0,Kentucky,L,20-13
41,2021-10-09,Home,Vanderbilt,W42-0,4-2,Florida,Jones,273,Wright,46,Copeland,79,2-2,,0,Vanderbilt,W,42-0
42,2021-10-16,Away,LSU,0.5,NaN,Florida,Tickets,$83,NaN,NaN,NaN,NaN,NaN,,0,LSU,,
43,2021-10-30,Home,2 Georgia *,0.6458333333333334,CBS,Florida,Tickets,$168,NaN,NaN,NaN,NaN,,2,1,2 Georgia,,
44,2021-11-06,Away,South Carolina,TBD,NaN,Florida,Tickets,$51,NaN,NaN,NaN,NaN,NaN,,0,South Carolina,,
45,2021-11-13,Home,Samford,TBD,NaN,Florida,Tickets,$15,NaN,NaN,NaN,NaN,NaN,,0,Samford,,
46,2021-11-20,Away,Missouri,TBD,NaN,Florida,Tickets,$29,NaN,NaN,NaN,NaN,NaN,,0,Missouri,,
47,2021-11-27,Home,Florida State,TBD,NaN,Florida,Tickets,$66,NaN,NaN,NaN,NaN,NaN,,0,Florida State,,
48,2021-09-04,Home,3 Clemson *,W10-3,1-0,Georgia,Daniels,135,White,74,Bowers,43,0-0,3,1,3 Clemson,W,10-3
49,2021-09-11,Home,UAB,W56-7,2-0,Georgia,Bennett,288,White,34,Bowers,107,0-0,,0,UAB,W,56-7

In [39]:
SBYSEC['Total Season Wins'] = SBYSEC.apply(lambda x: x['W-L (CONF)'][0:1] if x['RESULT'][0:1] == "W" else (x['W-L (CONF)'][0:1] if x['RESULT'][0:1] == 'L' else ""), axis=1)
SBYSEC['Total Season Losses'] = SBYSEC.apply(lambda x: x['W-L (CONF)'][2:3] if x['RESULT'][0:1] == "W" else (x['W-L (CONF)'][2:3] if x['RESULT'][0:1] == 'L' else ""), axis=1)

In [40]:
SBYSEC.head(50)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team,W-L,Score,Total Season Wins,Total Season Losses
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami,W,44-13,1,0
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer,W,48-14,2,0
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida,W,31-29,3,0
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss,W,63-14,4,0
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss,W,42-21,5,0
5,2021-10-09,Away,Texas A&M,L41-38,5-1,Alabama,Young,369,Robinson,147,Williams,146,2-1,,0,Texas A&M,L,41-38,5,1
6,2021-10-16,Away,Mississippi State,0.7916666666666666,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,
7,2021-10-23,Home,Tennessee,TBD,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,NaN,,0,Tennessee,,,,
8,2021-11-06,Home,LSU,TBD,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,
9,2021-11-13,Home,New Mexico State,TBD,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,NaN,,0,New Mexico State,,,,
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,,,
11,2021-11-27,Away,18 Auburn,TBD,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,
12,2021-09-04,Home,Rice,W38-17,1-0,Arkansas,Jefferson,128,Smith,102,Morris,42,0-0,,0,Rice,W,38-17,1,0
13,2021-09-11,Home,15 Texas,W40-21,2-0,Arkansas,Jefferson,138,Smith,75,Morris,45,0-0,15,2,Texas,W,40-21,2,0
14,2021-09-18,Home,Georgia Southern,W45-10,3-0,Arkansas,Jefferson,366,Johnson,72,Burks,127,0-0,,0,Georgia Southern,W,45-10,3,0
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0,Arkansas,Jefferson,212,Smith,82,Burks,167,1-0,7,1,7 Texas A&M,W,20-10,4,0
16,2021-10-02,Away,2 Georgia,L37-0,4-1,Arkansas,Jefferson,65,Green,28,Sanders,22,1-1,2,1,2 Georgia,L,37-0,4,1
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2,Arkansas,Jefferson,326,Sanders,139,Burks,136,1-2,17,2,Ole Miss,L,52-51,4,2
18,2021-10-16,Home,18 Auburn,0.5,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,NaN,,0,Arkansas-Pine Bluff,,,,
20,2021-11-06,Home,Mississippi State,TBD,NaN,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,
21,2021-11-13,Away,LSU,TBD,NaN,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,
22,2021-11-20,Away,1 Alabama,TBD,NaN,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,,,
23,2021-11-26,Home,Missouri,0.6458333333333334,CBS,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,,0,Missouri,,,,
24,2021-09-04,Home,Akron,W60-10,1-0,Auburn,Nix,275,Bigsby,119,Jackson,79,0-0,,0,Akron,W,60-10,1,0
25,2021-09-11,Home,Alabama State,W62-0,2-0,Auburn,Nix,108,Hunter,147,Robertson,61,0-0,,0,Alabama State,W,62-0,2,0
26,2021-09-18,Away,10 Penn State,L28-20,2-1,Auburn,Nix,185,Bigsby,102,Hudson,66,0-0,10,2,Penn State,L,28-20,2,1
27,2021-09-25,Home,Georgia State,W34-24,3-1,Auburn,Nix,156,Hunter,62,Hudson,76,0-0,,0,Georgia State,W,34-24,3,1
28,2021-10-02,Away,LSU,W24-19,4-1,Auburn,Nix,255,Nix,74,Shenker,102,1-0,,0,LSU,W,24-19,4,1
29,2021-10-09,Home,2 Georgia,L34-10,4-2,Auburn,Nix,217,Bigsby,28,Robertson,59,1-1,2,1,2 Georgia,L,34-10,4,2
30,2021-10-16,Away,13 Arkansas,0.5,NaN,Auburn,Tickets,$27,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,,,
31,2021-10-30,Home,17 Ole Miss,TBD,NaN,Auburn,Tickets,$51,NaN,NaN,NaN,NaN,NaN,17,2,Ole Miss,,,,
32,2021-11-06,Away,Texas A&M,TBD,NaN,Auburn,Tickets,$57,NaN,NaN,NaN,NaN,NaN,,0,Texas A&M,,,,
33,2021-11-13,Home,Mississippi State,TBD,NaN,Auburn,Tickets,$41,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,
34,2021-11-20,Away,South Carolina,TBD,NaN,Auburn,Tickets,$50,NaN,NaN,NaN,NaN,NaN,,0,South Carolina,,,,
35,2021-11-27,Home,1 Alabama,TBD,NaN,Auburn,Tickets,$255,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,,,
36,2021-09-04,Home,Florida Atlantic,W35-14,1-0,Florida,Jones,113,Richardson,160,Weston,44,0-0,,0,Florida Atlantic,W,35-14,1,0
37,2021-09-11,Away,South Florida,W42-20,2-0,Florida,Richardson,152,Richardson,115,Copeland,175,0-0,,0,South Florida,W,42-20,2,0
38,2021-09-18,Home,1 Alabama,L31-29,2-1,Florida,Jones,195,Davis,86,Zipperer,51,0-1,1,1,1 Alabama,L,31-29,2,1
39,2021-09-25,Home,Tennessee,W38-14,3-1,Florida,Jones,209,Jones,144,Shorter,54,1-1,,0,Tennessee,W,38-14,3,1
40,2021-10-02,Away,Kentucky,L20-13,3-2,Florida,Jones,203,Jones,63,Copeland,59,1-2,,0,Kentucky,L,20-13,3,2
41,2021-10-09,Home,Vanderbilt,W42-0,4-2,Florida,Jones,273,Wright,46,Copeland,79,2-2,,0,Vanderbilt,W,42-0,4,2
42,2021-10-16,Away,LSU,0.5,NaN,Florida,Tickets,$83,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,
43,2021-10-30,Home,2 Georgia *,0.6458333333333334,CBS,Florida,Tickets,$168,NaN,NaN,NaN,NaN,,2,1,2 Georgia,,,,
44,2021-11-06,Away,South Carolina,TBD,NaN,Florida,Tickets,$51,NaN,NaN,NaN,NaN,NaN,,0,South Carolina,,,,
45,2021-11-13,Home,Samford,TBD,NaN,Florida,Tickets,$15,NaN,NaN,NaN,NaN,NaN,,0,Samford,,,,
46,2021-11-20,Away,Missouri,TBD,NaN,Florida,Tickets,$29,NaN,NaN,NaN,NaN,NaN,,0,Missouri,,,,
47,2021-11-27,Home,Florida State,TBD,NaN,Florida,Tickets,$66,NaN,NaN,NaN,NaN,NaN,,0,Florida State,,,,
48,2021-09-04,Home,3 Clemson *,W10-3,1-0,Georgia,Daniels,135,White,74,Bowers,43,0-0,3,1,3 Clemson,W,10-3,1,0
49,2021-09-11,Home,UAB,W56-7,2-0,Georgia,Bennett,288,White,34,Bowers,107,0-0,,0,UAB,W,56-7,2,0

In [41]:
SBYSEC['Total Conf Season Wins'] = SBYSEC.apply(lambda x: x['CONF'][0:1] if x['RESULT'][0:1] == "W" else (x['CONF'][0:1] if x['RESULT'][0:1] == 'L' else ""), axis=1)
SBYSEC['Total Conf Season Losses'] = SBYSEC.apply(lambda x: x['CONF'][2:3] if x['RESULT'][0:1] == "W" else (x['CONF'][2:3] if x['RESULT'][0:1] == 'L' else ""), axis=1)

In [42]:
SBYSEC[["Score1"'Score2',"Score3"]] = SBYSEC["Score"].str.split("-",n=1, expand = True) 
SBYSEC['Score3'] = SBYSEC['Score3'].str.split().str[-1]

In [43]:
SBYSEC.head(30)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team,W-L,Score,Total Season Wins,Total Season Losses,Total Conf Season Wins,Total Conf Season Losses,Score1Score2,Score3
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami,W,44-13,1,0,0,0,44,13
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer,W,48-14,2,0,0,0,48,14
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida,W,31-29,3,0,1,0,31,29
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss,W,63-14,4,0,1,0,63,14
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss,W,42-21,5,0,2,0,42,21
5,2021-10-09,Away,Texas A&M,L41-38,5-1,Alabama,Young,369,Robinson,147,Williams,146,2-1,,0,Texas A&M,L,41-38,5,1,2,1,41,38
6,2021-10-16,Away,Mississippi State,0.7916666666666666,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,,,,,None
7,2021-10-23,Home,Tennessee,TBD,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,NaN,,0,Tennessee,,,,,,,,None
8,2021-11-06,Home,LSU,TBD,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,,,,,None
9,2021-11-13,Home,New Mexico State,TBD,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,NaN,,0,New Mexico State,,,,,,,,None
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,,,,,,,None
11,2021-11-27,Away,18 Auburn,TBD,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,,,,,None
12,2021-09-04,Home,Rice,W38-17,1-0,Arkansas,Jefferson,128,Smith,102,Morris,42,0-0,,0,Rice,W,38-17,1,0,0,0,38,17
13,2021-09-11,Home,15 Texas,W40-21,2-0,Arkansas,Jefferson,138,Smith,75,Morris,45,0-0,15,2,Texas,W,40-21,2,0,0,0,40,21
14,2021-09-18,Home,Georgia Southern,W45-10,3-0,Arkansas,Jefferson,366,Johnson,72,Burks,127,0-0,,0,Georgia Southern,W,45-10,3,0,0,0,45,10
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0,Arkansas,Jefferson,212,Smith,82,Burks,167,1-0,7,1,7 Texas A&M,W,20-10,4,0,1,0,20,10
16,2021-10-02,Away,2 Georgia,L37-0,4-1,Arkansas,Jefferson,65,Green,28,Sanders,22,1-1,2,1,2 Georgia,L,37-0,4,1,1,1,37,0
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2,Arkansas,Jefferson,326,Sanders,139,Burks,136,1-2,17,2,Ole Miss,L,52-51,4,2,1,2,52,51
18,2021-10-16,Home,18 Auburn,0.5,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,,,,,None
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,NaN,,0,Arkansas-Pine Bluff,,,,,,,,None
20,2021-11-06,Home,Mississippi State,TBD,NaN,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,,,,,None
21,2021-11-13,Away,LSU,TBD,NaN,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,,,,,None
22,2021-11-20,Away,1 Alabama,TBD,NaN,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,,,,,,,None
23,2021-11-26,Home,Missouri,0.6458333333333334,CBS,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,,0,Missouri,,,,,,,,None
24,2021-09-04,Home,Akron,W60-10,1-0,Auburn,Nix,275,Bigsby,119,Jackson,79,0-0,,0,Akron,W,60-10,1,0,0,0,60,10
25,2021-09-11,Home,Alabama State,W62-0,2-0,Auburn,Nix,108,Hunter,147,Robertson,61,0-0,,0,Alabama State,W,62-0,2,0,0,0,62,0
26,2021-09-18,Away,10 Penn State,L28-20,2-1,Auburn,Nix,185,Bigsby,102,Hudson,66,0-0,10,2,Penn State,L,28-20,2,1,0,0,28,20
27,2021-09-25,Home,Georgia State,W34-24,3-1,Auburn,Nix,156,Hunter,62,Hudson,76,0-0,,0,Georgia State,W,34-24,3,1,0,0,34,24
28,2021-10-02,Away,LSU,W24-19,4-1,Auburn,Nix,255,Nix,74,Shenker,102,1-0,,0,LSU,W,24-19,4,1,1,0,24,19
29,2021-10-09,Home,2 Georgia,L34-10,4-2,Auburn,Nix,217,Bigsby,28,Robertson,59,1-1,2,1,2 Georgia,L,34-10,4,2,1,1,34,10

In [44]:
SBYSEC['Home Team'] = SBYSEC.apply(lambda x: x['TEAM'] if x['Home-Away'] == "Home" else (x['Opposing Team'] if x['Home-Away'] == 'Away' else ""), axis=1)

In [45]:
SBYSEC.head(30)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team,W-L,Score,Total Season Wins,Total Season Losses,Total Conf Season Wins,Total Conf Season Losses,Score1Score2,Score3,Home Team
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami,W,44-13,1,0,0,0,44,13,Alabama
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer,W,48-14,2,0,0,0,48,14,Alabama
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida,W,31-29,3,0,1,0,31,29,Florida
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss,W,63-14,4,0,1,0,63,14,Alabama
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss,W,42-21,5,0,2,0,42,21,Alabama
5,2021-10-09,Away,Texas A&M,L41-38,5-1,Alabama,Young,369,Robinson,147,Williams,146,2-1,,0,Texas A&M,L,41-38,5,1,2,1,41,38,Texas A&M
6,2021-10-16,Away,Mississippi State,0.7916666666666666,NaN,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,,,,,None,Mississippi State
7,2021-10-23,Home,Tennessee,TBD,NaN,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,NaN,,0,Tennessee,,,,,,,,None,Alabama
8,2021-11-06,Home,LSU,TBD,NaN,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,,,,,None,Alabama
9,2021-11-13,Home,New Mexico State,TBD,NaN,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,NaN,,0,New Mexico State,,,,,,,,None,Alabama
10,2021-11-20,Home,13 Arkansas,TBD,NaN,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,NaN,13,2,Arkansas,,,,,,,,None,Alabama
11,2021-11-27,Away,18 Auburn,TBD,NaN,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,,,,,None,Auburn
12,2021-09-04,Home,Rice,W38-17,1-0,Arkansas,Jefferson,128,Smith,102,Morris,42,0-0,,0,Rice,W,38-17,1,0,0,0,38,17,Arkansas
13,2021-09-11,Home,15 Texas,W40-21,2-0,Arkansas,Jefferson,138,Smith,75,Morris,45,0-0,15,2,Texas,W,40-21,2,0,0,0,40,21,Arkansas
14,2021-09-18,Home,Georgia Southern,W45-10,3-0,Arkansas,Jefferson,366,Johnson,72,Burks,127,0-0,,0,Georgia Southern,W,45-10,3,0,0,0,45,10,Arkansas
15,2021-09-25,Home,7 Texas A&M *,W20-10,4-0,Arkansas,Jefferson,212,Smith,82,Burks,167,1-0,7,1,7 Texas A&M,W,20-10,4,0,1,0,20,10,Arkansas
16,2021-10-02,Away,2 Georgia,L37-0,4-1,Arkansas,Jefferson,65,Green,28,Sanders,22,1-1,2,1,2 Georgia,L,37-0,4,1,1,1,37,0,2 Georgia
17,2021-10-09,Away,17 Ole Miss,L52-51,4-2,Arkansas,Jefferson,326,Sanders,139,Burks,136,1-2,17,2,Ole Miss,L,52-51,4,2,1,2,52,51,Ole Miss
18,2021-10-16,Home,18 Auburn,0.5,NaN,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,NaN,18,2,Auburn,,,,,,,,None,Arkansas
19,2021-10-23,Home,Arkansas-Pine Bluff,TBD,NaN,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,NaN,,0,Arkansas-Pine Bluff,,,,,,,,None,Arkansas
20,2021-11-06,Home,Mississippi State,TBD,NaN,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,NaN,,0,Mississippi State,,,,,,,,None,Arkansas
21,2021-11-13,Away,LSU,TBD,NaN,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,NaN,,0,LSU,,,,,,,,None,LSU
22,2021-11-20,Away,1 Alabama,TBD,NaN,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,NaN,1,1,1 Alabama,,,,,,,,None,1 Alabama
23,2021-11-26,Home,Missouri,0.6458333333333334,CBS,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,,0,Missouri,,,,,,,,None,Arkansas
24,2021-09-04,Home,Akron,W60-10,1-0,Auburn,Nix,275,Bigsby,119,Jackson,79,0-0,,0,Akron,W,60-10,1,0,0,0,60,10,Auburn
25,2021-09-11,Home,Alabama State,W62-0,2-0,Auburn,Nix,108,Hunter,147,Robertson,61,0-0,,0,Alabama State,W,62-0,2,0,0,0,62,0,Auburn
26,2021-09-18,Away,10 Penn State,L28-20,2-1,Auburn,Nix,185,Bigsby,102,Hudson,66,0-0,10,2,Penn State,L,28-20,2,1,0,0,28,20,Penn State
27,2021-09-25,Home,Georgia State,W34-24,3-1,Auburn,Nix,156,Hunter,62,Hudson,76,0-0,,0,Georgia State,W,34-24,3,1,0,0,34,24,Auburn
28,2021-10-02,Away,LSU,W24-19,4-1,Auburn,Nix,255,Nix,74,Shenker,102,1-0,,0,LSU,W,24-19,4,1,1,0,24,19,LSU
29,2021-10-09,Home,2 Georgia,L34-10,4-2,Auburn,Nix,217,Bigsby,28,Robertson,59,1-1,2,1,2 Georgia,L,34-10,4,2,1,1,34,10,Auburn

In [46]:
SBYSEC['Away Team'] = SBYSEC.apply(lambda x: x['TEAM'] if x['Home-Away'] == "Away" else (x['Opposing Team'] if x['Home-Away'] == 'Home' else ""), axis=1)

In [47]:
SBYSEC.head(5)

,Date,Home-Away,Opponent,RESULT,W-L (CONF),TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,CONF,Opponent Ranking,Length,Opposing Team,W-L,Score,Total Season Wins,Total Season Losses,Total Conf Season Wins,Total Conf Season Losses,Score1Score2,Score3,Home Team,Away Team
0,2021-09-04,Home,14 Miami *,W44-13,1-0,Alabama,Young,344,Robinson,60,Williams,126,0-0,14,2,Miami,W,44-13,1,0,0,0,44,13,Alabama,Miami
1,2021-09-11,Home,Mercer,W48-14,2-0,Alabama,Young,227,Robinson,70,Earle,85,0-0,,0,Mercer,W,48-14,2,0,0,0,48,14,Alabama,Mercer
2,2021-09-18,Away,11 Florida,W31-29,3-0,Alabama,Young,240,Robinson,78,Williams,61,1-0,11,2,Florida,W,31-29,3,0,1,0,31,29,Florida,Alabama
3,2021-09-25,Home,Southern Miss,W63-14,4-0,Alabama,Young,313,Williams,110,Billingsley,105,1-0,,0,Southern Miss,W,63-14,4,0,1,0,63,14,Alabama,Southern Miss
4,2021-10-02,Home,12 Ole Miss,W42-21,5-0,Alabama,Young,241,Robinson,171,Williams,65,2-0,12,2,Ole Miss,W,42-21,5,0,2,0,42,21,Alabama,Ole Miss

In [48]:
df=SBYSEC[['Date','TEAM','HI Pass Player','HI Pass Yards','HI Rush Player','HI Rush Yards','HI REC Player','HI REC Yards','Opponent Ranking','Opposing Team','W-L','Total Season Wins','Total Season Losses','Total Conf Season Wins','Total Conf Season Losses','Score1Score2','Score3','Home Team','Away Team']]

In [49]:
df.rename(columns={'Score1Score2': 'Score1', 'Score3': 'Score2'}, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [50]:
df.head(50)

,Date,TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,Opponent Ranking,Opposing Team,W-L,Total Season Wins,Total Season Losses,Total Conf Season Wins,Total Conf Season Losses,Score1,Score2,Home Team,Away Team
0,2021-09-04,Alabama,Young,344,Robinson,60,Williams,126,14,Miami,W,1,0,0,0,44,13,Alabama,Miami
1,2021-09-11,Alabama,Young,227,Robinson,70,Earle,85,,Mercer,W,2,0,0,0,48,14,Alabama,Mercer
2,2021-09-18,Alabama,Young,240,Robinson,78,Williams,61,11,Florida,W,3,0,1,0,31,29,Florida,Alabama
3,2021-09-25,Alabama,Young,313,Williams,110,Billingsley,105,,Southern Miss,W,4,0,1,0,63,14,Alabama,Southern Miss
4,2021-10-02,Alabama,Young,241,Robinson,171,Williams,65,12,Ole Miss,W,5,0,2,0,42,21,Alabama,Ole Miss
5,2021-10-09,Alabama,Young,369,Robinson,147,Williams,146,,Texas A&M,L,5,1,2,1,41,38,Texas A&M,Alabama
6,2021-10-16,Alabama,Tickets,$33,NaN,NaN,NaN,NaN,,Mississippi State,,,,,,,None,Mississippi State,Alabama
7,2021-10-23,Alabama,Tickets,$80,NaN,NaN,NaN,NaN,,Tennessee,,,,,,,None,Alabama,Tennessee
8,2021-11-06,Alabama,Tickets,$145,NaN,NaN,NaN,NaN,,LSU,,,,,,,None,Alabama,LSU
9,2021-11-13,Alabama,Tickets,$16,NaN,NaN,NaN,NaN,,New Mexico State,,,,,,,None,Alabama,New Mexico State
10,2021-11-20,Alabama,Tickets,$54,NaN,NaN,NaN,NaN,13,Arkansas,,,,,,,None,Alabama,Arkansas
11,2021-11-27,Alabama,Tickets,$255,NaN,NaN,NaN,NaN,18,Auburn,,,,,,,None,Auburn,Alabama
12,2021-09-04,Arkansas,Jefferson,128,Smith,102,Morris,42,,Rice,W,1,0,0,0,38,17,Arkansas,Rice
13,2021-09-11,Arkansas,Jefferson,138,Smith,75,Morris,45,15,Texas,W,2,0,0,0,40,21,Arkansas,Texas
14,2021-09-18,Arkansas,Jefferson,366,Johnson,72,Burks,127,,Georgia Southern,W,3,0,0,0,45,10,Arkansas,Georgia Southern
15,2021-09-25,Arkansas,Jefferson,212,Smith,82,Burks,167,7,7 Texas A&M,W,4,0,1,0,20,10,Arkansas,7 Texas A&M
16,2021-10-02,Arkansas,Jefferson,65,Green,28,Sanders,22,2,2 Georgia,L,4,1,1,1,37,0,2 Georgia,Arkansas
17,2021-10-09,Arkansas,Jefferson,326,Sanders,139,Burks,136,17,Ole Miss,L,4,2,1,2,52,51,Ole Miss,Arkansas
18,2021-10-16,Arkansas,Tickets,$27,NaN,NaN,NaN,NaN,18,Auburn,,,,,,,None,Arkansas,Auburn
19,2021-10-23,Arkansas,Tickets,$60,NaN,NaN,NaN,NaN,,Arkansas-Pine Bluff,,,,,,,None,Arkansas,Arkansas-Pine Bluff
20,2021-11-06,Arkansas,Tickets,$35,NaN,NaN,NaN,NaN,,Mississippi State,,,,,,,None,Arkansas,Mississippi State
21,2021-11-13,Arkansas,Tickets,$31,NaN,NaN,NaN,NaN,,LSU,,,,,,,None,LSU,Arkansas
22,2021-11-20,Arkansas,Tickets,$54,NaN,NaN,NaN,NaN,1,1 Alabama,,,,,,,None,1 Alabama,Arkansas
23,2021-11-26,Arkansas,Tickets,$20,NaN,NaN,NaN,NaN,,Missouri,,,,,,,None,Arkansas,Missouri
24,2021-09-04,Auburn,Nix,275,Bigsby,119,Jackson,79,,Akron,W,1,0,0,0,60,10,Auburn,Akron
25,2021-09-11,Auburn,Nix,108,Hunter,147,Robertson,61,,Alabama State,W,2,0,0,0,62,0,Auburn,Alabama State
26,2021-09-18,Auburn,Nix,185,Bigsby,102,Hudson,66,10,Penn State,L,2,1,0,0,28,20,Penn State,Auburn
27,2021-09-25,Auburn,Nix,156,Hunter,62,Hudson,76,,Georgia State,W,3,1,0,0,34,24,Auburn,Georgia State
28,2021-10-02,Auburn,Nix,255,Nix,74,Shenker,102,,LSU,W,4,1,1,0,24,19,LSU,Auburn
29,2021-10-09,Auburn,Nix,217,Bigsby,28,Robertson,59,2,2 Georgia,L,4,2,1,1,34,10,Auburn,2 Georgia
30,2021-10-16,Auburn,Tickets,$27,NaN,NaN,NaN,NaN,13,Arkansas,,,,,,,None,Arkansas,Auburn
31,2021-10-30,Auburn,Tickets,$51,NaN,NaN,NaN,NaN,17,Ole Miss,,,,,,,None,Auburn,Ole Miss
32,2021-11-06,Auburn,Tickets,$57,NaN,NaN,NaN,NaN,,Texas A&M,,,,,,,None,Texas A&M,Auburn
33,2021-11-13,Auburn,Tickets,$41,NaN,NaN,NaN,NaN,,Mississippi State,,,,,,,None,Auburn,Mississippi State
34,2021-11-20,Auburn,Tickets,$50,NaN,NaN,NaN,NaN,,South Carolina,,,,,,,None,South Carolina,Auburn
35,2021-11-27,Auburn,Tickets,$255,NaN,NaN,NaN,NaN,1,1 Alabama,,,,,,,None,Auburn,1 Alabama
36,2021-09-04,Florida,Jones,113,Richardson,160,Weston,44,,Florida Atlantic,W,1,0,0,0,35,14,Florida,Florida Atlantic
37,2021-09-11,Florida,Richardson,152,Richardson,115,Copeland,175,,South Florida,W,2,0,0,0,42,20,South Florida,Florida
38,2021-09-18,Florida,Jones,195,Davis,86,Zipperer,51,1,1 Alabama,L,2,1,0,1,31,29,Florida,1 Alabama
39,2021-09-25,Florida,Jones,209,Jones,144,Shorter,54,,Tennessee,W,3,1,1,1,38,14,Florida,Tennessee
40,2021-10-02,Florida,Jones,203,Jones,63,Copeland,59,,Kentucky,L,3,2,1,2,20,13,Kentucky,Florida
41,2021-10-09,Florida,Jones,273,Wright,46,Copeland,79,,Vanderbilt,W,4,2,2,2,42,0,Florida,Vanderbilt
42,2021-10-16,Florida,Tickets,$83,NaN,NaN,NaN,NaN,,LSU,,,,,,,None,LSU,Florida
43,2021-10-30,Florida,Tickets,$168,NaN,NaN,NaN,NaN,2,2 Georgia,,,,,,,None,Florida,2 Georgia
44,2021-11-06,Florida,Tickets,$51,NaN,NaN,NaN,NaN,,South Carolina,,,,,,,None,South Carolina,Florida
45,2021-11-13,Florida,Tickets,$15,NaN,NaN,NaN,NaN,,Samford,,,,,,,None,Florida,Samford
46,2021-11-20,Florida,Tickets,$29,NaN,NaN,NaN,NaN,,Missouri,,,,,,,None,Missouri,Florida
47,2021-11-27,Florida,Tickets,$66,NaN,NaN,NaN,NaN,,Florida State,,,,,,,None,Florida,Florida State
48,2021-09-04,Georgia,Daniels,135,White,74,Bowers,43,3,3 Clemson,W,1,0,0,0,10,3,Georgia,3 Clemson
49,2021-09-11,Georgia,Bennett,288,White,34,Bowers,107,,UAB,W,2,0,0,0,56,7,Georgia,UAB

In [51]:
df['HI Pass Player'] = df.apply(lambda x: x['HI Pass Player'] if x['HI Pass Player'] != "Tickets" else ("" ), axis=1)
df['HI Pass Yards']=df['HI Pass Yards'].apply(str)
df['HI Pass Yards'] = df.apply(lambda x: x['HI Pass Yards'] if x['HI Pass Yards'][0:1] != "$" else ("" ), axis=1)

<ipython-input-51-4b4e5f455631>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HI Pass Player'] = df.apply(lambda x: x['HI Pass Player'] if x['HI Pass Player'] != "Tickets" else ("" ), axis=1)
<ipython-input-51-4b4e5f455631>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HI Pass Yards']=df['HI Pass Yards'].apply(str)
<ipython-input-51-4b4e5f455631>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HI Pass Yards'] = df.apply(lambda x: x['HI Pass Yards'] if x['HI Pass Yards'][0:1] != "$" else ("" ), axis=1)

In [52]:
df.head(20)

,Date,TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards,Opponent Ranking,Opposing Team,W-L,Total Season Wins,Total Season Losses,Total Conf Season Wins,Total Conf Season Losses,Score1,Score2,Home Team,Away Team
0,2021-09-04,Alabama,Young,344,Robinson,60,Williams,126,14,Miami,W,1,0,0,0,44,13,Alabama,Miami
1,2021-09-11,Alabama,Young,227,Robinson,70,Earle,85,,Mercer,W,2,0,0,0,48,14,Alabama,Mercer
2,2021-09-18,Alabama,Young,240,Robinson,78,Williams,61,11,Florida,W,3,0,1,0,31,29,Florida,Alabama
3,2021-09-25,Alabama,Young,313,Williams,110,Billingsley,105,,Southern Miss,W,4,0,1,0,63,14,Alabama,Southern Miss
4,2021-10-02,Alabama,Young,241,Robinson,171,Williams,65,12,Ole Miss,W,5,0,2,0,42,21,Alabama,Ole Miss
5,2021-10-09,Alabama,Young,369,Robinson,147,Williams,146,,Texas A&M,L,5,1,2,1,41,38,Texas A&M,Alabama
6,2021-10-16,Alabama,,,NaN,NaN,NaN,NaN,,Mississippi State,,,,,,,None,Mississippi State,Alabama
7,2021-10-23,Alabama,,,NaN,NaN,NaN,NaN,,Tennessee,,,,,,,None,Alabama,Tennessee
8,2021-11-06,Alabama,,,NaN,NaN,NaN,NaN,,LSU,,,,,,,None,Alabama,LSU
9,2021-11-13,Alabama,,,NaN,NaN,NaN,NaN,,New Mexico State,,,,,,,None,Alabama,New Mexico State
10,2021-11-20,Alabama,,,NaN,NaN,NaN,NaN,13,Arkansas,,,,,,,None,Alabama,Arkansas
11,2021-11-27,Alabama,,,NaN,NaN,NaN,NaN,18,Auburn,,,,,,,None,Auburn,Alabama
12,2021-09-04,Arkansas,Jefferson,128,Smith,102,Morris,42,,Rice,W,1,0,0,0,38,17,Arkansas,Rice
13,2021-09-11,Arkansas,Jefferson,138,Smith,75,Morris,45,15,Texas,W,2,0,0,0,40,21,Arkansas,Texas
14,2021-09-18,Arkansas,Jefferson,366,Johnson,72,Burks,127,,Georgia Southern,W,3,0,0,0,45,10,Arkansas,Georgia Southern
15,2021-09-25,Arkansas,Jefferson,212,Smith,82,Burks,167,7,7 Texas A&M,W,4,0,1,0,20,10,Arkansas,7 Texas A&M
16,2021-10-02,Arkansas,Jefferson,65,Green,28,Sanders,22,2,2 Georgia,L,4,1,1,1,37,0,2 Georgia,Arkansas
17,2021-10-09,Arkansas,Jefferson,326,Sanders,139,Burks,136,17,Ole Miss,L,4,2,1,2,52,51,Ole Miss,Arkansas
18,2021-10-16,Arkansas,,,NaN,NaN,NaN,NaN,18,Auburn,,,,,,,None,Arkansas,Auburn
19,2021-10-23,Arkansas,,,NaN,NaN,NaN,NaN,,Arkansas-Pine Bluff,,,,,,,None,Arkansas,Arkansas-Pine Bluff

In [53]:
df.dtypes

Date                        datetime64[ns]
TEAM                                object
HI Pass Player                      object
HI Pass Yards                       object
HI Rush Player                      object
HI Rush Yards                       object
HI REC Player                       object
HI REC Yards                        object
Opponent Ranking                    object
Opposing Team                       object
W-L                                 object
Total Season Wins                   object
Total Season Losses                 object
Total Conf Season Wins              object
Total Conf Season Losses            object
Score1                              object
Score2                              object
Home Team                           object
Away Team                           object
dtype: object

In [54]:
PYRSEC.head(5)

,Passing Yards Ranking,Name,TEAM,CL,POSITION,G,PASS ATT,PASS COM,INT,PASS TD,PASS YDS
10,11,Bryce Young,Alabama,So.,QB,6,197,137,3,20,1734
12,13,Max Johnson,LSU,So.,QB,6,219,135,4,17,1729
16,17,Connor Bazelak,Missouri,So.,QB,6,231,155,5,12,1690
24,25,Matt Corral,Ole Miss,Jr.,QB,5,146,101,0,12,1497
53,-,K.J. Jefferson,Arkansas,So.,QB,6,126,79,3,9,1235

In [55]:
APYSEC.head()

,Rank,Name,Team,CL,POSITION,G,RUSH YDS,REC YDS,PUNT RET YDS,KO RET YDS,INT RET YDS,MISCYDS,PLAYS,YDS,YPG
8,9,Tyler Badie,Missouri,Sr.,RB,6,667,212,0,5,0,0,130,884,147.33
21,22,Christopher Rodriguez Jr.,Kentucky,Jr.,RB,6,768,23,0,0,0,0,126,791,131.83
30,31,Brian Robinson Jr.,Alabama,Sr.,RB,5,526,77,0,0,0,0,106,603,120.6
35,36,Jameson Williams,Alabama,Jr.,WR,6,4,510,0,199,0,0,32,713,118.83
52,51,Devon Achane,Texas A&M,So.,RB,6,330,163,0,180,0,0,71,673,112.17

In [56]:
RSEC.head(20)

    Rank     School  Points Previous     Record
4      5    Alabama    1286        1 2021-05-01
10    11   Kentucky     918       16 2000-06-01
12    13   Ole Miss     779       17 2021-04-01
16    17   Arkansas     470       13 2021-04-02
19    20    Florida     397       20 2021-04-02
20    21  Texas A&M     348       NR 2021-04-02

In [57]:
SECODDS

,Date,Away,Score,Home,Score.1,Result,Home Spread,ATS,Total,OU
0,2020-12-12,BAMA,52,ARK,3,W,28.5,W,69.5,U
1,2019-10-26,ARK,7,ALAB,48,W,-32.0,W,56.0,U
2,2018-10-06,ALAB,65,ARK,31,W,35.0,L,58.5,O
3,2017-10-14,ARK,9,ALAB,41,W,-37.0,L,54.5,U
4,2016-10-08,ALAB,49,ARK,30,W,14.5,W,48.5,O
...,...,...,...,...,...,...,...,...,...,...
1155,2002-11-23,TENN,24,VANDY,0,W,18.0,W,45.0,U
1156,2001-11-24,VANDY,0,TENN,38,W,-25.0,W,0.0,NaN
1157,2020-09-26,VANDY,12,TEXAM,17,W,-31.5,L,46.5,U
1158,2015-11-21,TEXA&M,25,VANDY,0,W,4.0,W,44.5,U
1159,2013-10-26,VANDY,24,TEXA&M,56,W,-17.0,W,69.5,O

In [58]:
SECODDS= SECODDS.replace({'Home': {'BAMA': 'Alabama', 
                                'ARK': 'Arkansas',
                                  'AUBRN': 'Auburn',
                                  'FLA' : 'Florida',
                                  'GEORGI' : 'Georgia',
                                  'KENTUC' : 'Kentucky',
                                  'MIS.ST' : 'Mississippi State',
                                  'MIZZOU' : 'Missouri',
                                  'MISS' : 'Ole Miss',
                                  'O-MISS' : 'Ole Miss',
                                  'S.CARO' : 'South Carolina',
                                  'TENN' : 'Tennessee',
                                  'VANDY' : 'Vanderbilt',
                                  'GA' : 'Georgia',
                                  'TEXA&M' : 'Texas A&M',
                                   'ALAB' : 'Alabama',
                                     'UK' : 'Kentucky',
                                   'TEXAM' : 'Texas A&M',
                                   'MISST' : 'Mississippi State',
                                   'SCAR' : 'South Carolina',
                                   'MIZZU' : 'Missouri',
                                   'AUB' : 'Auburn'
                                  }})

In [59]:
SECODDS= SECODDS.replace({'Away': {'BAMA': 'Alabama', 
                                'ARK': 'Arkansas',
                                  'AUBRN': 'Auburn',
                                  'FLA' : 'Florida',
                                  'GEORGI' : 'Georgia',
                                  'KENTUC' : 'Kentucky',
                                  'MIS.ST' : 'Mississippi State',
                                  'MIZZOU' : 'Missouri',
                                  'MISS' : 'Ole Miss',
                                  'O-MISS' : 'Ole Miss',
                                  'S.CARO' : 'South Carolina',
                                  'TENN' : 'Tennessee',
                                  'VANDY' : 'Vanderbilt',
                                  'GA' : 'Georgia',
                                  'TEXA&M' : 'Texas A&M',
                                   'ALAB' : 'Alabama',
                                   'UK' : 'Kentucky',
                                   'TEXAM' : 'Texas A&M',
                                   'MISST' : 'Mississippi State',
                                   'SCAR' : 'South Carolina',
                                   'MIZZU' : 'Missouri',
                                   'AUB' : 'Auburn'
                                  }})

In [60]:
SECODDS.Away.unique()

array(['Alabama', 'Arkansas', 'Auburn', 'Florida', 'Georgia', 'Kentucky',
       'LSU', 'Mississippi State', 'Missouri', 'Ole Miss',
       'South Carolina', 'Tennessee', 'Texas A&M', 'Vanderbilt'],
      dtype=object)

In [61]:
SECODDS.Home.unique()

array(['Arkansas', 'Alabama', 'Auburn', 'Florida', 'Georgia', 'Kentucky',
       'LSU', 'Mississippi State', 'Missouri', 'Ole Miss',
       'South Carolina', 'Tennessee', 'Texas A&M', 'Vanderbilt'],
      dtype=object)

In [62]:
SECODDS.rename(columns={'Away': 'Away Team', 'Score': 'Away Team Score','Home':'Home Team','Score.1':'Home Team Score','Home Spread':'Home Team Spread'}, inplace=True)

In [63]:
SECODDS.head()

,Date,Away Team,Away Team Score,Home Team,Home Team Score,Result,Home Team Spread,ATS,Total,OU
0,2020-12-12,Alabama,52,Arkansas,3,W,28.5,W,69.5,U
1,2019-10-26,Arkansas,7,Alabama,48,W,-32.0,W,56.0,U
2,2018-10-06,Alabama,65,Arkansas,31,W,35.0,L,58.5,O
3,2017-10-14,Arkansas,9,Alabama,41,W,-37.0,L,54.5,U
4,2016-10-08,Alabama,49,Arkansas,30,W,14.5,W,48.5,O

In [64]:
SECODDS['Away Team Spread'] = SECODDS['Home Team Spread'] * -1

In [65]:
SECODDS.head()

,Date,Away Team,Away Team Score,Home Team,Home Team Score,Result,Home Team Spread,ATS,Total,OU,Away Team Spread
0,2020-12-12,Alabama,52,Arkansas,3,W,28.5,W,69.5,U,-28.5
1,2019-10-26,Arkansas,7,Alabama,48,W,-32.0,W,56.0,U,32.0
2,2018-10-06,Alabama,65,Arkansas,31,W,35.0,L,58.5,O,-35.0
3,2017-10-14,Arkansas,9,Alabama,41,W,-37.0,L,54.5,U,37.0
4,2016-10-08,Alabama,49,Arkansas,30,W,14.5,W,48.5,O,-14.5

In [66]:
SECODDS.dtypes

Date                datetime64[ns]
Away Team                   object
Away Team Score              int64
Home Team                   object
Home Team Score              int64
Result                      object
Home Team Spread           float64
ATS                         object
Total                      float64
OU                          object
Away Team Spread           float64
dtype: object

In [67]:
SECOR.head(14)

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,32:10,7.71,72.14,115,13.70,4.53,6.88,0.71
4,Mississippi,43.67,28.33,48.33,262.83,32.17,290.17,553.00,27:44,10.17,88.33,129,13.93,5.44,6.87,0.67
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,26:08,5.86,56.71,69,13.18,5.13,6.24,1.00
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,30:58,5.57,44.14,27,14.33,4.82,6.74,1.00
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,28:27,5.86,47.14,41,12.16,5.74,6.48,0.71
26,Florida,34.43,24.14,40.14,256.29,30.71,245.43,501.71,31:13,7.00,63.29,97,12.18,6.38,7.08,1.86
27,Missouri,34.43,22.86,30.86,160.57,40.57,286.57,447.14,29:13,6.86,62.43,93,10.56,5.20,6.26,1.00
37,Louisiana State,32.43,20.29,31.00,117.57,36.71,272.71,390.29,28:27,4.29,33.14,4,12.48,3.79,5.76,0.71
46,Arkansas,31.00,23.43,47.00,243.00,24.29,216.71,459.71,29:59,8.14,68.86,112,14.45,5.17,6.45,0.71
67,Kentucky,28.43,20.71,37.00,189.29,26.29,196.86,386.14,31:44,4.57,37.00,8,11.20,5.12,6.10,1.71
76,Texas A&M,27.57,21.14,32.71,173.43,31.29,211.00,384.43,29:38,7.00,58.29,79,11.82,5.30,6.01,1.57
95,Mississippi State,24.67,24.00,18.67,46.67,56.50,360.33,407.00,33:52,8.00,57.33,72,8.65,2.50,5.41,1.67
109,South Carolina,21.86,17.57,35.14,127.57,29.86,222.86,350.43,30:43,7.86,62.43,94,12.48,3.63,5.39,2.00
127,Vanderbilt,14.29,18.57,34.86,112.29,35.71,198.14,310.43,30:25,5.57,48.14,47,10.20,3.22,4.40,1.86

In [68]:
SECOR= SECOR.replace({'Team': {'Mississippi': 'Ole Miss','Louisiana State':'LSU' }})

In [69]:
SECOR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,32:10,7.71,72.14,115,13.70,4.53,6.88,0.71
4,Ole Miss,43.67,28.33,48.33,262.83,32.17,290.17,553.00,27:44,10.17,88.33,129,13.93,5.44,6.87,0.67
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,26:08,5.86,56.71,69,13.18,5.13,6.24,1.00
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,30:58,5.57,44.14,27,14.33,4.82,6.74,1.00
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,28:27,5.86,47.14,41,12.16,5.74,6.48,0.71
26,Florida,34.43,24.14,40.14,256.29,30.71,245.43,501.71,31:13,7.00,63.29,97,12.18,6.38,7.08,1.86
27,Missouri,34.43,22.86,30.86,160.57,40.57,286.57,447.14,29:13,6.86,62.43,93,10.56,5.20,6.26,1.00
37,LSU,32.43,20.29,31.00,117.57,36.71,272.71,390.29,28:27,4.29,33.14,4,12.48,3.79,5.76,0.71
46,Arkansas,31.00,23.43,47.00,243.00,24.29,216.71,459.71,29:59,8.14,68.86,112,14.45,5.17,6.45,0.71
67,Kentucky,28.43,20.71,37.00,189.29,26.29,196.86,386.14,31:44,4.57,37.00,8,11.20,5.12,6.10,1.71
76,Texas A&M,27.57,21.14,32.71,173.43,31.29,211.00,384.43,29:38,7.00,58.29,79,11.82,5.30,6.01,1.57
95,Mississippi State,24.67,24.00,18.67,46.67,56.50,360.33,407.00,33:52,8.00,57.33,72,8.65,2.50,5.41,1.67
109,South Carolina,21.86,17.57,35.14,127.57,29.86,222.86,350.43,30:43,7.86,62.43,94,12.48,3.63,5.39,2.00
127,Vanderbilt,14.29,18.57,34.86,112.29,35.71,198.14,310.43,30:25,5.57,48.14,47,10.20,3.22,4.40,1.86

In [70]:
SECOR.dtypes

Team                   object
Score                 float64
FD                    float64
RA                    float64
RY                    float64
PA                    float64
PY                    float64
TY                    float64
Time                   object
PEN                   float64
penalty_yards         float64
Penalty Yards Rank      int64
YP                    float64
YR                    float64
Y/PL                  float64
TO                    float64
dtype: object

In [71]:
SECOR.head()

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,32:10,7.71,72.14,115,13.70,4.53,6.88,0.71
4,Ole Miss,43.67,28.33,48.33,262.83,32.17,290.17,553.00,27:44,10.17,88.33,129,13.93,5.44,6.87,0.67
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,26:08,5.86,56.71,69,13.18,5.13,6.24,1.00
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,30:58,5.57,44.14,27,14.33,4.82,6.74,1.00
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,28:27,5.86,47.14,41,12.16,5.74,6.48,0.71

In [72]:
SECOR['Possession Minutes'] = SECOR['Time'].str[0:2]
SECOR['Possession Seconds'] = SECOR['Time'].str[3:5]

In [73]:
SECOR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO,Possession Minutes,Possession Seconds
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,32:10,7.71,72.14,115,13.70,4.53,6.88,0.71,32,10
4,Ole Miss,43.67,28.33,48.33,262.83,32.17,290.17,553.00,27:44,10.17,88.33,129,13.93,5.44,6.87,0.67,27,44
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,26:08,5.86,56.71,69,13.18,5.13,6.24,1.00,26,08
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,30:58,5.57,44.14,27,14.33,4.82,6.74,1.00,30,58
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,28:27,5.86,47.14,41,12.16,5.74,6.48,0.71,28,27
26,Florida,34.43,24.14,40.14,256.29,30.71,245.43,501.71,31:13,7.00,63.29,97,12.18,6.38,7.08,1.86,31,13
27,Missouri,34.43,22.86,30.86,160.57,40.57,286.57,447.14,29:13,6.86,62.43,93,10.56,5.20,6.26,1.00,29,13
37,LSU,32.43,20.29,31.00,117.57,36.71,272.71,390.29,28:27,4.29,33.14,4,12.48,3.79,5.76,0.71,28,27
46,Arkansas,31.00,23.43,47.00,243.00,24.29,216.71,459.71,29:59,8.14,68.86,112,14.45,5.17,6.45,0.71,29,59
67,Kentucky,28.43,20.71,37.00,189.29,26.29,196.86,386.14,31:44,4.57,37.00,8,11.20,5.12,6.10,1.71,31,44
76,Texas A&M,27.57,21.14,32.71,173.43,31.29,211.00,384.43,29:38,7.00,58.29,79,11.82,5.30,6.01,1.57,29,38
95,Mississippi State,24.67,24.00,18.67,46.67,56.50,360.33,407.00,33:52,8.00,57.33,72,8.65,2.50,5.41,1.67,33,52
109,South Carolina,21.86,17.57,35.14,127.57,29.86,222.86,350.43,30:43,7.86,62.43,94,12.48,3.63,5.39,2.00,30,43
127,Vanderbilt,14.29,18.57,34.86,112.29,35.71,198.14,310.43,30:25,5.57,48.14,47,10.20,3.22,4.40,1.86,30,25

In [74]:
SECOR[['Possession Minutes', 'Possession Seconds']] = SECOR[['Possession Minutes', 'Possession Seconds']].astype(int)

In [75]:
SECOR['Avg Possession Minutes'] = SECOR['Possession Minutes'] + (SECOR['Possession Seconds']/60)

In [76]:

SECOR = SECOR[['Team','Score','FD','RA','RY','PA','PY','TY','PEN','penalty_yards','Penalty Yards Rank','YP','YR','Y/PL','TO','Avg Possession Minutes']]

In [77]:
SECOR = SECOR.rename(columns={'Score': 'Avg Score'})

In [78]:
SECOR

,Team,Avg Score,FD,RA,RY,PA,PY,TY,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO,Avg Possession Minutes
3,Alabama,45.00,23.86,36.71,166.43,33.29,315.14,481.57,7.71,72.14,115,13.70,4.53,6.88,0.71,32.166667
4,Ole Miss,43.67,28.33,48.33,262.83,32.17,290.17,553.00,10.17,88.33,129,13.93,5.44,6.87,0.67,27.733333
10,Tennessee,39.29,26.00,48.43,248.43,27.29,224.00,472.43,5.86,56.71,69,13.18,5.13,6.24,1.00,26.133333
14,Georgia,38.43,22.43,40.00,192.71,23.86,237.43,430.14,5.57,44.14,27,14.33,4.82,6.74,1.00,30.966667
25,Auburn,35.43,22.00,34.14,196.00,35.00,251.86,447.86,5.86,47.14,41,12.16,5.74,6.48,0.71,28.450000
26,Florida,34.43,24.14,40.14,256.29,30.71,245.43,501.71,7.00,63.29,97,12.18,6.38,7.08,1.86,31.216667
27,Missouri,34.43,22.86,30.86,160.57,40.57,286.57,447.14,6.86,62.43,93,10.56,5.20,6.26,1.00,29.216667
37,LSU,32.43,20.29,31.00,117.57,36.71,272.71,390.29,4.29,33.14,4,12.48,3.79,5.76,0.71,28.450000
46,Arkansas,31.00,23.43,47.00,243.00,24.29,216.71,459.71,8.14,68.86,112,14.45,5.17,6.45,0.71,29.983333
67,Kentucky,28.43,20.71,37.00,189.29,26.29,196.86,386.14,4.57,37.00,8,11.20,5.12,6.10,1.71,31.733333
76,Texas A&M,27.57,21.14,32.71,173.43,31.29,211.00,384.43,7.00,58.29,79,11.82,5.30,6.01,1.57,29.633333
95,Mississippi State,24.67,24.00,18.67,46.67,56.50,360.33,407.00,8.00,57.33,72,8.65,2.50,5.41,1.67,33.866667
109,South Carolina,21.86,17.57,35.14,127.57,29.86,222.86,350.43,7.86,62.43,94,12.48,3.63,5.39,2.00,30.716667
127,Vanderbilt,14.29,18.57,34.86,112.29,35.71,198.14,310.43,5.57,48.14,47,10.20,3.22,4.40,1.86,30.416667

In [79]:
SECOR.dtypes

Team                       object
Avg Score                 float64
FD                        float64
RA                        float64
RY                        float64
PA                        float64
PY                        float64
TY                        float64
PEN                       float64
penalty_yards             float64
Penalty Yards Rank          int64
YP                        float64
YR                        float64
Y/PL                      float64
TO                        float64
Avg Possession Minutes    float64
dtype: object

In [80]:
SECDR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
0,Georgia,6.57,12.29,29.43,64.29,28.86,144.86,209.14,28:46,7.43,55.14,62,9.05,2.18,3.59,1.43
13,Texas A&M,16.43,19.14,35.57,137.71,35.29,212.14,349.86,30:08,6.57,51.86,83,9.97,3.87,4.94,1.14
23,Kentucky,19.29,18.29,31.71,119.14,31.71,201.71,320.86,28:12,6.29,50.00,90,9.87,3.76,5.06,0.57
31,Auburn,19.71,19.29,39.00,124.29,30.71,217.71,342.00,31:32,4.71,36.57,123,10.66,3.19,4.91,0.86
34,Alabama,20.14,19.14,31.86,92.29,30.71,208.14,300.43,27:48,6.57,52.43,78,10.56,2.90,4.80,1.71
41,Florida,21.14,19.43,35.86,138.86,30.86,196.57,335.43,28:46,5.86,46.86,101,11.66,3.87,5.03,0.86
44,South Carolina,21.71,18.57,36.43,152.00,26.43,174.00,326.00,29:11,3.71,28.43,130,10.78,4.17,5.19,2.29
52,Tennessee,22.86,20.29,38.43,136.00,36.57,232.00,368.00,33:51,8.57,74.29,6,10.28,3.54,4.91,1.43
75,Arkansas,26.43,17.71,39.71,174.86,25.71,175.43,350.29,29:55,7.57,52.71,75,11.70,4.40,5.35,1.00
84,Louisiana State,28.43,21.29,36.43,151.86,34.57,247.86,399.71,31:32,3.71,31.86,128,11.41,4.17,5.63,1.43
89,Mississippi State,29.00,15.67,29.17,106.67,31.83,248.83,355.50,25:50,6.33,50.17,88,12.87,3.66,5.83,1.33
94,Mississippi,30.17,26.17,45.50,198.33,31.67,239.67,438.00,32:15,6.33,53.83,69,11.98,4.36,5.68,1.50
112,Vanderbilt,34.00,20.14,35.43,188.71,31.86,261.14,449.86,28:51,8.57,73.14,10,13.34,5.33,6.69,1.43
123,Missouri,37.14,25.71,46.57,287.43,25.57,201.71,489.14,30:46,4.57,42.29,111,13.58,6.17,6.78,1.43

In [81]:
SECDR= SECDR.replace({'Team': {'Mississippi': 'Ole Miss','Louisiana State':'LSU' }})

In [82]:
SECDR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
0,Georgia,6.57,12.29,29.43,64.29,28.86,144.86,209.14,28:46,7.43,55.14,62,9.05,2.18,3.59,1.43
13,Texas A&M,16.43,19.14,35.57,137.71,35.29,212.14,349.86,30:08,6.57,51.86,83,9.97,3.87,4.94,1.14
23,Kentucky,19.29,18.29,31.71,119.14,31.71,201.71,320.86,28:12,6.29,50.00,90,9.87,3.76,5.06,0.57
31,Auburn,19.71,19.29,39.00,124.29,30.71,217.71,342.00,31:32,4.71,36.57,123,10.66,3.19,4.91,0.86
34,Alabama,20.14,19.14,31.86,92.29,30.71,208.14,300.43,27:48,6.57,52.43,78,10.56,2.90,4.80,1.71
41,Florida,21.14,19.43,35.86,138.86,30.86,196.57,335.43,28:46,5.86,46.86,101,11.66,3.87,5.03,0.86
44,South Carolina,21.71,18.57,36.43,152.00,26.43,174.00,326.00,29:11,3.71,28.43,130,10.78,4.17,5.19,2.29
52,Tennessee,22.86,20.29,38.43,136.00,36.57,232.00,368.00,33:51,8.57,74.29,6,10.28,3.54,4.91,1.43
75,Arkansas,26.43,17.71,39.71,174.86,25.71,175.43,350.29,29:55,7.57,52.71,75,11.70,4.40,5.35,1.00
84,LSU,28.43,21.29,36.43,151.86,34.57,247.86,399.71,31:32,3.71,31.86,128,11.41,4.17,5.63,1.43
89,Mississippi State,29.00,15.67,29.17,106.67,31.83,248.83,355.50,25:50,6.33,50.17,88,12.87,3.66,5.83,1.33
94,Ole Miss,30.17,26.17,45.50,198.33,31.67,239.67,438.00,32:15,6.33,53.83,69,11.98,4.36,5.68,1.50
112,Vanderbilt,34.00,20.14,35.43,188.71,31.86,261.14,449.86,28:51,8.57,73.14,10,13.34,5.33,6.69,1.43
123,Missouri,37.14,25.71,46.57,287.43,25.57,201.71,489.14,30:46,4.57,42.29,111,13.58,6.17,6.78,1.43

In [83]:
SECDR['Possession Minutes'] = SECDR['Time'].str[0:2]
SECDR['Possession Seconds'] = SECDR['Time'].str[3:5]

In [84]:
SECDR[['Possession Minutes', 'Possession Seconds']] = SECDR[['Possession Minutes', 'Possession Seconds']].astype(int)
SECDR['Avg Possession Minutes'] = SECDR['Possession Minutes'] + (SECDR['Possession Seconds']/60)

In [85]:
SECDR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO,Possession Minutes,Possession Seconds,Avg Possession Minutes
0,Georgia,6.57,12.29,29.43,64.29,28.86,144.86,209.14,28:46,7.43,55.14,62,9.05,2.18,3.59,1.43,28,46,28.766667
13,Texas A&M,16.43,19.14,35.57,137.71,35.29,212.14,349.86,30:08,6.57,51.86,83,9.97,3.87,4.94,1.14,30,8,30.133333
23,Kentucky,19.29,18.29,31.71,119.14,31.71,201.71,320.86,28:12,6.29,50.00,90,9.87,3.76,5.06,0.57,28,12,28.200000
31,Auburn,19.71,19.29,39.00,124.29,30.71,217.71,342.00,31:32,4.71,36.57,123,10.66,3.19,4.91,0.86,31,32,31.533333
34,Alabama,20.14,19.14,31.86,92.29,30.71,208.14,300.43,27:48,6.57,52.43,78,10.56,2.90,4.80,1.71,27,48,27.800000
41,Florida,21.14,19.43,35.86,138.86,30.86,196.57,335.43,28:46,5.86,46.86,101,11.66,3.87,5.03,0.86,28,46,28.766667
44,South Carolina,21.71,18.57,36.43,152.00,26.43,174.00,326.00,29:11,3.71,28.43,130,10.78,4.17,5.19,2.29,29,11,29.183333
52,Tennessee,22.86,20.29,38.43,136.00,36.57,232.00,368.00,33:51,8.57,74.29,6,10.28,3.54,4.91,1.43,33,51,33.850000
75,Arkansas,26.43,17.71,39.71,174.86,25.71,175.43,350.29,29:55,7.57,52.71,75,11.70,4.40,5.35,1.00,29,55,29.916667
84,LSU,28.43,21.29,36.43,151.86,34.57,247.86,399.71,31:32,3.71,31.86,128,11.41,4.17,5.63,1.43,31,32,31.533333
89,Mississippi State,29.00,15.67,29.17,106.67,31.83,248.83,355.50,25:50,6.33,50.17,88,12.87,3.66,5.83,1.33,25,50,25.833333
94,Ole Miss,30.17,26.17,45.50,198.33,31.67,239.67,438.00,32:15,6.33,53.83,69,11.98,4.36,5.68,1.50,32,15,32.250000
112,Vanderbilt,34.00,20.14,35.43,188.71,31.86,261.14,449.86,28:51,8.57,73.14,10,13.34,5.33,6.69,1.43,28,51,28.850000
123,Missouri,37.14,25.71,46.57,287.43,25.57,201.71,489.14,30:46,4.57,42.29,111,13.58,6.17,6.78,1.43,30,46,30.766667

In [86]:
SECDR = SECDR[['Team','Score','FD','RA','RY','PA','PY','TY','PEN','penalty_yards','Penalty Yards Rank','YP','YR','Y/PL','TO','Avg Possession Minutes']]

In [87]:
SECDR = SECDR.rename(columns={'Score': 'Avg Score-D', 'FD': 'FD-D','RA': 'RA-D','RY':'RY-D' ,'PA': 'PA-D','PY':'PY-D','TY':'TY-D','PEN':'PEN-D','penalty_yards':'penalty_yards-D','Penalty Yards Rank': 'Penalty Yards Rank-D','YP':'YP-D','YR':'YR-D','Y/PL':'Y/PL-D','TO':'TO-D','Avg Possession Minutes':'Avg Possession Minutes-D'})

In [88]:
SECDR

,Team,Avg Score-D,FD-D,RA-D,RY-D,PA-D,PY-D,TY-D,PEN-D,penalty_yards-D,Penalty Yards Rank-D,YP-D,YR-D,Y/PL-D,TO-D,Avg Possession Minutes-D
0,Georgia,6.57,12.29,29.43,64.29,28.86,144.86,209.14,7.43,55.14,62,9.05,2.18,3.59,1.43,28.766667
13,Texas A&M,16.43,19.14,35.57,137.71,35.29,212.14,349.86,6.57,51.86,83,9.97,3.87,4.94,1.14,30.133333
23,Kentucky,19.29,18.29,31.71,119.14,31.71,201.71,320.86,6.29,50.00,90,9.87,3.76,5.06,0.57,28.200000
31,Auburn,19.71,19.29,39.00,124.29,30.71,217.71,342.00,4.71,36.57,123,10.66,3.19,4.91,0.86,31.533333
34,Alabama,20.14,19.14,31.86,92.29,30.71,208.14,300.43,6.57,52.43,78,10.56,2.90,4.80,1.71,27.800000
41,Florida,21.14,19.43,35.86,138.86,30.86,196.57,335.43,5.86,46.86,101,11.66,3.87,5.03,0.86,28.766667
44,South Carolina,21.71,18.57,36.43,152.00,26.43,174.00,326.00,3.71,28.43,130,10.78,4.17,5.19,2.29,29.183333
52,Tennessee,22.86,20.29,38.43,136.00,36.57,232.00,368.00,8.57,74.29,6,10.28,3.54,4.91,1.43,33.850000
75,Arkansas,26.43,17.71,39.71,174.86,25.71,175.43,350.29,7.57,52.71,75,11.70,4.40,5.35,1.00,29.916667
84,LSU,28.43,21.29,36.43,151.86,34.57,247.86,399.71,3.71,31.86,128,11.41,4.17,5.63,1.43,31.533333
89,Mississippi State,29.00,15.67,29.17,106.67,31.83,248.83,355.50,6.33,50.17,88,12.87,3.66,5.83,1.33,25.833333
94,Ole Miss,30.17,26.17,45.50,198.33,31.67,239.67,438.00,6.33,53.83,69,11.98,4.36,5.68,1.50,32.250000
112,Vanderbilt,34.00,20.14,35.43,188.71,31.86,261.14,449.86,8.57,73.14,10,13.34,5.33,6.69,1.43,28.850000
123,Missouri,37.14,25.71,46.57,287.43,25.57,201.71,489.14,4.57,42.29,111,13.58,6.17,6.78,1.43,30.766667

In [89]:
SECDR.dtypes

Team                         object
Avg Score-D                 float64
FD-D                        float64
RA-D                        float64
RY-D                        float64
PA-D                        float64
PY-D                        float64
TY-D                        float64
PEN-D                       float64
penalty_yards-D             float64
Penalty Yards Rank-D          int64
YP-D                        float64
YR-D                        float64
Y/PL-D                      float64
TO-D                        float64
Avg Possession Minutes-D    float64
dtype: object

In [90]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0

In [91]:
SECTS[['3rd Down Conversions', '3rd Down Attempts']] = SECTS['3rd down efficiency'].str.split("-",n=1, expand=True)
SECTS['3rd Down Attempts'] = SECTS['3rd Down Attempts'].str.split().str[-1]

In [92]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio,3rd Down Conversions,3rd Down Attempts
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0,43,84
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0,86,146
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0,80,153
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0,86,165
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0,72,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0,58,184
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0,73,184
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0,49,149
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0,74,168
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0,58,150

In [93]:
SECTS[['4th Down Conversions', '4th Down Attempts']] = SECTS['4th down efficiency'].str.split("-",n=1, expand=True)
SECTS['4th Down Attempts'] = SECTS['4th Down Attempts'].str.split().str[-1]

In [94]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio,3rd Down Conversions,3rd Down Attempts,4th Down Conversions,4th Down Attempts
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0,43,84,7,9
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0,86,146,5,9
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0,80,153,13,19
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0,86,165,7,15
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0,72,177,15,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0,58,184,6,12
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0,73,184,12,21
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0,49,149,11,20
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0,74,168,9,18
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0,58,150,4,13

In [95]:
SECTS[['Completions', 'Passing Attempts']] = SECTS['Comp-Att'].str.split("-",n=1, expand=True)
SECTS['Passing Attempts'] = SECTS['Passing Attempts'].str.split().str[-1]

In [96]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio,3rd Down Conversions,3rd Down Attempts,4th Down Conversions,4th Down Attempts,Completions,Passing Attempts
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0,43,84,7,9,141,205
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0,86,146,5,9,324,425
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0,80,153,13,19,287,406
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0,86,165,7,15,301,438
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0,72,177,15,18,204,332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0,58,184,6,12,157,319
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0,73,184,12,21,193,355
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0,49,149,11,20,187,337
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0,74,168,9,18,274,467
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0,58,150,4,13,169,285

In [97]:
SECTS[['Sacks', 'Yards Lost - Sacks']] = SECTS['Sacks-Yards Lost'].str.split("-",n=1, expand=True)
SECTS['Yards Lost - Sacks'] = SECTS['Yards Lost - Sacks'].str.split().str[-1]

In [98]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio,3rd Down Conversions,3rd Down Attempts,4th Down Conversions,4th Down Attempts,Completions,Passing Attempts,Sacks,Yards Lost - Sacks
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0,43,84,7,9,141,205,14,-72
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0,86,146,5,9,324,425,19,-116
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0,80,153,13,19,287,406,12,-81
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0,86,165,7,15,301,438,16,-123
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0,72,177,15,18,204,332,27,-154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0,58,184,6,12,157,319,27,-187
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0,73,184,12,21,193,355,17,-109
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0,49,149,11,20,187,337,19,-109
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0,74,168,9,18,274,467,25,-202
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0,58,150,4,13,169,285,33,-237

In [99]:
SECTS[['Kickoffs', 'Total Kickoff Yards']] = SECTS['Kickoffs: Total'].str.split("-",n=1, expand=True)
SECTS['Total Kickoff Yards'] = SECTS['Total Kickoff Yards'].str.split().str[-1]

In [100]:
SECTS[['Punts', 'Total Punt Yards']] = SECTS['Punt: Total'].str.split("-",n=1, expand=True)
SECTS['Total Punt Yards'] = SECTS['Total Punt Yards'].str.split().str[-1]

In [101]:
SECTS[['INT', 'INT Total']] = SECTS['INT: Total'].str.split("-",n=1, expand=True)
SECTS['INT Total'] = SECTS['INT Total'].str.split().str[-1]

In [102]:
SECTS[['Punts', 'Punt Total Yards']] = SECTS['Punt: Total Yards'].str.split("-",n=1, expand=True)
SECTS['Punt Total Yards'] = SECTS['Punt Total Yards'].str.split().str[-1]

In [103]:
SECTS[['FGs', 'FG Attempts']] = SECTS['FG: Good-Attempts'].str.split("-",n=1, expand=True)
SECTS['FG Attempts'] = SECTS['FG Attempts'].str.split().str[-1]

In [104]:
SECTS[['Penalties', 'Penalty yds']] = SECTS['Total-Yards'].str.split("-",n=1, expand=True)
SECTS['Penalty yds'] = SECTS['Penalty yds'].str.split().str[-1]

In [105]:
SECTS[['Fumbles', 'Lost Fumbles']] = SECTS['Fumbles-Lost'].str.split("-",n=1, expand=True)
SECTS['Lost Fumbles'] = SECTS['Lost Fumbles'].str.split().str[-1]

In [106]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,1ST DOWNS,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down efficiency,3rd down %,4th down efficiency,4th down %,PASSING,Comp-Att,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Sacks-Yards Lost,RUSHING,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,OFFENSE,Total Offensive Plays,Total Yards,Yards Per Game,RETURNS,Kickoffs: Total,Average Kickoff Return Yards,Punt: Total,Average Punt Return Yards,INT: Total,Average Interception Yards,KICKING,Net Average Punt Yards,Punt: Total Yards,FG: Good-Attempts,Touchback Percentage,PENALTIES,Total-Yards,Avg. Per Game (YDS),TIME OF POSSESSION,Possession Time Seconds,MISCELLANEOUS,Fumbles-Lost,Turnover Ratio,3rd Down Conversions,3rd Down Attempts,4th Down Conversions,4th Down Attempts,Completions,Passing Attempts,Sacks,Yards Lost - Sacks,Kickoffs,Total Kickoff Yards,Punts,Total Punt Yards,INT,INT Total,Punt Total Yards,FGs,FG Attempts,Penalties,Penalty yds,Fumbles,Lost Fumbles
0,2021,Alabama,44.3,266.0,34.0,NaN,145.0,48.0,84.0,13.0,43-84,51.19,7-9,77.78,NaN,141-205,1865.0,9.1,310.8,21.0,3.0,14--72,NaN,217.0,970.0,4.5,161.7,9.0,NaN,436.0,2835.0,472.5,NaN,11-316,28.7,14-174,12.4,7-22,3.1,NaN,37.2,16-617,9-10,53.0,NaN,48-445,74.0,NaN,34:12,NaN,5-2,4.0,43,84,7,9,141,205,14,-72,11,316,16,174,7,22,617,9,10,48,445,5,2
1,2020,Alabama,48.5,630.0,84.0,NaN,365.0,132.0,210.0,23.0,86-146,58.90,5-9,55.56,NaN,324-425,4656.0,10.0,358.2,42.0,4.0,19--116,NaN,477.0,2385.0,5.0,183.5,37.0,NaN,921.0,7041.0,541.6,NaN,18-276,15.3,20-299,15.0,12-212,17.7,NaN,35.4,"32-1,216",14-14,21.0,NaN,78-625,48.0,NaN,30:55,NaN,10-8,10.0,86,146,5,9,324,425,19,-116,18,276,32,299,12,212,"1,216",14,14,78,625,10,8
2,2019,Alabama,47.2,614.0,83.0,NaN,318.0,126.0,168.0,24.0,80-153,52.29,13-19,68.42,NaN,287-406,4449.0,11.0,342.2,49.0,6.0,12--81,NaN,436.0,2191.0,5.0,168.5,27.0,NaN,854.0,6640.0,510.8,NaN,30-637,21.2,22-531,24.1,17-245,14.4,NaN,35.6,"33-1,317",12-18,33.0,NaN,95-855,65.0,NaN,29:59,NaN,9-4,18.0,80,153,13,19,287,406,12,-81,30,637,33,531,17,245,"1,317",12,18,95,855,9,4
3,2018,Alabama,55.7,836.0,92.0,NaN,371.0,155.0,195.0,21.0,86-165,52.12,7-15,46.67,NaN,301-438,4854.0,11.1,323.6,52.0,8.0,16--123,NaN,571.0,2976.0,5.2,198.4,33.0,NaN,1025.0,7830.0,522.0,NaN,22-523,23.8,17-250,0.0,14-276,19.7,NaN,35.6,"41-1,502",15-20,0.0,NaN,87-796,NaN,NaN,NaN,NaN,16-7,0.0,86,165,7,15,301,438,16,-123,22,523,41,250,14,276,"1,502",15,20,87,796,16,7
4,2017,Alabama,37.1,519.0,66.0,NaN,311.0,174.0,119.0,18.0,72-177,40.68,15-18,83.33,NaN,204-332,2708.0,8.2,193.4,28.0,3.0,27--154,NaN,612.0,3509.0,5.7,250.6,36.0,NaN,971.0,6217.0,444.1,NaN,20-438,21.9,38-301,0.0,19-279,14.7,NaN,40.8,"54-2,320",19-28,0.0,NaN,70-569,NaN,NaN,NaN,NaN,20-7,0.0,72,177,15,18,204,332,27,-154,20,438,54,301,19,279,"2,320",19,28,70,569,20,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,NaN,193.0,93.0,72.0,28.0,58-184,31.52,6-12,50.00,NaN,157-319,1781.0,5.0,137.0,14.0,12.0,27--187,NaN,471.0,1737.0,3.7,133.6,13.0,NaN,817.0,3331.0,256.2,NaN,49-961,19.6,32-323,10.0,20-272,13.6,NaN,35.8,"82-3,177",13-17,0.0,NaN,56-473,NaN,NaN,NaN,NaN,25-9,0.0,58,184,6,12,157,319,27,-187,49,961,82,323,20,272,"3,177",13,17,56,473,25,9
248,2007,Vanderbilt,20.7,248.0,30.0,NaN,229.0,102.0,99.0,28.0,73-184,39.67,12-21,57.14,NaN,193-355,2226.0,6.0,185.5,17.0,12.0,17--109,NaN,481.0,1802.0,3.7,150.2,13.0,NaN,853.0,3919.0,326.6,NaN,"51-1,136",22.3,34-249,7.3,16-109,6.8,NaN,32.8,"61-2,391",13-20,0.0,NaN,59-479,NaN,NaN,NaN,NaN,29-15,0.0,73,184,12,21,193,355,17,-109,51,"1,136",61,249,16,109,"2,391",13,20,59,479,29,15
249,2006,Vanderbilt,21.5,258.0,34.0,NaN,212.0,94.0,101.0,17.0,49-149,32.89,11-20,55.00,NaN,187-337,2526.0,7.2,210.5,16.0,14.0,19--109,NaN,385.0,1795.0,4.7,149.6,18.0,NaN,741.0,4212.0,351.0,NaN,41-732,17.9,22-104,4.7,14-91,6.5,NaN,33.5,"54-1,945",9-18,0.0,NaN,47-394,NaN,NaN,NaN,NaN,26-14,0.0,49,149,11,20,187,337,19,-109,41,732,54,104,14,91,"1,945",9,18,47,394,26,14
250,2005,Vanderbilt,28.1,309.0,39.0,NaN,257.0,82.0,149.0,0.0,74-168,44.05,9-18,50.00,NaN,274-467,3288.0,6.6,298.9,21.0,9.0,25--202,NaN,361.0,1266.0,3.5,115.1,16.0,NaN,853.0,4352.0,395.6,NaN,38-770,20.3,12-76,6.3,8-80,10.0,NaN,37.2,"53-2,047",12-17,0.0,NaN,0-0,NaN,NaN,NaN,NaN,25-8,0.0,74,168,9,18,274,467,25,-202,38,770,53,76,8,80,"2,047",12,17,0,0,25,8
251,2004,Vanderbilt,18.0,198.0,26.0,NaN,209.0,99.0,95.0,0.0,58-150,38.67,4-13,30.77,NaN,169-285,2286.0,7.2,207.8,10.0,5.0,33--237,NaN,439.0,1634.0,3.7,148.5,16.0,NaN,757.0,3683.0,334.8,NaN,35-658,18.8,12-103,8.6,9-44,4.9,NaN,34.8,"56-2,051",7-14,0.0,NaN,0-0,NaN,NaN,NaN,NaN,28-14,0.0,58,150,4,13,169,285,33,-237,35,658,56,103,9,44,"2,051",7,14,0,0,28,14

In [107]:

SECTS = SECTS[['Year','Team','Total Points Per Game','Total Points','Total Touchdowns','Total 1st downs','Rushing 1st downs','Passing 1st downs','1st downs by penalty', '3rd down %','4th down %','Net Passing Yards','Yards Per Pass Attempt','Net Passing Yards Per Game','Passing Touchdowns','Interceptions','Rushing Attempts','Rushing Yards','Yards Per Rush Attempt','Rushing Yards Per Game','Rushing Touchdowns','Total Offensive Plays','Total Yards','Yards Per Game','Average Kickoff Return Yards','Average Punt Return Yards','Average Interception Yards','Net Average Punt Yards','Touchback Percentage','Turnover Ratio','3rd Down Conversions','3rd Down Attempts','4th Down Conversions','4th Down Attempts','Completions','Passing Attempts','Sacks','Yards Lost - Sacks','Kickoffs','Total Kickoff Yards','Punts','Total Punt Yards','INT','INT Total','Punt Total Yards','FGs','FG Attempts','Penalties','Penalty yds','Fumbles','Lost Fumbles']]

In [108]:
SECTS

,Year,Team,Total Points Per Game,Total Points,Total Touchdowns,Total 1st downs,Rushing 1st downs,Passing 1st downs,1st downs by penalty,3rd down %,4th down %,Net Passing Yards,Yards Per Pass Attempt,Net Passing Yards Per Game,Passing Touchdowns,Interceptions,Rushing Attempts,Rushing Yards,Yards Per Rush Attempt,Rushing Yards Per Game,Rushing Touchdowns,Total Offensive Plays,Total Yards,Yards Per Game,Average Kickoff Return Yards,Average Punt Return Yards,Average Interception Yards,Net Average Punt Yards,Touchback Percentage,Turnover Ratio,3rd Down Conversions,3rd Down Attempts,4th Down Conversions,4th Down Attempts,Completions,Passing Attempts,Sacks,Yards Lost - Sacks,Kickoffs,Total Kickoff Yards,Punts,Total Punt Yards,INT,INT Total,Punt Total Yards,FGs,FG Attempts,Penalties,Penalty yds,Fumbles,Lost Fumbles
0,2021,Alabama,44.3,266.0,34.0,145.0,48.0,84.0,13.0,51.19,77.78,1865.0,9.1,310.8,21.0,3.0,217.0,970.0,4.5,161.7,9.0,436.0,2835.0,472.5,28.7,12.4,3.1,37.2,53.0,4.0,43,84,7,9,141,205,14,-72,11,316,16,174,7,22,617,9,10,48,445,5,2
1,2020,Alabama,48.5,630.0,84.0,365.0,132.0,210.0,23.0,58.90,55.56,4656.0,10.0,358.2,42.0,4.0,477.0,2385.0,5.0,183.5,37.0,921.0,7041.0,541.6,15.3,15.0,17.7,35.4,21.0,10.0,86,146,5,9,324,425,19,-116,18,276,32,299,12,212,"1,216",14,14,78,625,10,8
2,2019,Alabama,47.2,614.0,83.0,318.0,126.0,168.0,24.0,52.29,68.42,4449.0,11.0,342.2,49.0,6.0,436.0,2191.0,5.0,168.5,27.0,854.0,6640.0,510.8,21.2,24.1,14.4,35.6,33.0,18.0,80,153,13,19,287,406,12,-81,30,637,33,531,17,245,"1,317",12,18,95,855,9,4
3,2018,Alabama,55.7,836.0,92.0,371.0,155.0,195.0,21.0,52.12,46.67,4854.0,11.1,323.6,52.0,8.0,571.0,2976.0,5.2,198.4,33.0,1025.0,7830.0,522.0,23.8,0.0,19.7,35.6,0.0,0.0,86,165,7,15,301,438,16,-123,22,523,41,250,14,276,"1,502",15,20,87,796,16,7
4,2017,Alabama,37.1,519.0,66.0,311.0,174.0,119.0,18.0,40.68,83.33,2708.0,8.2,193.4,28.0,3.0,612.0,3509.0,5.7,250.6,36.0,971.0,6217.0,444.1,21.9,0.0,14.7,40.8,0.0,0.0,72,177,15,18,204,332,27,-154,20,438,54,301,19,279,"2,320",19,28,70,569,20,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2008,Vanderbilt,18.7,243.0,29.0,193.0,93.0,72.0,28.0,31.52,50.00,1781.0,5.0,137.0,14.0,12.0,471.0,1737.0,3.7,133.6,13.0,817.0,3331.0,256.2,19.6,10.0,13.6,35.8,0.0,0.0,58,184,6,12,157,319,27,-187,49,961,82,323,20,272,"3,177",13,17,56,473,25,9
248,2007,Vanderbilt,20.7,248.0,30.0,229.0,102.0,99.0,28.0,39.67,57.14,2226.0,6.0,185.5,17.0,12.0,481.0,1802.0,3.7,150.2,13.0,853.0,3919.0,326.6,22.3,7.3,6.8,32.8,0.0,0.0,73,184,12,21,193,355,17,-109,51,"1,136",61,249,16,109,"2,391",13,20,59,479,29,15
249,2006,Vanderbilt,21.5,258.0,34.0,212.0,94.0,101.0,17.0,32.89,55.00,2526.0,7.2,210.5,16.0,14.0,385.0,1795.0,4.7,149.6,18.0,741.0,4212.0,351.0,17.9,4.7,6.5,33.5,0.0,0.0,49,149,11,20,187,337,19,-109,41,732,54,104,14,91,"1,945",9,18,47,394,26,14
250,2005,Vanderbilt,28.1,309.0,39.0,257.0,82.0,149.0,0.0,44.05,50.00,3288.0,6.6,298.9,21.0,9.0,361.0,1266.0,3.5,115.1,16.0,853.0,4352.0,395.6,20.3,6.3,10.0,37.2,0.0,0.0,74,168,9,18,274,467,25,-202,38,770,53,76,8,80,"2,047",12,17,0,0,25,8
251,2004,Vanderbilt,18.0,198.0,26.0,209.0,99.0,95.0,0.0,38.67,30.77,2286.0,7.2,207.8,10.0,5.0,439.0,1634.0,3.7,148.5,16.0,757.0,3683.0,334.8,18.8,8.6,4.9,34.8,0.0,0.0,58,150,4,13,169,285,33,-237,35,658,56,103,9,44,"2,051",7,14,0,0,28,14

In [109]:
SECTS.dtypes

Year                              int64
Team                             object
Total Points Per Game           float64
Total Points                    float64
Total Touchdowns                float64
Total 1st downs                 float64
Rushing 1st downs               float64
Passing 1st downs               float64
1st downs by penalty            float64
3rd down %                      float64
4th down %                      float64
Net Passing Yards               float64
Yards Per Pass Attempt          float64
Net Passing Yards Per Game      float64
Passing Touchdowns              float64
Interceptions                   float64
Rushing Attempts                float64
Rushing Yards                   float64
Yards Per Rush Attempt          float64
Rushing Yards Per Game          float64
Rushing Touchdowns              float64
Total Offensive Plays           float64
Total Yards                     float64
Yards Per Game                  float64
Average Kickoff Return Yards    float64
Average Punt Return Yards       float64
Average Interception Yards      float64
Net Average Punt Yards          float64
Touchback Percentage            float64
Turnover Ratio                  float64
3rd Down Conversions             object
3rd Down Attempts                object
4th Down Conversions             object
4th Down Attempts                object
Completions                      object
Passing Attempts                 object
Sacks                            object
Yards Lost - Sacks               object
Kickoffs                         object
Total Kickoff Yards              object
Punts                            object
Total Punt Yards                 object
INT                              object
INT Total                        object
Punt Total Yards                 object
FGs                              object
FG Attempts                      object
Penalties                        object
Penalty yds                      object
Fumbles                          object
Lost Fumbles                     object
dtype: object

In [110]:
ESPNO

                          TEAM    REC (ATS)  Spread  LINE    ML    FPI  Game
0                Auburn Tigers  4-2 (3-3-0)     3.5  53.0   155  0.400     1
1          Arkansas Razorbacks  4-2 (5-1-0)    -3.5  53.0  -180  0.600     1
2               Florida Gators  4-2 (3-3-0)   -10.0  59.0  -400  0.730     2
3                   LSU Tigers  3-3 (2-4-0)    10.0  59.0   310  0.270     2
4             Texas A&M Aggies  4-2 (3-3-0)    -8.5  60.5  -330  0.771     3
5              Missouri Tigers  3-3 (0-6-0)     8.5  60.5   260  0.229     3
6            Kentucky Wildcats  6-0 (5-1-0)    23.5  44.5  1100  0.046     4
7             Georgia Bulldogs  6-0 (5-1-0)   -23.5  44.5 -2400  0.954     4
8        Vanderbilt Commodores  2-4 (1-5-0)    18.5  51.0   700  0.074     5
9     South Carolina Gamecocks  3-3 (4-2-0)   -18.5  51.0 -1100  0.926     5
10        Alabama Crimson Tide  5-1 (3-2-0)   -17.0  57.5  -900  0.820     6
11  Mississippi State Bulldogs  3-2 (2-3-0)    17.0  57.5   600  0.180     6
12             Ole Miss Rebels  4-1 (2-2-1)    -3.0  81.0  -150  0.462     7
13        Tennessee Volunteers  4-2 (3-3-0)     3.0  81.0   130  0.538     7

In [111]:
ESPNO = ESPNO.replace({'TEAM': {'Auburn Tigers': 'Auburn',
                               'Arkansas Razorbacks':'Arkansas',
                               'Florida Gators':'Florida',
                               'LSU Tigers':'LSU',
                               'Texas A&M Aggies':'Texas A&M',
                              'Missouri Tigers':'Missouri',
                              'Kentucky Wildcats':'Kentucky',
                              'Georgia Bulldogs': 'Georgia',
                              'Vanderbilt Commodores':'Vanderbilt',
                              'South Carolina Gamecocks':'South Carolina',
                              'Alabama Crimson Tide' :'Alabama',
                              'Mississippi State Bulldogs':'Mississippi State',
                              'Ole Miss Rebels':'Ole Miss',
                              'Tennessee Volunteers':'Tennessee'}})

In [112]:
ESPNO

                 TEAM    REC (ATS)  Spread  LINE    ML    FPI  Game
0              Auburn  4-2 (3-3-0)     3.5  53.0   155  0.400     1
1            Arkansas  4-2 (5-1-0)    -3.5  53.0  -180  0.600     1
2             Florida  4-2 (3-3-0)   -10.0  59.0  -400  0.730     2
3                 LSU  3-3 (2-4-0)    10.0  59.0   310  0.270     2
4           Texas A&M  4-2 (3-3-0)    -8.5  60.5  -330  0.771     3
5            Missouri  3-3 (0-6-0)     8.5  60.5   260  0.229     3
6            Kentucky  6-0 (5-1-0)    23.5  44.5  1100  0.046     4
7             Georgia  6-0 (5-1-0)   -23.5  44.5 -2400  0.954     4
8          Vanderbilt  2-4 (1-5-0)    18.5  51.0   700  0.074     5
9      South Carolina  3-3 (4-2-0)   -18.5  51.0 -1100  0.926     5
10            Alabama  5-1 (3-2-0)   -17.0  57.5  -900  0.820     6
11  Mississippi State  3-2 (2-3-0)    17.0  57.5   600  0.180     6
12           Ole Miss  4-1 (2-2-1)    -3.0  81.0  -150  0.462     7
13          Tennessee  4-2 (3-3-0)     3.0  81.0   130  0.538     7

In [113]:
ESPNO['REC-W']=ESPNO['REC (ATS)'].str[0]
ESPNO['REC-L']=ESPNO['REC (ATS)'].str[2]
ESPNO['ATS-W']=ESPNO['REC (ATS)'].str[5]
ESPNO['ATS-L']=ESPNO['REC (ATS)'].str[7]
ESPNO['ATS-T']=ESPNO['REC (ATS)'].str[9]

In [114]:
ESPNO

,TEAM,REC (ATS),Spread,LINE,ML,FPI,Game,REC-W,REC-L,ATS-W,ATS-L,ATS-T
0,Auburn,4-2 (3-3-0),3.5,53.0,155,0.400,1,4,2,3,3,0
1,Arkansas,4-2 (5-1-0),-3.5,53.0,-180,0.600,1,4,2,5,1,0
2,Florida,4-2 (3-3-0),-10.0,59.0,-400,0.730,2,4,2,3,3,0
3,LSU,3-3 (2-4-0),10.0,59.0,310,0.270,2,3,3,2,4,0
4,Texas A&M,4-2 (3-3-0),-8.5,60.5,-330,0.771,3,4,2,3,3,0
5,Missouri,3-3 (0-6-0),8.5,60.5,260,0.229,3,3,3,0,6,0
6,Kentucky,6-0 (5-1-0),23.5,44.5,1100,0.046,4,6,0,5,1,0
7,Georgia,6-0 (5-1-0),-23.5,44.5,-2400,0.954,4,6,0,5,1,0
8,Vanderbilt,2-4 (1-5-0),18.5,51.0,700,0.074,5,2,4,1,5,0
9,South Carolina,3-3 (4-2-0),-18.5,51.0,-1100,0.926,5,3,3,4,2,0
10,Alabama,5-1 (3-2-0),-17.0,57.5,-900,0.820,6,5,1,3,2,0
11,Mississippi State,3-2 (2-3-0),17.0,57.5,600,0.180,6,3,2,2,3,0
12,Ole Miss,4-1 (2-2-1),-3.0,81.0,-150,0.462,7,4,1,2,2,1
13,Tennessee,4-2 (3-3-0),3.0,81.0,130,0.538,7,4,2,3,3,0

In [115]:
ESPNO=ESPNO[['TEAM','Spread','LINE','ML','FPI','Game','REC-W','ATS-W','ATS-L','ATS-T','REC-L']]

In [116]:
ESPNO

,TEAM,Spread,LINE,ML,FPI,Game,REC-W,ATS-W,ATS-L,ATS-T,REC-L
0,Auburn,3.5,53.0,155,0.400,1,4,3,3,0,2
1,Arkansas,-3.5,53.0,-180,0.600,1,4,5,1,0,2
2,Florida,-10.0,59.0,-400,0.730,2,4,3,3,0,2
3,LSU,10.0,59.0,310,0.270,2,3,2,4,0,3
4,Texas A&M,-8.5,60.5,-330,0.771,3,4,3,3,0,2
5,Missouri,8.5,60.5,260,0.229,3,3,0,6,0,3
6,Kentucky,23.5,44.5,1100,0.046,4,6,5,1,0,0
7,Georgia,-23.5,44.5,-2400,0.954,4,6,5,1,0,0
8,Vanderbilt,18.5,51.0,700,0.074,5,2,1,5,0,4
9,South Carolina,-18.5,51.0,-1100,0.926,5,3,4,2,0,3
10,Alabama,-17.0,57.5,-900,0.820,6,5,3,2,0,1
11,Mississippi State,17.0,57.5,600,0.180,6,3,2,3,0,2
12,Ole Miss,-3.0,81.0,-150,0.462,7,4,2,2,1,1
13,Tennessee,3.0,81.0,130,0.538,7,4,3,3,0,2

In [117]:
ESPNO.dtypes

TEAM       object
Spread    float64
LINE      float64
ML          int64
FPI       float64
Game        int64
REC-W      object
ATS-W      object
ATS-L      object
ATS-T      object
REC-L      object
dtype: object

In [118]:
SECR

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team
0,Braxton Barker7,QB,"6' 1""",202 lbs,JR,Birmingham,AL,Alabama
1,Stone Hollenbach19,QB,"6' 3""",208 lbs,SO,Catawissa,PA,Alabama
2,Jalen Milroe2,QB,"6' 2""",212 lbs,FR,Katy,TX,Alabama
3,Paul Tyson17,QB,"6' 5""",228 lbs,SO,Trussville,AL,Alabama
4,Bryce Young9,QB,"6' 0""",194 lbs,SO,Pasadena,CA,Alabama
...,...,...,...,...,...,...,...,...
1693,Will Faris61,PK,"5' 11""",166 lbs,FR,Dallas,TX,Vanderbilt
1694,Harrison Smith95,P,"5' 10""",183 lbs,SR,Franklin,TN,Vanderbilt
1695,Jared Wheatley30,P,"6' 1""",205 lbs,JR,Indian Trail,NC,Vanderbilt
1696,Zach Drevno49,LS,"6' 0""",209 lbs,SR,Saline,MI,Vanderbilt
1697,Wesley Schelling47,LS,"6' 5""",235 lbs,SO,Nashville,TN,Vanderbilt

In [119]:
Num_List= list(range(1,100))
Num_List = [str(x) for x in Num_List]
SECR['N_Length2']= SECR['NAME'].str[-2:]
SECR['N_Length1']= SECR['NAME'].str[-1:]

In [120]:
SECR

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team,N_Length2,N_Length1
0,Braxton Barker7,QB,"6' 1""",202 lbs,JR,Birmingham,AL,Alabama,r7,7
1,Stone Hollenbach19,QB,"6' 3""",208 lbs,SO,Catawissa,PA,Alabama,19,9
2,Jalen Milroe2,QB,"6' 2""",212 lbs,FR,Katy,TX,Alabama,e2,2
3,Paul Tyson17,QB,"6' 5""",228 lbs,SO,Trussville,AL,Alabama,17,7
4,Bryce Young9,QB,"6' 0""",194 lbs,SO,Pasadena,CA,Alabama,g9,9
...,...,...,...,...,...,...,...,...,...,...
1693,Will Faris61,PK,"5' 11""",166 lbs,FR,Dallas,TX,Vanderbilt,61,1
1694,Harrison Smith95,P,"5' 10""",183 lbs,SR,Franklin,TN,Vanderbilt,95,5
1695,Jared Wheatley30,P,"6' 1""",205 lbs,JR,Indian Trail,NC,Vanderbilt,30,0
1696,Zach Drevno49,LS,"6' 0""",209 lbs,SR,Saline,MI,Vanderbilt,49,9
1697,Wesley Schelling47,LS,"6' 5""",235 lbs,SO,Nashville,TN,Vanderbilt,47,7

In [121]:
SECR['Number'] = SECR.apply(lambda x : x['N_Length2'] if x['N_Length2'] in Num_List  else x['N_Length1'],axis=1 )
SECR['NAME'] = SECR.apply(lambda x : x['NAME'][0:-2] if x['N_Length2'] in Num_List  else x['NAME'][0:-1],axis=1 )

In [122]:
SECR

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team,N_Length2,N_Length1,Number
0,Braxton Barker,QB,"6' 1""",202 lbs,JR,Birmingham,AL,Alabama,r7,7,7
1,Stone Hollenbach,QB,"6' 3""",208 lbs,SO,Catawissa,PA,Alabama,19,9,19
2,Jalen Milroe,QB,"6' 2""",212 lbs,FR,Katy,TX,Alabama,e2,2,2
3,Paul Tyson,QB,"6' 5""",228 lbs,SO,Trussville,AL,Alabama,17,7,17
4,Bryce Young,QB,"6' 0""",194 lbs,SO,Pasadena,CA,Alabama,g9,9,9
...,...,...,...,...,...,...,...,...,...,...,...
1693,Will Faris,PK,"5' 11""",166 lbs,FR,Dallas,TX,Vanderbilt,61,1,61
1694,Harrison Smith,P,"5' 10""",183 lbs,SR,Franklin,TN,Vanderbilt,95,5,95
1695,Jared Wheatley,P,"6' 1""",205 lbs,JR,Indian Trail,NC,Vanderbilt,30,0,30
1696,Zach Drevno,LS,"6' 0""",209 lbs,SR,Saline,MI,Vanderbilt,49,9,49
1697,Wesley Schelling,LS,"6' 5""",235 lbs,SO,Nashville,TN,Vanderbilt,47,7,47

In [123]:
SECR['HT1']=SECR['HT'].str[0]
SECR['HT2']=SECR['HT'].str[3]
SECR=SECR.replace({'HT1':{'-' : '1'}})
SECR=SECR.replace({'HT2':{'-' : '1'}})

SECR.dtypes

NAME                object
POS                 object
HT                  object
WT                  object
CLASS               object
BIRTHPLACE-CITY     object
BIRTHPLACE-State    object
Team                object
N_Length2           object
N_Length1           object
Number              object
HT1                 object
HT2                 object
dtype: object

In [124]:
SECR.groupby('HT1').count()

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team,N_Length2,N_Length1,Number,HT2
HT1,,,,,,,,,,,,
1,8,8,8,8,8,8,4,8,8,8,8,0
5,280,280,280,280,280,280,280,280,280,280,280,280
6,1410,1410,1410,1410,1410,1410,1409,1410,1410,1410,1410,1410

In [125]:
SECR['Height-in'] = SECR.apply(lambda x: (int(x['HT1']) * 12) + int(x['HT2']) if x['HT1'] == "5" or x['HT1'] == "6"  else(""), axis=1)

In [126]:
SECR['WT']= SECR['WT'].str[0:3]

In [127]:
SECR = SECR[['NAME','POS','WT','CLASS','BIRTHPLACE-CITY','BIRTHPLACE-State','']]

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team,N_Length2,N_Length1,Number,HT1,HT2,Height-in
0,Braxton Barker,QB,"6' 1""",202,JR,Birmingham,AL,Alabama,r7,7,7,6,1,73
1,Stone Hollenbach,QB,"6' 3""",208,SO,Catawissa,PA,Alabama,19,9,19,6,3,75
2,Jalen Milroe,QB,"6' 2""",212,FR,Katy,TX,Alabama,e2,2,2,6,2,74
3,Paul Tyson,QB,"6' 5""",228,SO,Trussville,AL,Alabama,17,7,17,6,5,77
4,Bryce Young,QB,"6' 0""",194,SO,Pasadena,CA,Alabama,g9,9,9,6,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,Will Faris,PK,"5' 11""",166,FR,Dallas,TX,Vanderbilt,61,1,61,5,1,61
1694,Harrison Smith,P,"5' 10""",183,SR,Franklin,TN,Vanderbilt,95,5,95,5,1,61
1695,Jared Wheatley,P,"6' 1""",205,JR,Indian Trail,NC,Vanderbilt,30,0,30,6,1,73
1696,Zach Drevno,LS,"6' 0""",209,SR,Saline,MI,Vanderbilt,49,9,49,6,0,72
1697,Wesley Schelling,LS,"6' 5""",235,SO,Nashville,TN,Vanderbilt,47,7,47,6,5,77

In [128]:
SECR

,NAME,POS,HT,WT,CLASS,BIRTHPLACE-CITY,BIRTHPLACE-State,Team,N_Length2,N_Length1,Number,HT1,HT2,Height-in
0,Braxton Barker,QB,"6' 1""",202,JR,Birmingham,AL,Alabama,r7,7,7,6,1,73
1,Stone Hollenbach,QB,"6' 3""",208,SO,Catawissa,PA,Alabama,19,9,19,6,3,75
2,Jalen Milroe,QB,"6' 2""",212,FR,Katy,TX,Alabama,e2,2,2,6,2,74
3,Paul Tyson,QB,"6' 5""",228,SO,Trussville,AL,Alabama,17,7,17,6,5,77
4,Bryce Young,QB,"6' 0""",194,SO,Pasadena,CA,Alabama,g9,9,9,6,0,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,Will Faris,PK,"5' 11""",166,FR,Dallas,TX,Vanderbilt,61,1,61,5,1,61
1694,Harrison Smith,P,"5' 10""",183,SR,Franklin,TN,Vanderbilt,95,5,95,5,1,61
1695,Jared Wheatley,P,"6' 1""",205,JR,Indian Trail,NC,Vanderbilt,30,0,30,6,1,73
1696,Zach Drevno,LS,"6' 0""",209,SR,Saline,MI,Vanderbilt,49,9,49,6,0,72
1697,Wesley Schelling,LS,"6' 5""",235,SO,Nashville,TN,Vanderbilt,47,7,47,6,5,77