In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
TBCD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Teams by Conf and Division')
PYR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Passing Yards Ranking')
APY=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='All Purpose Yards')
CKR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Combined Kick Returns')
CPG=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Completions Per Game')
FGP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Field Goal Percentage')
CP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Completion Percentage')
TDCP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='3rd Down Conversion PCT')
TDCPD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='3rd Down Conversion PCT DEFENSE')
FDCP=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='4th Down Conversion PCT')
FDCPD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='4th Down Conversion PCT Defense')
R=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Ranking')
SBY=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='Schedule By Year')
ODDS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Standings')
SECR=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-Roster')
SECS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC Starters')
SECTS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SECTeamStats')
ESPNO=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='ESPN-Odds')
SECODDS=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Odds')
SECO=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Offense')
SECD=pd.read_excel(r'/Users/markclampitt/Documents/Springboard/Capstone2/Data/FinalData.xls', sheet_name='SEC-OddsShark-Defense')

In [3]:
TBCDSEC = TBCD[TBCD['Conference '] == 'SEC']
TBCDSECT=[]

for team in TBCDSEC['Team']:
    TBCDSECT.append(team)
    
TBCDSECT

['Alabama',
 'Arkansas',
 'Auburn',
 'Florida',
 'Georgia',
 'Kentucky',
 'LSU',
 'Mississippi State',
 'Missouri',
 'Ole Miss',
 'South Carolina',
 'Tennessee',
 'Texas A&M',
 'Vanderbilt']

In [4]:
PYR.head()

,Passing Yards Ranking,Name,TEAM,CL,POSITION,G,PASS ATT,PASS COM,INT,PASS TD,PASS YDS
0,1,Brennan Armstrong,Virginia,Jr.,QB,6,284,185,6,17,2460
1,2,Bailey Zappe,Western Ky.,Sr.,QB,5,243,171,3,21,2235
2,3,Jake Haener,Fresno St.,Sr.,QB,6,236,164,6,18,2230
3,4,Grant Wells,Marshall,Fr.,QB,6,241,156,9,8,1992
4,5,Seth Henigan,Memphis,Fr.,QB,6,215,130,3,14,1938

In [5]:
PYRSEC= PYR[PYR['TEAM'].isin(TBCDSECT)]
PYRSEC

,Passing Yards Ranking,Name,TEAM,CL,POSITION,G,PASS ATT,PASS COM,INT,PASS TD,PASS YDS
10,11,Bryce Young,Alabama,So.,QB,6,197,137,3,20,1734
12,13,Max Johnson,LSU,So.,QB,6,219,135,4,17,1729
16,17,Connor Bazelak,Missouri,So.,QB,6,231,155,5,12,1690
24,25,Matt Corral,Ole Miss,Jr.,QB,5,146,101,0,12,1497
53,-,K.J. Jefferson,Arkansas,So.,QB,6,126,79,3,9,1235
56,57,Bo Nix,Auburn,Jr.,QB,6,185,107,1,6,1195
62,63,Emory Jones,Florida,Jr.,QB,6,157,107,7,9,1144
64,65,Will Levis,Kentucky,Jr.,QB,6,135,87,6,11,1134
69,70,Ken Seals,Vanderbilt,So.,QB,6,206,114,7,5,1086
70,71,Hendon Hooker,Tennessee,Sr.,QB,6,112,78,1,13,1063
75,76,Zach Calzada,Texas A&M,So.,QB,6,159,90,5,8,1029
107,108,Stetson Bennett,Georgia,Sr.,QB,5,62,43,2,8,746
111,112,Luke Doty,South Carolina,So.,QB,4,116,69,1,3,733
120,121,JT Daniels,Georgia,Jr.,QB,3,71,54,2,5,567

In [6]:
APYSEC=APY[APY['Team'].isin(TBCDSECT)]
APYSEC

,Rank,Name,Team,CL,POSITION,G,RUSH YDS,REC YDS,PUNT RET YDS,KO RET YDS,INT RET YDS,MISCYDS,PLAYS,YDS,YPG
8,9,Tyler Badie,Missouri,Sr.,RB,6,667,212,0,5,0,0,130,884,147.33
21,22,Christopher Rodriguez Jr.,Kentucky,Jr.,RB,6,768,23,0,0,0,0,126,791,131.83
30,31,Brian Robinson Jr.,Alabama,Sr.,RB,5,526,77,0,0,0,0,106,603,120.6
35,36,Jameson Williams,Alabama,Jr.,WR,6,4,510,0,199,0,0,32,713,118.83
52,51,Devon Achane,Texas A&M,So.,RB,6,330,163,0,180,0,0,71,673,112.17
54,-,Tiyon Evans,Tennessee,Jr.,RB,5,486,74,0,0,0,0,77,560,112
57,56,Isaiah Spiller,Texas A&M,Jr.,RB,6,508,149,0,0,0,0,103,657,109.5
73,-,Wan'Dale Robinson,Kentucky,Jr.,WR,6,78,527,17,0,0,0,46,622,103.67
75,74,Velus Jones Jr.,Tennessee,Sr.,WR,6,15,342,81,178,0,0,38,616,102.67
93,92,Dontario Drummond,Ole Miss,Sr.,WR,5,16,460,0,0,0,0,28,476,95.2
111,-,Henry Parrish Jr.,Ole Miss,So.,RB,5,334,90,0,23,0,0,65,447,89.4
112,110,Treylon Burks,Arkansas,Jr.,WR,6,15,519,0,0,0,0,33,534,89
118,116,Kayshon Boutte,LSU,So.,WR,6,0,509,0,20,0,0,39,529,88.17
125,-,Jarquez Hunter,Auburn,Fr.,RB,6,465,42,0,15,0,0,56,522,87
126,124,Jerrion Ealy,Ole Miss,Jr.,RB,4,204,79,0,63,0,0,51,346,86.5
134,132,Tank Bigsby,Auburn,So.,RB,6,458,53,0,0,0,0,91,511,85.17
169,167,Emory Jones,Florida,Jr.,QB,6,478,0,0,0,0,0,75,478,79.67
177,175,Ainias Smith,Texas A&M,Jr.,WR,6,24,285,162,0,0,0,48,471,78.5

In [7]:
CKRSEC = CKR[CKR['TEAM'].isin(TBCDSECT)]
CPGSEC= CPG[CPG['TEAM'].isin(TBCDSECT)]
FGPSEC=FGP[FGP['Team'].isin(TBCDSECT)]
CPSEC= CP[CP['Team'].isin(TBCDSECT)]
TDCPSEC=TDCP[TDCP['Team'].isin(TBCDSECT)]
TDCPDSEC=TDCPD[TDCPD['Team'].isin(TBCDSECT)]
FDCPSEC=FDCP[FDCP['Team'].isin(TBCDSECT)]
FDCPDSEC=FDCPD[FDCPD['Team'].isin(TBCDSECT)]
RSEC=R[R['School'].isin(TBCDSECT)]
SBYSEC=SBY[SBY['TEAM'].isin(TBCDSECT)]
SECOR=SECO[SECO['Team'].isin(TBCDSECT)]
SECDR=SECD[SECD['Team'].isin(TBCDSECT)]

In [8]:
CKRSEC

,RANK,NAME,TEAM,CL,POSITION,G,KO RET,KO RET YDS,PUNT RET,PUNT RET YDS,YDS
15,16,Kris Abrams-Draine,Missouri,So.,DB,6,11,292,1,2,294
30,31,Velus Jones Jr.,Tennessee,Sr.,WR,6,8,178,7,81,259
51,52,Jameson Williams,Alabama,Jr.,WR,6,4,199,0,0,199
54,55,Juju McDowell,South Carolina,Fr.,RB,6,6,191,0,0,191
55,56,Nehemiah Pritchett,Auburn,Jr.,DB,6,6,184,0,0,184
56,57,Devon Achane,Texas A&M,So.,RB,6,4,180,0,0,180
66,-,Ainias Smith,Texas A&M,Jr.,WR,6,0,0,16,162,162
76,77,LaDarrius Bishop,Arkansas,Jr.,DB,6,6,144,0,0,144
95,96,James Ziglor III,Vanderbilt,Fr.,DB,5,8,121,0,0,121
116,-,Zach Johnson,Kentucky,Sr.,S,6,5,104,0,0,104
117,-,Trey Palmer,LSU,Jr.,WR,5,3,56,6,48,104
129,130,Kearis Jackson,Georgia,Jr.,WR,6,1,32,8,61,93
131,132,Xzavier Henderson,Florida,So.,WR,6,0,0,10,92,92
133,-,Slade Bolden,Alabama,Jr.,WR,6,2,42,6,49,91
137,-,Cam Johnson,Vanderbilt,Sr.,WR,6,5,73,4,16,89
139,-,Kenny McIntosh,Georgia,Jr.,RB,6,4,88,0,0,88
156,-,AJ Green,Arkansas,Fr.,RB,5,5,75,0,0,75
175,176,Jerrion Ealy,Ole Miss,Jr.,RB,4,3,63,0,0,63
178,-,JoJo Earle,Alabama,Fr.,WR,6,0,0,8,62,62
180,181,Donovan Kaufman,Auburn,Fr.,DB,6,3,61,0,0,61
193,-,Malik Davis,Florida,Sr.,RB,5,3,56,0,0,56
198,199,Demetris Robertson,Auburn,Sr.,WR,5,0,0,4,54,54

In [9]:
CPGSEC

   Rank            NAME        TEAM   CL POSITION  G  PASS COM    AVG
7     8  Connor Bazelak    Missouri  So.       QB  6       155  25.83
15   16     Bryce Young     Alabama  So.       QB  6       137  22.83
16   17     Max Johnson         LSU  So.       QB  6       135  22.50
28    -     Matt Corral    Ole Miss  Jr.       QB  5       101  20.20
43    -       Ken Seals  Vanderbilt  So.       QB  6       114  19.00
53   54     Emory Jones     Florida  Jr.       QB  6       107  17.83
54    -          Bo Nix      Auburn  Jr.       QB  6       107  17.83
73   74    Zach Calzada   Texas A&M  So.       QB  6        90  15.00
76   77      Will Levis    Kentucky  Jr.       QB  6        87  14.50
90   91  K.J. Jefferson    Arkansas  So.       QB  6        79  13.17
92   93   Hendon Hooker   Tennessee  Sr.       QB  6        78  13.00

In [10]:
FGPSEC

    Rank            Name            Team   CL Position  G  FG  FGA    PCT
4      -    Parker White  South Carolina  Sr.        K  6   9    9  1.000
6      -  Harrison Mevis        Missouri  So.        K  6   8    8  1.000
7      -       Cade York             LSU  Jr.        K  6   8    8  1.000
18     -      Seth Small       Texas A&M  Sr.        K  6  11   12  0.917
21     -   Will Reichard         Alabama  Jr.        K  6   9   10  0.900
33     -   Chase McGrath       Tennessee  Sr.        K  6   6    7  0.857
38     -     Caden Costa        Ole Miss  Fr.        K  5   5    6  0.833
43    44      Cam Little        Arkansas  Fr.        K  6   9   11  0.818
52     -  Anders Carlson          Auburn  Sr.        K  6  11   14  0.786
58     -   Jack Podlesny         Georgia  Jr.        K  6   9   12  0.750
100  101  Joseph Bulovas      Vanderbilt  Sr.        K  6   6   11  0.545

In [11]:
CPSEC

,Rank,Name,Team,CL,Position,G,Pass Com,Pass Att,PCT
12,13,Hendon Hooker,Tennessee,Sr.,QB,6,78,112,0.696
13,14,Bryce Young,Alabama,So.,QB,6,137,197,0.695
18,19,Matt Corral,Ole Miss,Jr.,QB,5,101,146,0.692
19,20,Emory Jones,Florida,Jr.,QB,6,107,157,0.682
24,25,Connor Bazelak,Missouri,So.,QB,6,155,231,0.671
42,43,Will Levis,Kentucky,Jr.,QB,6,87,135,0.644
54,55,K.J. Jefferson,Arkansas,So.,QB,6,79,126,0.627
58,59,Max Johnson,LSU,So.,QB,6,135,219,0.616
85,86,Bo Nix,Auburn,Jr.,QB,6,107,185,0.578
90,91,Zach Calzada,Texas A&M,So.,QB,6,90,159,0.566
95,96,Ken Seals,Vanderbilt,So.,QB,6,114,206,0.553

In [12]:
TDCPSEC

    Rank            Team  G  3rd ATT  3rd Conv    PCT
4      5        Missouri  6       85        45  0.529
10    11         Alabama  6       84        43  0.512
13    14       Tennessee  6       81        40  0.494
16    17         Georgia  6       77        37  0.481
23    24          Auburn  6       88        41  0.466
31    32        Kentucky  6       62        28  0.452
44    45         Florida  6       76        33  0.434
57    58       Texas A&M  6       83        34  0.410
69    70             LSU  6       87        34  0.391
77    78        Ole Miss  5       69        26  0.377
81    82  South Carolina  6       84        31  0.369
83    84        Arkansas  6       76        28  0.368
114  115      Vanderbilt  6      101        32  0.317

In [13]:
TDCPDSEC

    Rank            Team  G  Opp 3rd Conv  Opp 3rd ATT    PCT
6      7         Georgia  6            24           87  0.276
15    16        Arkansas  6            26           87  0.299
18    19      Vanderbilt  6            24           77  0.312
41    42         Alabama  6            27           77  0.351
42    43       Texas A&M  6            32           91  0.352
44    45          Auburn  6            30           85  0.353
58     -         Florida  6            31           85  0.365
69    70        Ole Miss  5            27           71  0.380
71    72       Tennessee  6            37           97  0.381
84    85        Kentucky  6            36           89  0.404
109  110             LSU  6            40           90  0.444
117  118  South Carolina  6            37           80  0.463
126  127        Missouri  6            41           80  0.512

In [14]:
FDCPSEC

    Rank            Team  G  4th Conv  4th Att    PCT
11    12         Alabama  6         7        9  0.778
13    14        Ole Miss  5        18       24  0.750
30     -      Vanderbilt  6         9       13  0.692
36     -        Arkansas  6         4        6  0.667
40    41          Auburn  6         7       11  0.636
44     -        Missouri  6         5        8  0.625
53    54             LSU  6         7       12  0.583
67    68         Florida  6         7       13  0.538
69     -       Tennessee  6         7       13  0.538
72     -  South Carolina  6         7       14  0.500
89     -       Texas A&M  6         2        4  0.500
102    -         Georgia  6         2        5  0.400
121    -        Kentucky  6         1        4  0.250

In [15]:
FDCPDSEC

    Rank            Team  G  Opp 4th Conv  Opp 4th ATT    PCT
0      1       Texas A&M  6             0            3  0.000
10    11         Florida  6             3           11  0.273
11     -        Kentucky  6             3           11  0.273
14    15          Auburn  6             3           10  0.300
39     -         Georgia  6             4           10  0.400
48     -       Tennessee  6             6           13  0.462
51    52         Alabama  6             6           12  0.500
69    70        Ole Miss  5             9           17  0.529
80     -             LSU  6             4            7  0.571
94    95        Arkansas  6             9           14  0.643
101    -      Vanderbilt  6             8           12  0.667
111    -        Missouri  6             6            8  0.750
129    -  South Carolina  6             2            2  1.000

In [16]:
RSEC

    Rank     School  Points Previous     Record
4      5    Alabama    1286        1 2021-05-01
10    11   Kentucky     918       16 2000-06-01
12    13   Ole Miss     779       17 2021-04-01
16    17   Arkansas     470       13 2021-04-02
19    20    Florida     397       20 2021-04-02
20    21  Texas A&M     348       NR 2021-04-02

In [17]:
SBYSEC

,Day-Text,Month-Abbr,Month - Text,Month-Number,Day -Number,YEAR,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,Sat,Sep,September,9,4,2021,2021-09-04,vs,14Miami*,W44-13,1-0 (0-0),Young344,Robinson Jr.60,Williams126,Alabama
1,Sat,Sep,September,9,11,2021,2021-09-11,vs,Mercer,W48-14,2-0 (0-0),Young227,Robinson Jr.70,Earle85,Alabama
2,Sat,Sep,September,9,18,2021,2021-09-18,@,11Florida,W31-29,3-0 (1-0),Young240,Robinson Jr.78,Williams61,Alabama
3,Sat,Sep,September,9,25,2021,2021-09-25,vs,Southern Miss,W63-14,4-0 (1-0),Young313,Williams110,Billingsley105,Alabama
4,Sat,Oct,October,10,2,2021,2021-10-02,vs,12Ole Miss,W42-21,5-0 (2-0),Young241,Robinson Jr.171,Williams65,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,Sat,Oct,October,10,23,2004,2004-10-23,vs,Eastern Kentucky,W19-7,2-5 (1-3),Cutler156,Doster117,White71,Vanderbilt
3170,Sat,Oct,October,10,30,2004,2004-10-30,@,19LSU,L24-7,2-6 (1-4),Cutler111,McKenzie56,White72,Vanderbilt
3171,Sat,Nov,November,11,6,2004,2004-11-06,vs,Florida,L34-17,2-7 (1-5),Bright118,Bright77,Davis78,Vanderbilt
3172,Sat,Nov,November,11,13,2004,2004-11-13,@,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,Sat,Nov,November,11,20,2004,2004-11-20,vs,15Tennessee,L38-33,2-9 (1-7),Cutler314,McKenzie46,Smith160,Vanderbilt

In [18]:
SECOR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
5,Alabama,44.33,24.17,36.00,161.67,34.17,309.67,471.33,1900-01-01 08:32:00,8.00,74.17,121,13.18,4.49,6.72,0.83
6,Tennessee,41.50,25.50,48.17,252.83,27.00,220.50,473.33,1900-01-01 02:11:00,5.83,58.17,78,13.10,5.25,6.30,1.00
11,Georgia,39.83,22.83,42.17,197.17,24.50,235.33,432.50,1900-01-01 08:30:00,5.67,44.50,27,13.84,4.68,6.49,1.17
17,Missouri,37.83,23.50,31.00,171.00,40.17,296.00,467.00,1900-01-01 05:05:00,5.83,55.17,67,11.03,5.52,6.56,0.83
31,Auburn,35.00,22.33,34.00,206.17,36.50,245.17,451.33,1900-01-01 04:11:00,5.83,46.83,38,11.86,6.06,6.40,0.67
40,Florida,33.17,23.67,41.00,276.00,29.17,228.00,504.00,1900-01-01 07:24:00,8.17,73.83,119,11.59,6.73,7.18,1.50
43,Arkansas,32.33,22.50,45.83,244.83,22.50,214.83,459.67,1900-01-01 06:00:00,8.83,73.50,118,15.35,5.34,6.73,0.67
53,Kentucky,31.00,21.50,38.67,212.33,23.67,197.67,410.00,1900-01-01 06:43:00,4.83,40.67,16,13.03,5.49,6.58,2.00
77,Mississippi State,27.80,24.00,18.60,56.20,56.80,372.40,428.60,1900-01-01 10:37:00,8.40,63.80,99,8.66,3.02,5.68,1.40
83,Texas A&M,26.33,19.83,31.17,155.17,32.33,221.50,376.67,1900-01-01 05:35:00,7.33,59.00,82,11.87,4.98,5.93,1.67
110,South Carolina,22.00,17.67,35.67,129.33,29.00,207.17,336.50,1900-01-01 07:02:00,7.50,59.83,85,12.07,3.63,5.20,1.67
130,Vanderbilt,13.33,19.17,34.17,113.33,38.17,196.83,310.17,1900-01-01 06:17:00,6.00,53.67,63,9.45,3.32,4.29,1.83

In [19]:
SECDR

,Team,Score,FD,RA,RY,PA,PY,TY,Time,PEN,penalty_yards,Penalty Yards Rank,YP,YR,Y/PL,TO
0,Georgia,5.50,11.67,29.83,66.50,26.67,137.00,203.50,1900-01-01 03:16:00,8.17,61.83,33,10.28,2.23,3.60,1.67
14,Florida,16.50,19.00,34.33,108.50,32.00,207.17,315.67,1900-01-01 04:34:00,6.00,47.17,95,11.95,3.16,4.76,1.00
17,Texas A&M,16.83,19.17,36.50,144.33,34.00,209.17,353.50,1900-01-01 06:09:00,5.50,42.83,109,10.46,3.95,5.01,1.00
18,Kentucky,17.50,18.00,32.50,111.33,33.67,193.67,305.00,1900-01-01 05:16:00,6.50,51.33,76,9.01,3.43,4.61,0.67
25,Auburn,19.17,17.67,36.50,106.33,30.00,216.00,322.33,1900-01-01 07:48:00,4.83,35.83,126,10.62,2.91,4.85,0.83
36,Tennessee,21.50,18.83,34.50,112.17,36.17,232.17,344.33,1900-01-01 09:48:00,8.33,74.17,7,10.17,3.25,4.87,1.50
39,Alabama,22.00,18.33,34.00,107.83,26.67,192.83,300.67,1900-01-01 03:25:00,6.67,57.00,53,11.23,3.17,4.96,1.50
41,South Carolina,22.00,19.17,36.00,159.67,27.33,168.67,328.33,1900-01-01 04:50:00,3.83,30.67,130,9.92,4.44,5.18,2.33
65,Arkansas,24.50,17.33,40.50,181.50,25.67,156.00,337.50,1900-01-01 05:54:00,7.83,53.33,71,11.14,4.48,5.10,1.00
69,Mississippi State,25.00,14.40,26.80,89.00,32.60,229.00,318.00,1900-01-01 01:02:00,6.40,48.20,90,11.93,3.32,5.35,1.60
117,Vanderbilt,36.17,20.67,36.00,200.67,31.33,251.83,452.50,1900-01-01 04:52:00,8.33,72.33,13,13.14,5.57,6.72,1.00
122,Missouri,37.50,25.17,47.33,288.17,25.67,210.67,498.83,1900-01-01 06:54:00,4.50,40.33,116,13.89,6.09,6.83,1.50

In [20]:
SBYSEC

,Day-Text,Month-Abbr,Month - Text,Month-Number,Day -Number,YEAR,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,Sat,Sep,September,9,4,2021,2021-09-04,vs,14Miami*,W44-13,1-0 (0-0),Young344,Robinson Jr.60,Williams126,Alabama
1,Sat,Sep,September,9,11,2021,2021-09-11,vs,Mercer,W48-14,2-0 (0-0),Young227,Robinson Jr.70,Earle85,Alabama
2,Sat,Sep,September,9,18,2021,2021-09-18,@,11Florida,W31-29,3-0 (1-0),Young240,Robinson Jr.78,Williams61,Alabama
3,Sat,Sep,September,9,25,2021,2021-09-25,vs,Southern Miss,W63-14,4-0 (1-0),Young313,Williams110,Billingsley105,Alabama
4,Sat,Oct,October,10,2,2021,2021-10-02,vs,12Ole Miss,W42-21,5-0 (2-0),Young241,Robinson Jr.171,Williams65,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,Sat,Oct,October,10,23,2004,2004-10-23,vs,Eastern Kentucky,W19-7,2-5 (1-3),Cutler156,Doster117,White71,Vanderbilt
3170,Sat,Oct,October,10,30,2004,2004-10-30,@,19LSU,L24-7,2-6 (1-4),Cutler111,McKenzie56,White72,Vanderbilt
3171,Sat,Nov,November,11,6,2004,2004-11-06,vs,Florida,L34-17,2-7 (1-5),Bright118,Bright77,Davis78,Vanderbilt
3172,Sat,Nov,November,11,13,2004,2004-11-13,@,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,Sat,Nov,November,11,20,2004,2004-11-20,vs,15Tennessee,L38-33,2-9 (1-7),Cutler314,McKenzie46,Smith160,Vanderbilt

In [21]:
SBYSEC.dtypes

Day-Text                object
Month-Abbr              object
Month - Text            object
Month-Number             int64
Day -Number              int64
YEAR                     int64
Date            datetime64[ns]
Home-Away               object
Opponent                object
RESULT                  object
W-L (CONF)              object
HI PASS                 object
HI RUSH                 object
HI REC                  object
TEAM                    object
dtype: object

In [22]:
SBYSEC=SBYSEC.iloc[:,[6,7,8,9,10,11,12,13,14]]
SBYSEC

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,2021-09-04,vs,14Miami*,W44-13,1-0 (0-0),Young344,Robinson Jr.60,Williams126,Alabama
1,2021-09-11,vs,Mercer,W48-14,2-0 (0-0),Young227,Robinson Jr.70,Earle85,Alabama
2,2021-09-18,@,11Florida,W31-29,3-0 (1-0),Young240,Robinson Jr.78,Williams61,Alabama
3,2021-09-25,vs,Southern Miss,W63-14,4-0 (1-0),Young313,Williams110,Billingsley105,Alabama
4,2021-10-02,vs,12Ole Miss,W42-21,5-0 (2-0),Young241,Robinson Jr.171,Williams65,Alabama
...,...,...,...,...,...,...,...,...,...
3169,2004-10-23,vs,Eastern Kentucky,W19-7,2-5 (1-3),Cutler156,Doster117,White71,Vanderbilt
3170,2004-10-30,@,19LSU,L24-7,2-6 (1-4),Cutler111,McKenzie56,White72,Vanderbilt
3171,2004-11-06,vs,Florida,L34-17,2-7 (1-5),Bright118,Bright77,Davis78,Vanderbilt
3172,2004-11-13,@,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,2004-11-20,vs,15Tennessee,L38-33,2-9 (1-7),Cutler314,McKenzie46,Smith160,Vanderbilt

In [23]:
SBYSEC = SBYSEC.replace({'Home-Away': {'vs': 'Home', 
                                '@': 'Away'}})

In [24]:
SBYSEC

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM
0,2021-09-04,Home,14Miami*,W44-13,1-0 (0-0),Young344,Robinson Jr.60,Williams126,Alabama
1,2021-09-11,Home,Mercer,W48-14,2-0 (0-0),Young227,Robinson Jr.70,Earle85,Alabama
2,2021-09-18,Away,11Florida,W31-29,3-0 (1-0),Young240,Robinson Jr.78,Williams61,Alabama
3,2021-09-25,Home,Southern Miss,W63-14,4-0 (1-0),Young313,Williams110,Billingsley105,Alabama
4,2021-10-02,Home,12Ole Miss,W42-21,5-0 (2-0),Young241,Robinson Jr.171,Williams65,Alabama
...,...,...,...,...,...,...,...,...,...
3169,2004-10-23,Home,Eastern Kentucky,W19-7,2-5 (1-3),Cutler156,Doster117,White71,Vanderbilt
3170,2004-10-30,Away,19LSU,L24-7,2-6 (1-4),Cutler111,McKenzie56,White72,Vanderbilt
3171,2004-11-06,Home,Florida,L34-17,2-7 (1-5),Bright118,Bright77,Davis78,Vanderbilt
3172,2004-11-13,Away,Kentucky,L14-13,2-8 (1-6),NaN,NaN,NaN,Vanderbilt
3173,2004-11-20,Home,15Tennessee,L38-33,2-9 (1-7),Cutler314,McKenzie46,Smith160,Vanderbilt

In [25]:
RankingList=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']

In [26]:
SBYSEC[['HI Pass Player', 'HI Pass Yards']] = SBYSEC['HI PASS'].str.split(n=1, expand=True)
SBYSEC['HI Pass Yards'] = SBYSEC['HI Pass Yards'].str.split().str[-1]

SBYSEC[['HI Rush Player', 'HI Rush Yards']] = SBYSEC['HI RUSH'].str.split(n=1, expand=True)
SBYSEC['HI Rush Yards'] = SBYSEC['HI Rush Yards'].str.split().str[-1]

SBYSEC[['HI REC Player', 'HI REC Yards']] = SBYSEC['HI REC'].str.split(n=1, expand=True)
SBYSEC['HI REC Yards'] = SBYSEC['HI REC Yards'].str.split().str[-1]

df=SBYSEC[['Date','TEAM','Home-Away','RESULT','W-L (CONF)','HI Pass Player','HI Pass Yards','HI Rush Player','HI Rush Yards','HI REC Player','HI REC Yards']]

In [27]:
SBYSEC.head()

,Date,Home-Away,Opponent,RESULT,W-L (CONF),HI PASS,HI RUSH,HI REC,TEAM,HI Pass Player,HI Pass Yards,HI Rush Player,HI Rush Yards,HI REC Player,HI REC Yards
0,2021-09-04,Home,14Miami*,W44-13,1-0 (0-0),Young344,Robinson Jr.60,Williams126,Alabama,Young,344,Robinson,60,Williams,126
1,2021-09-11,Home,Mercer,W48-14,2-0 (0-0),Young227,Robinson Jr.70,Earle85,Alabama,Young,227,Robinson,70,Earle,85
2,2021-09-18,Away,11Florida,W31-29,3-0 (1-0),Young240,Robinson Jr.78,Williams61,Alabama,Young,240,Robinson,78,Williams,61
3,2021-09-25,Home,Southern Miss,W63-14,4-0 (1-0),Young313,Williams110,Billingsley105,Alabama,Young,313,Williams,110,Billingsley,105
4,2021-10-02,Home,12Ole Miss,W42-21,5-0 (2-0),Young241,Robinson Jr.171,Williams65,Alabama,Young,241,Robinson,171,Williams,65