# Data Cleaning & Wrangling

In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'/Users/markclampitt/Downloads/For_modeling 2.csv')

# Initial Look at Dataset

In [4]:
df.shape

(9601139, 26)

In [5]:
df.head()

,Unnamed: 0,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,...,Dmin,DDweek,Temp,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust
0,0,3,50,37.544666,126.888359,37.544666,126.888359,0.000000,1,1,...,4,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
1,1,24,7670,37.506199,127.003944,37.551250,127.035103,5.713529,1,1,...,25,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
2,2,8,1390,37.544590,127.057083,37.537014,127.061096,0.913702,1,1,...,9,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
3,3,8,1820,37.571102,127.023560,37.561447,127.034920,1.468027,1,1,...,10,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0
4,4,4,850,37.573242,127.015907,37.565849,127.016403,0.823227,1,1,...,6,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0

In [6]:
df.describe()

,Unnamed: 0,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,...,Dmin,DDweek,Temp,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust
count,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,...,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06,9.601139e+06
mean,4.923152e+06,2.580294e+01,3.713519e+03,3.754761e+01,1.269908e+02,3.754770e+01,1.269907e+02,1.870315e+00,7.578754e+00,1.576714e+01,...,2.999278e+01,2.945771e+00,1.856201e+01,1.784856e-02,1.819274e+00,5.397565e+01,7.300679e-01,9.948924e-03,2.072376e+01,3.245798e+01
std,2.841734e+06,2.504333e+01,3.956611e+03,4.441376e-02,8.257065e-02,4.445305e-02,8.323726e-02,1.995361e+00,2.696797e+00,8.748012e+00,...,1.730960e+01,1.977624e+00,9.498075e+00,3.736282e-01,9.710258e-01,1.742159e+01,9.175004e-01,1.628091e-01,1.265221e+01,2.407264e+01
min,0.000000e+00,1.000000e+00,1.000000e+00,3.743727e+01,1.267986e+02,3.743727e+01,1.267986e+02,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,-1.780000e+01,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,-1.360000e+01,0.000000e+00
25%,2.466320e+06,8.000000e+00,1.230000e+03,3.751424e+01,1.269200e+02,3.751424e+01,1.269194e+02,6.758669e-01,6.000000e+00,8.000000e+00,...,1.500000e+01,1.000000e+00,1.220000e+01,0.000000e+00,1.100000e+00,4.100000e+01,0.000000e+00,0.000000e+00,1.160000e+01,1.600000e+01
50%,4.921318e+06,1.600000e+01,2.280000e+03,3.754693e+01,1.269943e+02,3.754655e+01,1.269947e+02,1.257498e+00,8.000000e+00,1.600000e+01,...,3.000000e+01,3.000000e+00,2.010000e+01,0.000000e+00,1.700000e+00,5.300000e+01,2.700000e-01,0.000000e+00,2.110000e+01,2.700000e+01
75%,7.389176e+06,3.600000e+01,4.620000e+03,3.757324e+01,1.270618e+02,3.757324e+01,1.270624e+02,2.363812e+00,1.000000e+01,2.300000e+01,...,4.500000e+01,5.000000e+00,2.550000e+01,0.000000e+00,2.400000e+00,6.700000e+01,1.260000e+00,0.000000e+00,2.850000e+01,4.200000e+01
max,9.830310e+06,1.190000e+02,3.329000e+04,3.768972e+01,1.271803e+02,3.768972e+01,1.271803e+02,2.863448e+01,1.200000e+01,3.100000e+01,...,5.900000e+01,6.000000e+00,3.940000e+01,3.500000e+01,7.400000e+00,9.800000e+01,3.520000e+00,8.800000e+00,6.220000e+01,3.040000e+02

In [9]:
df.isnull().count()

Unnamed: 0    9601139
Duration      9601139
Distance      9601139
PLong         9601139
PLatd         9601139
DLong         9601139
DLatd         9601139
Haversine     9601139
Pmonth        9601139
Pday          9601139
Phour         9601139
Pmin          9601139
PDweek        9601139
Dmonth        9601139
Dday          9601139
Dhour         9601139
Dmin          9601139
DDweek        9601139
Temp          9601139
Precip        9601139
Wind          9601139
Humid         9601139
Solar         9601139
Snow          9601139
GroundTemp    9601139
Dust          9601139
dtype: int64

In [10]:
df.info

<bound method DataFrame.info of          Unnamed: 0  Duration  Distance      PLong       PLatd      DLong  \
0                 0         3        50  37.544666  126.888359  37.544666
1                 1        24      7670  37.506199  127.003944  37.551250
2                 2         8      1390  37.544590  127.057083  37.537014
3                 3         8      1820  37.571102  127.023560  37.561447
4                 4         4       850  37.573242  127.015907  37.565849
...             ...       ...       ...        ...         ...        ...
9601134     9830306        67      6930  37.562607  127.051308  37.562607
9601135     9830307        58      8320  37.511982  127.085052  37.476028
9601136     9830308       118      2730  37.506199  127.003944  37.514870
9601137     9830309        90     17170  37.489750  126.927467  37.565903
9601138     9830310       116      1410  37.585655  127.075050  37.585655

              DLatd  Haversine  Pmonth  Pday  ...  Dmin  DDweek  Temp  Precip  \
0        126.888359   0.000000       1     1  ...     4       0  -3.2     0.0
1        127.035103   5.713529       1     1  ...    25       0  -3.2     0.0
2        127.061096   0.913702       1     1  ...     9       0  -3.2     0.0
3        127.034920   1.468027       1     1  ...    10       0  -3.2     0.0
4        127.016403   0.823227       1     1  ...     6       0  -3.2     0.0
...             ...        ...     ...   ...  ...   ...     ...   ...     ...
9601134  127.051308   0.000000      12    31  ...    51       1  -5.2     0.0
9601135  127.105942   4.402263      12    31  ...    53       1  -5.2     0.0
9601136  127.015282   1.389156      12    31  ...    58       1  -5.4     0.0
9601137  126.901184   8.779307      12    31  ...    26       1  -5.2     0.0
9601138  127.075050   0.000000      12    31  ...    30       1  -5.2     0.0

         Wind  Humid  Solar  Snow  GroundTemp  Dust
0         0.5   40.0    0.0   0.0        -2.2  25.0
1         0.5   40.0    0.0   0.0        -2.2  25.0
2         0.5   40.0    0.0   0.0        -2.2  25.0
3         0.5   40.0    0.0   0.0        -2.2  25.0
4         0.5   40.0    0.0   0.0        -2.2  25.0
...       ...    ...    ...   ...         ...   ...
9601134   1.6   47.0    0.0   0.0        -5.1  53.0
9601135   1.6   47.0    0.0   0.0        -5.1  53.0
9601136   1.3   46.0    0.0   0.0        -5.0  49.0
9601137   1.6   47.0    0.0   0.0        -5.1  53.0
9601138   1.6   47.0    0.0   0.0        -5.1  53.0

[9601139 rows x 26 columns]>

# Data Cleaning

In [11]:
 df.isnull().sum(axis = 0)

Unnamed: 0    0
Duration      0
Distance      0
PLong         0
PLatd         0
DLong         0
DLatd         0
Haversine     0
Pmonth        0
Pday          0
Phour         0
Pmin          0
PDweek        0
Dmonth        0
Dday          0
Dhour         0
Dmin          0
DDweek        0
Temp          0
Precip        0
Wind          0
Humid         0
Solar         0
Snow          0
GroundTemp    0
Dust          0
dtype: int64

There were no null values

In [74]:
df.shape

(9601139, 27)

In [75]:
df = df.drop_duplicates()

In [76]:
df.shape

(9601139, 27)

No duplicates found

# Removing Outlier

In [46]:
df_describeDF = df.describe().T

In [50]:
df_describeDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, Unnamed: 0 to Duration_per_Distance
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   27 non-null     float64
 1   mean    27 non-null     float64
 2   std     27 non-null     float64
 3   min     27 non-null     float64
 4   25%     27 non-null     float64
 5   50%     27 non-null     float64
 6   75%     27 non-null     float64
 7   max     27 non-null     float64
dtypes: float64(8)
memory usage: 2.9+ KB

In [51]:
df_describeDF['Upper Limit'] = df_describeDF['mean'] + (3* df_describeDF['std'])

In [52]:
df_describeDF

,count,mean,std,min,25%,50%,75%,max,Upper Limit
Unnamed: 0,9601139.0,4.923152e+06,2.841734e+06,0.000000,2.466320e+06,4.921318e+06,7.389176e+06,9.830310e+06,1.344835e+07
Duration,9601139.0,2.580294e+01,2.504333e+01,1.000000,8.000000e+00,1.600000e+01,3.600000e+01,1.190000e+02,1.009329e+02
Distance,9601139.0,3.713519e+03,3.956611e+03,1.000000,1.230000e+03,2.280000e+03,4.620000e+03,3.329000e+04,1.558335e+04
PLong,9601139.0,3.754761e+01,4.441376e-02,37.437271,3.751424e+01,3.754693e+01,3.757324e+01,3.768972e+01,3.768085e+01
PLatd,9601139.0,1.269908e+02,8.257065e-02,126.798599,1.269200e+02,1.269943e+02,1.270618e+02,1.271803e+02,1.272385e+02
DLong,9601139.0,3.754770e+01,4.445305e-02,37.437271,3.751424e+01,3.754655e+01,3.757324e+01,3.768972e+01,3.768105e+01
DLatd,9601139.0,1.269907e+02,8.323726e-02,126.798599,1.269194e+02,1.269947e+02,1.270624e+02,1.271803e+02,1.272404e+02
Haversine,9601139.0,1.870315e+00,1.995361e+00,0.000000,6.758669e-01,1.257498e+00,2.363812e+00,2.863448e+01,7.856398e+00
Pmonth,9601139.0,7.578754e+00,2.696797e+00,1.000000,6.000000e+00,8.000000e+00,1.000000e+01,1.200000e+01,1.566915e+01
Pday,9601139.0,1.576714e+01,8.748012e+00,1.000000,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01,4.201117e+01
Phour,9601139.0,1.437801e+01,6.249244e+00,0.000000,1.000000e+01,1.600000e+01,1.900000e+01,2.300000e+01,3.312574e+01
Pmin,9601139.0,2.914948e+01,1.725837e+01,0.000000,1.400000e+01,2.900000e+01,4.400000e+01,5.900000e+01,8.092458e+01
PDweek,9601139.0,2.943812e+00,1.976063e+00,0.000000,1.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00,8.872000e+00
Dmonth,9601139.0,7.579198e+00,2.696781e+00,1.000000,6.000000e+00,8.000000e+00,1.000000e+01,1.200000e+01,1.566954e+01
Dday,9601139.0,1.576666e+01,8.747788e+00,1.000000,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01,4.201002e+01
Dhour,9601139.0,1.442620e+01,6.484493e+00,0.000000,1.000000e+01,1.600000e+01,2.000000e+01,2.300000e+01,3.387968e+01
Dmin,9601139.0,2.999278e+01,1.730960e+01,0.000000,1.500000e+01,3.000000e+01,4.500000e+01,5.900000e+01,8.192158e+01
DDweek,9601139.0,2.945771e+00,1.977624e+00,0.000000,1.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00,8.878641e+00
Temp,9601139.0,1.856201e+01,9.498075e+00,-17.800000,1.220000e+01,2.010000e+01,2.550000e+01,3.940000e+01,4.705623e+01
Precip,9601139.0,1.784856e-02,3.736282e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.500000e+01,1.138733e+00
Wind,9601139.0,1.819274e+00,9.710258e-01,0.000000,1.100000e+00,1.700000e+00,2.400000e+00,7.400000e+00,4.732351e+00
Humid,9601139.0,5.397565e+01,1.742159e+01,10.000000,4.100000e+01,5.300000e+01,6.700000e+01,9.800000e+01,1.062404e+02
Solar,9601139.0,7.300679e-01,9.175004e-01,0.000000,0.000000e+00,2.700000e-01,1.260000e+00,3.520000e+00,3.482569e+00
Snow,9601139.0,9.948924e-03,1.628091e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,8.800000e+00,4.983762e-01
GroundTemp,9601139.0,2.072376e+01,1.265221e+01,-13.600000,1.160000e+01,2.110000e+01,2.850000e+01,6.220000e+01,5.868039e+01
Dust,9601139.0,3.245798e+01,2.407264e+01,0.000000,1.600000e+01,2.700000e+01,4.200000e+01,3.040000e+02,1.046759e+02
Duration_per_Distance,9601139.0,1.673257e+02,1.639180e+02,0.017241,1.214118e+02,1.614912e+02,2.025000e+02,3.150000e+04,6.590795e+02

In [56]:
df['Duration'].mean()

25.80293723484266

In [62]:
Duration_Upper_limit = (df['Duration'].std() * 3) + df['Duration'].mean()

In [63]:
Duration_Upper_limit

100.93291746262551

In [54]:
Duration_Outliers = df[df['Duration'] > df_describeDF.loc['Duration','Upper Limit']]

In [55]:
Duration_Outliers.sample(10)

,Unnamed: 0,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,...,DDweek,Temp,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance
492772,501930,104,22250,37.615299,127.064468,37.622662,127.061897,0.849467,3,14,...,3,16.2,0.0,2.0,71.0,0.00,0.0,11.9,21.0,213.942308
5599757,5741609,106,14260,37.585655,127.075050,37.585655,127.075050,0.000000,9,4,...,1,25.1,0.0,3.1,49.0,0.18,0.0,22.9,16.0,134.528302
1720835,1765961,103,2020,37.613956,127.030251,37.627335,127.026054,1.532915,5,11,...,4,17.9,0.0,3.1,37.0,0.36,0.0,20.9,29.0,19.611650
8210180,8420862,110,27660,37.496914,127.024963,37.568577,126.824776,19.367401,11,1,...,3,14.7,0.0,2.0,32.0,1.13,0.0,15.5,0.0,251.454545
1958527,2011980,102,13510,37.510548,126.944847,37.558197,126.844261,10.331357,5,21,...,0,22.7,0.0,1.9,42.0,1.13,0.0,30.5,40.0,132.450980
6796387,6972571,110,2830,37.542816,127.042084,37.543179,127.049080,0.618130,9,30,...,6,21.1,0.0,4.6,42.0,2.74,0.0,35.5,22.0,25.727273
4565591,4681294,113,7380,37.545418,127.052643,37.542580,127.063309,0.991906,8,3,...,5,30.2,0.0,0.8,62.0,0.00,0.0,28.8,25.0,65.309735
8776954,8997769,107,6700,37.596020,127.059830,37.582455,127.044495,2.025059,11,18,...,6,9.2,0.0,2.5,47.0,1.37,0.0,15.6,37.0,62.616822
4594660,4711156,103,8840,37.508091,127.063103,37.538582,127.122803,6.262140,8,5,...,6,27.5,0.0,2.7,83.0,0.00,0.0,27.1,27.0,85.825243
2756314,2831719,101,3510,37.602798,127.067268,37.602627,127.041634,2.258320,6,12,...,1,26.2,0.0,3.8,47.0,2.45,0.0,36.7,16.0,34.752475

In [58]:
Duration_Outliers.shape[0]/df.shape[0]

0.023986529098266363

2% of rows contain Duration outliers

In [59]:
df.shape

(9601139, 27)

In [64]:
df_NoOutliers = df[df['Duration'] < Duration_Upper_limit]

In [65]:
df_NoOutliers['Duration'].max()

100

In [66]:
df_NoOutliers.shape

(9370841, 27)

In [69]:
for i in df_NoOutliers.columns:
    Upper_Limit = df[i].mean() + (df[i].std() * 3)
    df_NoOutliers = df_NoOutliers[df_NoOutliers[i] < Upper_Limit]

In [70]:
df_NoOutliers.shape

(8815531, 27)

In [71]:
1 - (df_NoOutliers.shape[0]/df.shape[0])

0.08182445853559661

8% of rows included outliers and were removed from the df

In [73]:
print(df['Duration'].mean(),
df_NoOutliers['Duration'].mean())

25.80293723484266 22.5487592295915

Dropping outliers reduced duration mean time by 3 minutes

# Data Wrangling

# Duration per Distance

In [77]:
df_NoOutliers['Duration_per_Distance'] = df_NoOutliers['Distance']/df_NoOutliers['Duration']

In [78]:
df_NoOutliers['Duration_per_Distance'].mean()

161.783379293412

In [79]:
df_NoOutliers.head()

,Unnamed: 0,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,...,DDweek,Temp,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance
0,0,3,50,37.544666,126.888359,37.544666,126.888359,0.000000,1,1,...,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,16.666667
1,1,24,7670,37.506199,127.003944,37.551250,127.035103,5.713529,1,1,...,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,319.583333
2,2,8,1390,37.544590,127.057083,37.537014,127.061096,0.913702,1,1,...,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,173.750000
3,3,8,1820,37.571102,127.023560,37.561447,127.034920,1.468027,1,1,...,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,227.500000
4,4,4,850,37.573242,127.015907,37.565849,127.016403,0.823227,1,1,...,0,-3.2,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,212.500000

In [81]:
df_NoOutliers = df_NoOutliers.drop('Unnamed: 0',axis=1)

In [82]:
df_NoOutliers.columns

Index(['Duration', 'Distance', 'PLong', 'PLatd', 'DLong', 'DLatd', 'Haversine',
       'Pmonth', 'Pday', 'Phour', 'Pmin', 'PDweek', 'Dmonth', 'Dday', 'Dhour',
       'Dmin', 'DDweek', 'Temp', 'Precip', 'Wind', 'Humid', 'Solar', 'Snow',
       'GroundTemp', 'Dust', 'Duration_per_Distance'],
      dtype='object')

Since I won't be using Latitude and Longitude information in terms of mapping locations for modeling purposes, I combined the pikcup Lat and Long into one column, as well as dropoff Lat & Long into one column as shown below

In [88]:
df_NoOutliers['Pickup Location'] = df_NoOutliers['PLong'] + df_NoOutliers['PLatd']

In [93]:
df_NoOutliers['Dropoff Location'] = df_NoOutliers['DLong'] + df_NoOutliers['DLatd']

In [84]:
df_NoOutliers.head()

,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,Phour,...,Precip,Wind,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance,PLong + PLatd,DLong + DLatd
0,3,50,37.544666,126.888359,37.544666,126.888359,0.000000,1,1,0,...,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,16.666667,164.433025,164.433025
1,24,7670,37.506199,127.003944,37.551250,127.035103,5.713529,1,1,0,...,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,319.583333,164.510143,164.586353
2,8,1390,37.544590,127.057083,37.537014,127.061096,0.913702,1,1,0,...,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,173.750000,164.601673,164.598110
3,8,1820,37.571102,127.023560,37.561447,127.034920,1.468027,1,1,0,...,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,227.500000,164.594662,164.596367
4,4,850,37.573242,127.015907,37.565849,127.016403,0.823227,1,1,0,...,0.0,0.5,40.0,0.0,0.0,-2.2,25.0,212.500000,164.589149,164.582252

# Exploratory Data Analysis

# Pickup & Droppoff Locations

In [94]:
df_NoOutliers['Pickup Location'].value_counts()

164.459087    54511
164.599052    48219
164.481304    46846
164.614086    39328
164.410622    34914
              ...
164.696663        9
164.377422        7
164.632916        7
164.598370        4
164.575737        2
Name: Pickup Location, Length: 1512, dtype: int64

1,512 Pikcup Locations

In [95]:
df_NoOutliers['Dropoff Location'].value_counts()

164.481304    59980
164.599052    53932
164.459087    49217
164.614086    39664
164.611568    36097
              ...
164.502781        5
164.598370        3
164.377422        2
164.680035        1
164.324218        1
Name: Dropoff Location, Length: 1515, dtype: int64

1,515 Dropoff Locations

In [146]:
Drop_Locations = list(df_NoOutliers['Dropoff Location'].unique())

In [147]:
Pickup_Locations = list(df_NoOutliers['Pickup Location'].unique())

In [148]:
Locations = Drop_Locations + Pickup_Locations

In [149]:
Locations

[164.433025,
 164.586353,
 164.59811000000002,
 164.596367,
 164.58225199999998,
 164.581035,
 164.396255,
 164.47208799999999,
 164.592243,
 164.508889,
 164.546585,
 164.56824899999998,
 164.434261,
 164.635376,
 164.688199,
 164.44521400000002,
 164.597893,
 164.61435,
 164.625367,
 164.408184,
 164.49555900000001,
 164.45462799999999,
 164.495887,
 164.36634099999998,
 164.389416,
 164.494259,
 164.738251,
 164.565495,
 164.48456099999999,
 164.466454,
 164.626262,
 164.491836,
 164.429142,
 164.703438,
 164.618805,
 164.648109,
 164.50505099999998,
 164.670078,
 164.419185,
 164.591103,
 164.541698,
 164.605889,
 164.494797,
 164.539769,
 164.63734399999998,
 164.614086,
 164.61026,
 164.520828,
 164.577583,
 164.579063,
 164.387062,
 164.718101,
 164.588753,
 164.385223,
 164.508003,
 164.467129,
 164.53064,
 164.622501,
 164.58281,
 164.51495,
 164.481304,
 164.353248,
 164.40908100000001,
 164.611568,
 164.528286,
 164.665897,
 164.506759,
 164.52401,
 164.38350300000002,
 164.525059,
 164.596481,
 164.60531699999999,
 164.42942,
 164.525914,
 164.418464,
 164.56378899999999,
 164.544922,
 164.51923,
 164.600185,
 164.45639,
 164.613835,
 164.51817000000003,
 164.634807,
 164.65509100000003,
 164.702515,
 164.59173199999998,
 164.498631,
 164.597034,
 164.580757,
 164.505787,
 164.658752,
 164.487297,
 164.521877,
 164.37754,
 164.38392199999998,
 164.691101,
 164.63456,
 164.656853,
 164.566257,
 164.56119600000002,
 164.64407699999998,
 164.512867,
 164.559033,
 164.460465,
 164.466702,
 164.67001,
 164.466404,
 164.549881,
 164.555698,
 164.510143,
 164.621342,
 164.460102,
 164.619255,
 164.683696,
 164.61610100000001,
 164.411316,
 164.64278000000002,
 164.488129,
 164.612282,
 164.671795,
 164.629833,
 164.573174,
 164.640831,
 164.509876,
 164.599052,
 164.651699,
 164.55485199999998,
 164.60112800000002,
 164.598595,
 164.58335499999998,
 164.700421,
 164.356823,
 164.53281400000003,
 164.615249,
 164.61172499999998,
 164.493702,
 164.649131,
 164.664772,
 164.651058,
 164.637554,
 164.394855,
 164.540543,
 164.61874,
 164.444824,
 164.617897,
 164.58656299999998,
 164.636948,
 164.605763,
 164.42181399999998,
 164.603161,
 164.36773,
 164.65934,
 164.484527,
 164.65585000000002,
 164.461472,
 164.641388,
 164.41077,
 164.601753,
 164.536789,
 164.540451,
 164.67669999999998,
 164.658024,
 164.363003,
 164.405705,
 164.63665400000002,
 164.629963,
 164.520462,
 164.58180199999998,
 164.630241,
 164.498768,
 164.459087,
 164.607659,
 164.468456,
 164.70195,
 164.71098,
 164.446773,
 164.607518,
 164.65491500000002,
 164.672825,
 164.51635299999998,
 164.594662,
 164.433201,
 164.491016,
 164.553589,
 164.629226,
 164.685474,
 164.421158,
 164.670826,
 164.520073,
 164.573742,
 164.435787,
 164.461235,
 164.494903,
 164.56556,
 164.660087,
 164.643902,
 164.617569,
 164.712658,
 164.556744,
 164.64064,
 164.412895,
 164.610951,
 164.47113000000002,
 164.373634,
 164.632443,
 164.596112,
 164.49502999999999,
 164.67840999999999,
 164.560822,
 164.713928,
 164.544082,
 164.467849,
 164.546227,
 164.465786,
 164.41479900000002,
 164.52640100000002,
 164.57455,
 164.620193,
 164.595074,
 164.537606,
 164.4771,
 164.377002,
 164.384365,
 164.48306300000002,
 164.34518500000001,
 164.414493,
 164.588348,
 164.465031,
 164.426445,
 164.521965,
 164.479355,
 164.64356199999997,
 164.410622,
 164.635624,
 164.624653,
 164.431992,
 164.524166,
 164.596909,
 164.680645,
 164.47731,
 164.699368,
 164.514599,
 164.481483,
 164.40770400000002,
 164.38816,
 164.573521,
 164.53289,
 164.652562,
 164.45322,
 164.604793,
 164.468445,
 164.491028,
 164.442631,
 164.59441700000002,
 164.62695,
 164.43472,
 164.49262299999998,
 164.61330800000002,
 164.489078,
 164.381615,
 164.633297,
 164.459152,
 164.60463000000001,
 164.625248,
 164.464306,
 164.531658,
 164.43296800000002,
 164.492955,
 164.486225,
 164.64029,
 164.558098,
 164.607651,
 164.476571,
 164.625031,
 164.72908,
 164.4272,
 164.345752,
 164.560566,
 164.411926,
 164.394532,
 164.568115,
 164.623256,
 164.6101,
 164.70580999999999,
 164.629955,
 164.483917,
 164.413467,
 164.68343,
 164.424892,
 164.31978900000001,
 164.70494100000002,
 164.55093699999998,
 164.41632900000002,
 164.389485,
 164.64093,
 164.589519,
 164.59515399999998,
 164.397037,
 164.493798,
 164.619884,
 164.47483100000002,
 164.486049,
 164.679767,
 164.669373,
 164.675331,
 164.702698,
 164.357895,
 164.625152,
 164.50160599999998,
 164.689399,
 164.489258,
 164.70649300000002,
 164.566613,
 164.348453,
 164.413548,
 164.526401,
 164.611492,
 164.43579499999998,
 164.461899,
 164.74346500000001,
 164.541718,
 164.55308599999998,
 164.426739,
 164.682209,
 164.65225999999998,
 164.608699,
 164.60448100000002,
 164.419983,
 164.55829599999998,
 164.53556,
 164.394627,
 164.488434,
 164.52268300000003,
 164.368821,
 164.455395,
 164.420852,
 164.386261,
 164.566662,
 164.41016299999998,
 164.617065,
 164.428054,
 164.60890500000002,
 164.49830300000002,
 164.480293,
 164.461418,
 164.634674,
 164.556152,
 164.540844,
 164.471402,
 164.470527,
 164.512158,
 164.40245800000002,
 164.421486,
 164.465615,
 164.521545,
 164.46526799999998,
 164.587486,
 164.589149,
 164.504448,
 164.505123,
 164.607052,
 164.536648,
 164.547245,
 164.694298,
 164.41029,
 164.492874,
 164.413318,
 164.36149999999998,
 164.711376,
 164.514278,
 164.712493,
 164.61694,
 164.317314,
 164.61399,
 164.430721,
 164.611336,
 164.492672,
 164.593567,
 164.479496,
 164.640396,
 164.627873,
 164.599151,
 164.649093,
 164.533528,
 164.53163899999998,
 164.60646,
 164.508976,
 164.63731,
 164.65189,
 164.39004599999998,
 164.573257,
 164.692352,
 164.56350000000003,
 164.535301,
 164.63189599999998,
 164.550007,
 164.44653,
 164.367871,
 164.49201599999998,
 164.472405,
 164.506607,
 164.55902500000002,
 164.489628,
 164.485187,
 164.512501,
 164.687119,
 164.382756,
 164.563335,
 164.59840400000002,
 164.36744700000003,
 164.529858,
 164.464832,
 164.587345,
 164.58973,
 164.53173900000002,
 164.434185,
 164.530925,
 164.44042199999998,
 164.40381200000002,
 164.495273,
 164.59874,
 164.611042,
 164.476337,
 164.391903,
 164.43855299999998,
 164.446865,
 164.39673299999998,
 164.486774,
 164.670128,
 164.503311,
 164.662872,
 164.693424,
 164.585022,
 164.693237,
 164.516079,
 164.565247,
 164.486046,
 164.55796,
 164.561775,
 164.626613,
 164.53249,
 164.603878,
 164.408451,
 164.485371,
 164.368595,
 164.485466,
 164.382317,
 164.638073,
 164.681659,
 164.440579,
 164.501983,
 164.545861,
 164.66644200000002,
 164.520973,
 164.399643,
 164.662235,
 164.63002,
 164.367588,
 164.635735,
 164.51889,
 164.467674,
 164.480285,
 164.620236,
 164.498279,
 164.636315,
 164.571194,
 164.666034,
 164.562401,
 164.48486,
 164.44541099999998,
 164.681218,
 164.579826,
 164.47269,
 164.671135,
 164.56925999999999,
 164.497307,
 164.694099,
 164.702404,
 164.454883,
 164.531388,
 164.555233,
 164.471363,
 164.352405,
 164.431984,
 164.65588,
 164.556236,
 164.509689,
 164.468559,
 164.653896,
 164.4697,
 164.385471,
 164.64426100000003,
 164.57655,
 164.46746100000001,
 164.32559600000002,
 164.392132,
 164.625229,
 164.529358,
 164.615158,
 164.405777,
 164.463291,
 164.54978499999999,
 164.46708700000002,
 164.549602,
 164.494274,
 164.601673,
 164.365803,
 164.676182,
 164.610665,
 164.623955,
 164.48576,
 164.71727400000003,
 164.459743,
 164.476311,
 164.463508,
 164.714054,
 164.54174,
 164.56441099999998,
 164.706513,
 164.388512,
 164.527363,
 164.462425,
 164.70425,
 164.409111,
 164.472995,
 164.466541,
 164.327831,
 164.546654,
 164.70493000000002,
 164.663346,
 164.582317,
 164.54141199999998,
 164.491612,
 164.646148,
 164.450382,
 164.431747,
 164.439018,
 164.480339,
 164.592297,
 164.50449,
 164.587578,
 164.73538200000002,
 164.442688,
 164.476841,
 164.594929,
 164.586758,
 164.568081,
 164.33799299999998,
 164.578965,
 164.70001200000002,
 164.594177,
 164.446178,
 164.48157500000002,
 164.692047,
 164.5649,
 164.600815,
 164.497189,
 164.487175,
 164.619461,
 164.528518,
 164.453346,
 164.61552,
 164.537281,
 164.658592,
 164.549812,
 164.553143,
 164.44365299999998,
 164.527931,
 164.461163,
 164.561455,
 164.575454,
 164.495292,
 164.555454,
 164.561329,
 164.564053,
 164.51693,
 164.553783,
 164.546345,
 164.57143,
 164.394588,
 164.74667,
 164.36530299999998,
 164.589191,
 164.551445,
 164.635636,
 164.564335,
 164.579376,
 164.684559,
 164.604191,
 164.522015,
 164.565067,
 164.558586,
 164.709652,
 164.526188,
 164.432534,
 164.575367,
 164.732968,
 164.54969,
 164.476013,
 164.438954,
 164.414314,
 164.56239,
 164.54904499999998,
 164.495972,
 164.617771,
 164.66417,
 164.66596600000003,
 164.552494,
 164.708336,
 164.509297,
 164.568287,
 164.42654000000002,
 164.58214199999998,
 164.603619,
 164.45526500000003,
 164.516708,
 164.574017,
 164.710995,
 164.534198,
 164.52496399999998,
 164.65123,
 164.662651,
 164.510242,
 164.525982,
 164.598854,
 164.54471900000001,
 164.513131,
 164.72193199999998,
 164.50412400000002,
 164.41891900000002,
 164.439526,
 164.474987,
 164.633487,
 164.72468899999998,
 164.494278,
 164.397114,
 164.38412499999998,
 164.66652299999998,
 164.579205,
 164.35247800000002,
 164.379528,
 164.72542900000002,
 164.543366,
 164.602676,
 164.552185,
 164.48469500000002,
 164.704682,
 164.716652,
 164.610374,
 164.415756,
 164.654358,
 164.65509,
 164.630642,
 164.554039,
 164.73203999999998,
 164.603837,
 164.54724099999999,
 164.553993,
 164.739239,
 164.36633,
 164.54634800000002,
 164.422054,
 164.499363,
 164.69875,
 164.358128,
 164.538067,
 164.452481,
 164.462174,
 164.452446,
 164.644207,
 164.628605,
 164.612289,
 164.521515,
 164.348278,
 164.633815,
 164.62751,
 164.446621,
 164.64946399999997,
 164.399819,
 164.572983,
 164.39906,
 164.42580099999998,
 164.401272,
 164.620079,
 164.451603,
 164.72887,
 164.633998,
 164.563183,
 164.385902,
 164.6073,
 164.55085,
 164.406788,
 164.593808,
 164.548897,
 164.388935,
 164.452453,
 164.589588,
 164.620461,
 164.620137,
 164.61486000000002,
 164.614128,
 164.455898,
 164.470112,
 164.613118,
 164.395992,
 164.603661,
 164.562454,
 164.35531600000002,
 164.652359,
 164.38856099999998,
 164.460666,
 164.609852,
 164.467804,
 164.447181,
 164.3539,
 164.42001299999998,
 164.64363500000002,
 164.472305,
 164.543907,
 164.48756400000002,
 164.60103600000002,
 164.529175,
 164.380211,
 164.48654200000001,
 164.57436,
 164.509262,
 164.399498,
 164.582088,
 164.606854,
 164.557969,
 164.429283,
 164.53965699999998,
 164.528732,
 164.668434,
 164.516098,
 164.443859,
 164.452514,
 164.667157,
 164.348992,
 164.604694,
 164.455619,
 164.659443,
 164.503295,
 164.52213,
 164.392677,
 164.691066,
 164.51676200000003,
 164.62994700000002,
 164.642334,
 164.70529499999998,
 164.71843,
 164.429134,
 164.678028,
 164.55107900000002,
 164.660412,
 164.60364199999998,
 164.67928,
 164.443486,
 164.39335300000002,
 164.519005,
 164.637406,
 164.653686,
 164.52242999999999,
 164.5411,
 164.71583900000002,
 164.66193800000002,
 164.653386,
 164.696991,
 164.590549,
 164.532543,
 164.661068,
 164.36335,
 164.65925199999998,
 164.727444,
 164.545547,
 164.625618,
 164.446308,
 164.722435,
 164.568608,
 164.635579,
 164.673801,
 164.555839,
 164.423859,
 164.518219,
 164.608849,
 164.731754,
 164.600697,
 164.365547,
 164.499996,
 164.47926999999999,
 164.632656,
 164.408776,
 164.67499899999999,
 164.445187,
 164.589958,
 164.500744,
 164.674309,
 164.540378,
 164.701992,
 164.499428,
 164.49047099999999,
 164.70127100000002,
 164.632122,
 164.462677,
 164.58231,
 164.670833,
 164.69667800000002,
 164.374401,
 164.475582,
 164.41962,
 164.56923700000002,
 164.449444,
 164.592259,
 164.606881,
 164.542652,
 164.48748,
 164.52708,
 164.596627,
 164.514069,
 164.670322,
 164.508663,
 164.37005299999998,
 164.353145,
 164.368347,
 164.385449,
 164.53053699999998,
 164.659668,
 164.692974,
 164.414817,
 164.37383699999998,
 164.50518399999999,
 164.38948399999998,
 164.421432,
 164.580414,
 164.406308,
 164.379463,
 164.385372,
 164.388782,
 164.669232,
 164.67964899999998,
 164.667969,
 164.437439,
 164.39206000000001,
 164.667163,
 164.452572,
 164.65268,
 164.576908,
 164.35750199999998,
 164.697719,
 164.679959,
 164.718693,
 164.417671,
 164.462666,
 164.50428,
 164.351097,
 164.48294099999998,
 164.51151199999998,
 164.628109,
 164.392331,
 164.50403599999999,
 164.475437,
 164.365891,
 164.457467,
 164.387317,
 164.466194,
 164.71573999999998,
 164.411026,
 164.542728,
 164.471973,
 164.65053899999998,
 164.353497,
 164.47709600000002,
 164.661213,
 164.404651,
 164.696732,
 164.70400999999998,
 164.373833,
 164.70787,
 164.570458,
 164.540088,
 164.51328999999998,
 164.653389,
 164.542236,
 164.524589,
 164.45742,
 164.372383,
 164.643982,
 164.470317,
 164.730557,
 164.36005699999998,
 164.401287,
 164.440861,
 164.364853,
 164.385559,
 164.446758,
 164.615273,
 164.35815,
 164.553138,
 164.555149,
 164.564087,
 164.601833,
 164.530224,
 164.36317,
 164.598061,
 164.370457,
 164.42013500000002,
 164.355934,
 164.49820699999998,
 164.653545,
 164.599144,
 164.561287,
 164.692578,
 164.469467,
 164.671303,
 164.552617,
 164.673362,
 164.381637,
 164.538742,
 164.572906,
 164.709473,
 164.60233300000002,
 164.375545,
 164.593338,
 164.565937,
 164.45531499999998,
 164.57935700000002,
 164.40722200000002,
 164.45441399999999,
 164.710289,
 164.614651,
 164.65383500000002,
 164.688,
 164.557285,
 164.671631,
 164.374207,
 164.636928,
 164.666367,
 164.338074,
 164.508049,
 164.61814900000002,
 164.617557,
 164.605259,
 164.383183,
 164.600795,
 164.38625,
 164.622196,
 164.629551,
 164.565189,
 164.504764,
 164.685749,
 164.728367,
 164.353195,
 164.51933300000002,
 164.395008,
 164.56865299999998,
 164.726559,
 164.548362,
 164.430733,
 164.355248,
 164.351413,
 164.463074,
 164.57725499999998,
 164.56971400000003,
 164.661385,
 164.728531,
 164.61368199999998,
 164.624382,
 164.38823000000002,
 164.532994,
 164.67403000000002,
 164.48080099999999,
 164.56079499999998,
 164.746392,
 164.57453900000002,
 164.60828,
 164.35357299999998,
 164.49659,
 164.518203,
 164.346698,
 164.56941999999998,
 164.502675,
 164.600978,
 164.378921,
 164.667228,
 164.497891,
 164.692936,
 164.37371,
 164.598812,
 164.469006,
 164.57304399999998,
 164.565522,
 164.454014,
 164.36943399999998,
 164.581581,
 164.381882,
 164.557724,
 164.5088,
 164.689239,
 164.75587000000002,
 164.394276,
 ...]

In [135]:
len(Locations)

3028

In [151]:
Unique_Locations = []

In [152]:
 
for i in Locations:
    if i not in Unique_Locations:
        Unique_Locations.append(i)

In [154]:
len(Unique_Locations)

1516

1,516 Unique Locations

In [157]:
Pickup_DropOff_Combinations = len(Unique_Locations) * len(Unique_Locations)

# Total Possible Pickup & Dropoff Locations Possible

In [165]:
print('There are', "{:,}".format(Pickup_DropOff_Combinations), 'possible pickup and dropoff combinations')

There are 2,298,256 possible pickup and dropoff combinations

In [166]:
df_NoOutliers['P_D']= df_NoOutliers['Dropoff Location'] + df_NoOutliers['Pickup Location']

In [175]:
Total_Pickup_Dropoff_Combinations_Used = "{:,}".format(df_NoOutliers['P_D'].value_counts().count())

In [176]:
Total_Pickup_Dropoff_Combinations_Used

'150,327'

# Total Pickup & Dropoff Locations Actually Used

In [177]:
print('There were',Total_Pickup_Dropoff_Combinations_Used , 'pickup and dropoff combinations actually used')

There were 150,327 pickup and dropoff combinations actually used

# Rentals With Same Pickup & Dropoff Locations

In [98]:
Same_Locations = df_NoOutliers[df_NoOutliers['Dropoff Location'] == df_NoOutliers['Pickup Location']]['Pickup Location'].count()

In [99]:
Same_Locations/df_NoOutliers.shape[0]

0.09236709620781777

# Rentals With Different Pickup & Dropoff Locations

In [100]:
Different_Locations = ( df_NoOutliers.shape[0] - Same_Locations)/df_NoOutliers.shape[0]

In [101]:
Different_Locations

0.9076329037921822

90% of rentals have a different pickcup & dropoff location

In [102]:
df_NoOutliers['Diff P_D Locations'] = df_NoOutliers.apply(lambda x: 0 if x['Pickup Location'] == x['Dropoff Location'] else (1),axis =1)

In [104]:
df_NoOutliers.sample(10)

,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,Phour,...,Wind,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance,Pickup Location,Dropoff Location,Diff P_D Locations
3758632,16,3010,37.547691,126.919983,37.539272,126.945915,2.470545,7,11,22,...,1.2,79.0,0.00,0.0,25.1,16.0,188.125000,164.467674,164.485187,1
9423087,2,410,37.541805,127.124718,37.545219,127.125916,0.394040,12,19,16,...,1.8,24.0,0.56,0.0,6.3,32.0,205.000000,164.666523,164.671135,1
8700671,15,2810,37.573112,126.922447,37.567966,126.931725,0.998030,11,15,22,...,0.4,53.0,0.00,0.0,5.1,66.0,187.333333,164.495559,164.499691,1
233582,3,860,37.575802,126.890739,37.579399,126.889160,0.423483,2,17,8,...,1.7,30.0,0.04,0.0,-6.6,63.0,286.666667,164.466541,164.468559,1
8337013,25,2680,37.479084,126.879044,37.470230,126.895073,1.723404,11,4,18,...,2.6,46.0,0.01,0.0,11.5,28.0,107.200000,164.358128,164.365303,1
3434910,10,1120,37.514240,126.882874,37.510010,126.882050,0.475937,7,2,18,...,1.9,87.0,0.25,0.0,25.5,0.0,112.000000,164.397114,164.392060,1
4354522,84,11890,37.491131,127.125809,37.491131,127.125809,0.000000,7,27,23,...,1.2,76.0,0.00,0.0,28.8,26.0,141.547619,164.616940,164.616940,0
2361347,22,2710,37.583881,127.017097,37.592617,126.997932,1.948141,6,2,6,...,1.3,68.0,0.05,0.0,15.8,26.0,123.181818,164.600978,164.590549,1
4950095,5,850,37.566383,126.987206,37.566730,126.996605,0.829310,8,16,17,...,2.2,37.0,1.74,0.0,44.4,8.0,170.000000,164.553589,164.563335,1
4564581,8,1030,37.564697,126.912613,37.557510,126.918503,0.952993,8,4,0,...,1.7,61.0,0.00,0.0,28.4,21.0,128.750000,164.477310,164.476013,1

In [178]:
df_NoOutliers.head()

,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,Phour,...,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance,Pickup Location,Dropoff Location,Diff P_D Locations,P_D
0,3,50,37.544666,126.888359,37.544666,126.888359,0.000000,1,1,0,...,40.0,0.0,0.0,-2.2,25.0,16.666667,164.433025,164.433025,0,328.866050
1,24,7670,37.506199,127.003944,37.551250,127.035103,5.713529,1,1,0,...,40.0,0.0,0.0,-2.2,25.0,319.583333,164.510143,164.586353,1,329.096496
2,8,1390,37.544590,127.057083,37.537014,127.061096,0.913702,1,1,0,...,40.0,0.0,0.0,-2.2,25.0,173.750000,164.601673,164.598110,1,329.199783
3,8,1820,37.571102,127.023560,37.561447,127.034920,1.468027,1,1,0,...,40.0,0.0,0.0,-2.2,25.0,227.500000,164.594662,164.596367,1,329.191029
4,4,850,37.573242,127.015907,37.565849,127.016403,0.823227,1,1,0,...,40.0,0.0,0.0,-2.2,25.0,212.500000,164.589149,164.582252,1,329.171401

In [180]:
df_NoOutliers['Pickup Location'].value_counts()

164.459087    54511
164.599052    48219
164.481304    46846
164.614086    39328
164.410622    34914
              ...
164.696663        9
164.377422        7
164.632916        7
164.598370        4
164.575737        2
Name: Pickup Location, Length: 1512, dtype: int64

In [183]:
df_NoOutliers[df_NoOutliers['Pickup Location'] == 164.459087]['Pickup Location'].count()

54511

In [189]:
df_NoOutliers[df_NoOutliers['Dropoff Location'] == 164.459087]['Dropoff Location'].count()

49217

In [252]:
Pickup_Dropoff_db = pd.DataFrame(index=range(1,1517))

In [253]:
Pickup_Dropoff_db

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]

[1516 rows x 0 columns]

In [254]:
Pickup_Dropoff_db['Locations'] = Unique_Locations

In [255]:
Pickup_Dropoff_db

       Locations
1     164.433025
2     164.586353
3     164.598110
4     164.596367
5     164.582252
...          ...
1512  164.377422
1513  164.522808
1514  164.489593
1515  164.502781
1516  164.575737

[1516 rows x 1 columns]

In [256]:
Pickup_Dropoff_db['Locations'].iloc[0]

164.433025

In [257]:
Pickup_Dropoff_db['Pickups'] = ''
Pickup_Dropoff_db['Dropoffs'] = ''

In [258]:
Start = 0
End = 1516

while Start <= End:
    Pickup_Dropoff_db['Pickups'].iloc[Start] = df_NoOutliers['Pickup Location'][df_NoOutliers['Pickup Location'] == Pickup_Dropoff_db['Locations'].iloc[Start]].count()
    Start = Start + 1

<ipython-input-258-d88fa9a3f46c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pickup_Dropoff_db['Pickups'].iloc[Start] = df_NoOutliers['Pickup Location'][df_NoOutliers['Pickup Location'] == Pickup_Dropoff_db['Locations'].iloc[Start]].count()

IndexError: single positional indexer is out-of-bounds

In [259]:
Start = 0
End = 1516

while Start <= End:
    Pickup_Dropoff_db['Dropoffs'].iloc[Start] = df_NoOutliers['Dropoff Location'][df_NoOutliers['Dropoff Location'] == Pickup_Dropoff_db['Locations'].iloc[Start]].count()
    Start = Start + 1

<ipython-input-259-51a6b0d0306f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pickup_Dropoff_db['Dropoffs'].iloc[Start] = df_NoOutliers['Dropoff Location'][df_NoOutliers['Dropoff Location'] == Pickup_Dropoff_db['Locations'].iloc[Start]].count()

IndexError: single positional indexer is out-of-bounds

In [260]:
 Pickup_Dropoff_db

       Locations Pickups Dropoffs
1     164.433025    7737     9702
2     164.586353    9884    11435
3     164.598110    6013     6380
4     164.596367   11611    11304
5     164.582252   14054    12870
...          ...     ...      ...
1512  164.377422       7        2
1513  164.522808      25       22
1514  164.489593      17       16
1515  164.502781      10        5
1516  164.575737       2        0

[1516 rows x 3 columns]

In [261]:
df_NoOutliers['Dropoff Location'][df_NoOutliers['Dropoff Location'] == 164.433025].count()

9702

In [262]:
df_NoOutliers[df_NoOutliers['Dropoff Location'] == 164.433025].sample(5)

,Duration,Distance,PLong,PLatd,DLong,DLatd,Haversine,Pmonth,Pday,Phour,...,Humid,Solar,Snow,GroundTemp,Dust,Duration_per_Distance,Pickup Location,Dropoff Location,Diff P_D Locations,P_D
5182855,40,13060,37.538460,126.894508,37.544666,126.888359,0.877568,8,22,0,...,79.0,0.00,0.0,22.4,24.0,326.500000,164.432968,164.433025,1,328.865993
5793587,6,1150,37.538460,126.894508,37.544666,126.888359,0.877568,9,8,20,...,45.0,0.00,0.0,21.5,24.0,191.666667,164.432968,164.433025,1,328.865993
6516096,76,10640,37.497890,126.864502,37.544666,126.888359,5.610695,9,25,13,...,30.0,2.90,0.0,34.8,22.0,140.000000,164.362392,164.433025,1,328.795417
8172659,24,4120,37.525650,126.887817,37.544666,126.888359,2.115026,10,31,18,...,48.0,0.03,0.0,7.0,37.0,171.666667,164.413467,164.433025,1,328.846492
3870321,28,6090,37.526066,126.925537,37.544666,126.888359,3.876082,7,14,18,...,55.0,1.05,0.0,34.2,15.0,217.500000,164.451603,164.433025,1,328.884628

In [263]:
 Pickup_Dropoff_db['P-D_Difference'] =  Pickup_Dropoff_db['Pickups'] - Pickup_Dropoff_db['Dropoffs']

In [264]:
 Pickup_Dropoff_db['D-P_Difference'] =  Pickup_Dropoff_db['Dropoffs'] - Pickup_Dropoff_db['Pickups']

In [265]:
 Pickup_Dropoff_db

       Locations Pickups Dropoffs P-D_Difference D-P_Difference
1     164.433025    7737     9702          -1965           1965
2     164.586353    9884    11435          -1551           1551
3     164.598110    6013     6380           -367            367
4     164.596367   11611    11304            307           -307
5     164.582252   14054    12870           1184          -1184
...          ...     ...      ...            ...            ...
1512  164.377422       7        2              5             -5
1513  164.522808      25       22              3             -3
1514  164.489593      17       16              1             -1
1515  164.502781      10        5              5             -5
1516  164.575737       2        0              2             -2

[1516 rows x 5 columns]

In [266]:
 Pickup_Dropoff_db['P-D_Difference'].mean()

0.0

In [267]:
 Pickup_Dropoff_db['P-D_Difference'].sum()

0

In [268]:
 Pickup_Dropoff_db['P-D_Difference'].median()

10.0